<template>
  <div
    draggable="true"
    :id="val.uuid"
    :class="[{'comp': this.$store.state.isEdit}, val.class[0]]"
    :style="{
            width: styleVal.noneStyle.width, height: styleVal.noneStyle.height, minWidth: styleVal.noneStyle.minWidth, minHeight: styleVal.noneStyle.minHeight, maxWidth: styleVal.noneStyle.maxWidth,
            maxHeight: styleVal.noneStyle.maxHeight, position: styleVal.noneStyle.position, top: styleVal.noneStyle.top, left: styleVal.noneStyle.left, bottom: styleVal.noneStyle.bottom, right: styleVal.noneStyle.right, display: styleVal.noneStyle.display,
            paddingTop: styleVal.noneStyle.paddingTop, paddingRight: styleVal.noneStyle.paddingRight, paddingBottom: styleVal.noneStyle.paddingBottom,
            paddingLeft: styleVal.noneStyle.paddingLeft, marginTop: styleVal.noneStyle.marginTop, marginRight: styleVal.noneStyle.marginRight, marginBottom: styleVal.noneStyle.marginBottom,
            marginLeft: styleVal.noneStyle.marginLeft, float: styleVal.noneStyle.float, clear: styleVal.noneStyle.clear, overflow: styleVal.noneStyle.overflow, fontFamily: styleVal.noneStyle.fontFamily,
            fontKerning: styleVal.noneStyle.fontKerning, fontWeight: styleVal.noneStyle.fontWeight, color: styleVal.noneStyle.color, fontSize: styleVal.noneStyle.fontSize, fontStyle: styleVal.noneStyle.fontStyle,
            lineHeight: styleVal.noneStyle.lineHeight, textIndent: styleVal.noneStyle.textIndent, textAlign: styleVal.noneStyle.textAlign, textDecoration: styleVal.noneStyle.textDecoration,
            backgroundImage:'url(' + styleVal.noneStyle.backgroundImage + ')', backgroundSize: styleVal.noneStyle.backgroundSize, backgroundPosition: styleVal.noneStyle.backgroundPosition,
            backgroundRepeat: styleVal.noneStyle.backgroundRepeat, backgroundColor: styleVal.noneStyle.backgroundColor, direction: styleVal.noneStyle.direction,
            borderStyle: styleVal.noneStyle.borderStyle, borderColor: styleVal.noneStyle.borderColor, borderTopWidth: styleVal.noneStyle.borderTopWidth, borderRightWidth: styleVal.noneStyle.borderRightWidth,
            borderBottomWidth: styleVal.noneStyle.borderBottomWidth, borderLeftWidth: styleVal.noneStyle.borderLeftWidth, borderTopLeftRadius: styleVal.noneStyle.borderTopLeftRadius,
            transitionDuration: styleVal.noneStyle.transitionDuration, transitionTimingFunction: styleVal.noneStyle.transitionTimingFunction,
            borderTopRightRadius: styleVal.noneStyle.borderTopRightRadius, borderBottomLeftRadius: styleVal.noneStyle.borderBottomLeftRadius, columnCount: styleVal.noneStyle.columnCount,
            borderBottomRightRadius: styleVal.noneStyle.borderBottomRightRadius, boxShadow: styleVal.noneStyle.boxShadow, textShadow: styleVal.noneStyle.textShadow,
            transition: styleVal.noneStyle.transition, transform: styleVal.noneStyle.transform, opacity: styleVal.noneStyle.opacity, cursor: styleVal.noneStyle.cursor, zIndex: styleVal.noneStyle.zIndex, textTransform: styleVal.noneStyle.textTransform
        }"
    @mouseover="overHandle()"
    @mouseleave="leaveHandle()"
    @focus="focusHandle()"
    @blur="blurHandle()"
  >
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div
          class="sub-content"
          :style="{minHeight: styleVal.noneStyle.minHeight, borderStyle: styleVal.noneStyle.borderStyle, borderColor: styleVal.noneStyle.borderColor, borderTopWidth: styleVal.noneStyle.borderTopWidth, borderRightWidth: styleVal.noneStyle.borderRightWidth, borderBottomWidth: styleVal.noneStyle.borderBottomWidth, borderLeftWidth: styleVal.noneStyle.borderLeftWidth, height: '100%'}"
          :class="over2 ? 'over' : ''"
          @dragover.prevent.stop="over2 = true"
          @dragleave.prevent.stop="over2 = false"
          @drop.prevent.stop="drop2($event)"
        >
          <component
            :is="val.type"
            :class="val.uuid === id ? 'comp-active': ''"
            :val="val"
            :data-type="val.type"
            :data-uuid="val.uuid"
            v-for="(val, key) in widgetStore20"
            :key="key"
          ></component>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <div
          class="sub-content"
          :style="{minHeight: styleVal.noneStyle.minHeight, borderStyle: styleVal.noneStyle.borderStyle, borderColor: styleVal.noneStyle.borderColor, borderTopWidth: styleVal.noneStyle.borderTopWidth, borderRightWidth: styleVal.noneStyle.borderRightWidth, borderBottomWidth: styleVal.noneStyle.borderBottomWidth, borderLeftWidth: styleVal.noneStyle.borderLeftWidth, height: '100%'}"
          :class="over7 ? 'over' : ''"
          @dragover.prevent.stop="over7 = true"
          @dragleave.prevent.stop="over7 = false"
          @drop.prevent.stop="drop7($event)"
        >
          <component
            :is="val.type"
            :class="val.uuid === id ? 'comp-active': ''"
            :val="val"
            :data-type="val.type"
            :data-uuid="val.uuid"
            v-for="(val, key) in widgetStore70"
            :key="key"
          ></component>
        </div>
      </div>
    </div>
    <tool-bar :id="val.uuid"></tool-bar>
  </div>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'two-seven-column-comp'
export default {
  name: comp,
  setting: {
    title: '2/7 Column',
    icon: 'Asset-2674x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    class: [],
    noneStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '100px',
      minHeight: '300px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      right: 'auto',
      bottom: 'auto',
      display: 'block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: 'unset',
      fontKerning: 'normal',
      fontWeight: 500,
      fontStyle: 'normal',
      color: '#000000',
      fontSize: '12px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: 'unset',
      backgroundSize: 'cover',
      backgroundRepeat: 'no-repeat',
      backgroundPosition: 'center',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '1px',
      borderRightWidth: '1px',
      borderBottomWidth: '1px',
      borderLeftWidth: '1px',
      borderTopLeftRadius: '5px',
      borderTopRightRadius: '5px',
      borderBottomLeftRadius: '5px',
      borderBottomRightRadius: '5px',
      borderStyle: 'solid',
      borderColor: '#cccccc',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: 'unset',
      transitionDuration: 0,
      transitionTimingFunction: 'ease',
      transform: 'unset',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 'auto',
      textTransform: 'lowercase',
      columnCount: 'auto'
    },
    hoverStyle: {},
    focusStyle: {}
  },
  data () {
    return {
      over2: false,
      over7: false
    }
  },
  props: ['val'],
  computed: {
    widgetStore20 () {
      return this.$store.state.widgets.filter(
        i => i.parent === this.val.uuid && i.where === 'col-md-3-0'
      )
    },
    widgetStore70 () {
      return this.$store.state.widgets.filter(
        i => i.parent === this.val.uuid && i.where === 'col-md-9-0'
      )
    },
    id () {
      return this.$store.state.activeWidget.uuid
    },
    styleVal () {
      let style = this.$store.state.classes.find(i => {
        return i.name === this.val.class[0]
      })
      if (style !== undefined) {
        let noneStyle = Object.assign({}, this.val.noneStyle, style.noneStyle)
        let hoverStyle = Object.assign(
          {},
          this.val.hoverStyle,
          style.hoverStyle
        )
        let focusStyle = Object.assign(
          {},
          this.val.focusStyle,
          style.focusStyle
        )
        let data = {
          noneStyle: noneStyle,
          hoverStyle: hoverStyle,
          focusStyle: focusStyle
        }
        return data
      } else {
        return this.val
      }
    }
  },
  methods: {
    drop2 (e) {
      this.over2 = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', { item: data.data, after: this.val })
      } else {
        if (data.state) {
          if (data.data.uuid === this.val.uuid) return
          this.$store.dispatch('updateWidget', {
            item: data.data,
            parent: this.val.uuid,
            where: 'col-md-3-0'
          })
        } else {
          this.$store.dispatch('addWidget', {
            item: data.data,
            parent: this.val.uuid,
            where: 'col-md-3-0',
            childItems: data.childItems
          })
        }
      }
    },
    drop7 (e) {
      this.over7 = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.state) {
        if (data.data.uuid === this.val.uuid) return
        this.$store.dispatch('updateWidget', {
          item: data.data,
          parent: this.val.uuid,
          where: 'col-md-9-0'
        })
      } else {
        this.$store.dispatch('addWidget', {
          item: data.data,
          parent: this.val.uuid,
          where: 'col-md-9-0',
          childItems: data.childItems
        })
      }
    },
    overHandle () {
      let element = document.getElementById(this.val.uuid)
      let hoverItems = Object.keys(this.styleVal.hoverStyle)
      hoverItems.forEach((i, j) => {
        element.style[i] = this.styleVal.hoverStyle[i]
      })
    },
    leaveHandle () {
      let element = document.getElementById(this.val.uuid)
      let noneItems = Object.keys(this.styleVal.noneStyle)
      noneItems.forEach((i, j) => {
        element.style[i] = this.styleVal.noneStyle[i]
      })
    },
    focusHandle () {
      let element = document.getElementById(this.val.uuid)
      let focusItems = Object.keys(this.styleVal.focusHandle)
      focusItems.forEach((i, j) => {
        element.style[i] = this.styleVal.focusStyle[i]
      })
    },
    blurHandle () {
      this.leaveHandle()
    }
  },
  components: {
    toolBar
  }
}
</script>
