<template>
  <div
    :id="val.uuid"
    :class="[{over: over, 'comp': this.$store.state.isEdit}, val.class[0]]"
    :style="{
          width: val.noneStyle.width, height: val.noneStyle.height, minWidth: val.noneStyle.minWidth, minHeight: val.noneStyle.minHeight, fontStyle: val.noneStyle.fontStyle,
            maxWidth: val.noneStyle.maxWidth, maxHeight: val.noneStyle.maxHeight, position: val.noneStyle.position, top: val.noneStyle.top, right: val.noneStyle.right, bottom: val.noneStyle.bottom,
            left: val.noneStyle.left, display: val.noneStyle.display, paddingTop: val.noneStyle.paddingTop, paddingRight: val.noneStyle.paddingRight,
            paddingBottom: val.noneStyle.paddingBottom, paddingLeft: val.noneStyle.paddingLeft, marginTop: val.noneStyle.marginTop, marginRight: val.noneStyle.marginRight,
            marginBottom: val.noneStyle.marginBottom, marginLeft: val.noneStyle.marginLeft, float: val.noneStyle.float, clear: val.noneStyle.clear, overflow: val.noneStyle.overflow, fontFamily: val.noneStyle.fontFamily,
            fontWeight: val.noneStyle.fontWeight, fontKerning: val.noneStyle.fontKerning, color: val.noneStyle.color, lineHeight: val.noneStyle.lineHeight, textIndent: val.noneStyle.textIndent,
            textAlign: val.noneStyle.textAlign, textDecoration: val.noneStyle.textDecoration, backgroundImage:'url(' + val.noneStyle.backgroundImage + ')',
            backgroundColor: val.noneStyle.backgroundColor, direction: val.noneStyle.direction,borderTopWidth: val.noneStyle.borderTopWidth,
            borderRightWidth: val.noneStyle.borderRightWidth, borderBottomWidth: val.noneStyle.borderBottomWidth, borderLeftWidth: val.noneStyle.borderLeftWidth,
            borderColor: val.noneStyle.borderColor, borderStyle: val.noneStyle.borderStyle, borderTopLeftRadius: val.noneStyle.borderTopLeftRadius,
            borderTopRightRadius: val.noneStyle.borderTopRightRadius, borderBottomLeftRadius: val.noneStyle.borderBottomLeftRadius,
            transitionDuration: val.noneStyle.transitionDuration, transitionTimingFunction: val.noneStyle.transitionTimingFunction,
            borderBottomRightRadius: val.noneStyle.borderBottomRightRadius, boxShadow: val.noneStyle.boxShadow, textShadow: val.noneStyle.textShadow, columnCount: val.noneStyle.columnCount,
            transition: val.noneStyle.transition, transform: val.noneStyle.transform, opacity: val.noneStyle.opacity, cursor: val.noneStyle.cursor, zIndex: val.noneStyle.zIndex, textTransform: val.noneStyle.textTransform
      }"
    :contenteditable="this.$store.state.isEdit ===1 ? 'true' : 'false'"
    @mouseover="overHandle()"
    @mouseleave="leaveHandle()"
    @focus="focusHandle()"
    @dragover.prevent.stop="over = true"
    @dragleave.prevent.stop="over = false"
    @drop.prevent.stop="drop($event)"
    @blur="updateText($event)"
  >
    <div v-html="val.text"></div>
    <tool-bar :id="val.uuid" v-if="this.$store.state.isEdit"></tool-bar>
  </div>
</template>

<script>
import toolBar from './toolbar'
const comp = 'paragraph-comp'
export default {
  name: comp,
  setting: {
    title: 'Paragraph',
    icon: 'Asset-2594x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    href: '#',
    text: 'This is a paragraph',
    class: [],
    noneStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '100px',
      minHeight: '30px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      color: '#000000',
      fontSize: '15px',
      fontStyle: 'normal',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '0px',
      borderRightWidth: '0px',
      borderBottomWidth: '0px',
      borderLeftWidth: '0px',
      borderStyle: 'solid',
      borderColor: '#cccccc',
      borderTopLeftRadius: '5px',
      borderTopRightRadius: '5px',
      borderBottomLeftRadius: '5px',
      borderBottomRightRadius: '5px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: 'unset',
      transitionDuration: 0,
      transitionTimingFunction: 'ease',
      transform: 'unset',
      opacity: 1,
      cursor: 'text',
      zIndex: 'auto',
      textTransform: 'lowercase',
      columnCount: 'auto'
    },
    hoverStyle: {},
    focusStyle: {}
  },
  data () {
    return {
      over: false
    }
  },
  props: ['val'],
  computed: {
    id () {
      return this.$store.state.uuid
    },
    styleVal () {
      let style = this.$store.state.classes.find(i => {
        return i.name === this.val.class[0]
      })
      if (style !== undefined) {
        let noneStyle = Object.assign({}, this.val.noneStyle, style.noneStyle)
        let hoverStyle = Object.assign(
          {},
          this.val.hoverStyle,
          style.hoverStyle
        )
        let focusStyle = Object.assign(
          {},
          this.val.focusStyle,
          style.focusStyle
        )
        let data = {
          noneStyle: noneStyle,
          hoverStyle: hoverStyle,
          focusStyle: focusStyle
        }
        return data
      } else {
        return this.val
      }
    }
  },
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', { item: data.data, after: this.val })
      }
    },
    updateText (e) {
      let text = document.getElementById(this.val.uuid).querySelector('div')
        .innerHTML
      this.$store.commit('updateData', {
        id: this.val.uuid,
        key: 'text',
        value: text
      })
      this.leaveHandle()
    },
    overHandle () {
      let element = document.getElementById(this.val.uuid)
      let hoverItems = Object.keys(this.styleVal.hoverStyle)
      hoverItems.forEach((i, j) => {
        element.style[i] = this.styleVal.hoverStyle[i]
      })
    },
    leaveHandle () {
      let element = document.getElementById(this.val.uuid)
      let noneItems = Object.keys(this.styleVal.noneStyle)
      noneItems.forEach((i, j) => {
        element.style[i] = this.styleVal.noneStyle[i]
      })
    },
    focusHandle () {
      let element = document.getElementById(this.val.uuid)
      let focusItems = Object.keys(this.styleVal.focusHandle)
      focusItems.forEach((i, j) => {
        element.style[i] = this.styleVal.focusStyle[i]
      })
    }
  },
  components: {
    toolBar
  }
}
</script>
