<template>
  <div class="toolbar" v-if="uuid === $store.state.activeWidget.uuid">
    <button draggable="true" @dragstart="widgetMove($event)" class="tooltip">
      <i class="fas fa-arrows-alt"></i>
      <div class="toolbar-tooltip">
        <div>Move</div>
      </div>
    </button>
    <button draggable="true" @dragstart="widgetSort($event)" class="tooltip">
      <i class="fas fa-layer-group"></i>
      <div class="toolbar-tooltip">
        <div>Sort</div>
      </div>
    </button>
    <button class="tooltip" @click="codeEditorHandle">
      <i class="fas fa-code"></i>
      <div class="toolbar-tooltip">
        <div>Code</div>
      </div>
    </button>
    <button @click="widgetClone()" class="tooltip">
      <i class="fa fa-clone"></i>
      <div class="toolbar-tooltip">
        <div>Clone</div>
      </div>
    </button>
    <button @click="widgetRemove()" class="tooltip">
      <i class="fa fa-trash"></i>
      <div class="toolbar-tooltip">
        <div>Delete</div>
      </div>
    </button>
    <code-editor/>
  </div>
</template>

<script>
import eventBus from '../../../../event-bus.js'
import codeEditor from '../../../modal/code-editor.vue'
export default {
  data () {
    return {}
  },
  props: ['uuid'],
  components: {
    codeEditor
  },
  methods: {
    widgetMove (e) {
      let item = { data: this.activeWidget, state: 1 }
      e.dataTransfer.setData('item', JSON.stringify(item))
    },
    widgetSort (e) {
      let item = { data: this.activeWidget, state: 1, isSort: 1 }
      e.dataTransfer.setData('item', JSON.stringify(item))
    },
    widgetClone () {
      this.$store.commit('clone')
    },
    widgetRemove () {
      this.$store.commit('remove')
    },
    codeEditorHandle () {
      let htmlCode = ''
      if (this.openCode) {
        this.openCode = 0
      } else {
        this.openCode = 1
        htmlCode = document.getElementById(this.$store.state.activeWidget.uuid)
          .outerHTML
        htmlCode =
          htmlCode
            .replace(/style=".*?"/g, '')
            .replace(/data-[^=]*=".*?"/g, '')
            .replace(/<!-.*?->/g, '')
            .split('<div class="toolbar"')[0] + '</div>'
      }
      let payload = { openCode: this.openCode, htmlCode: htmlCode }
      eventBus.$emit('codeHandler', payload)
    }
  }
}
</script>
