<template>
  <button
    class="btn btn-primary"
    :id="val.uuid"
    :class="[{over: over, 'comp': this.$store.state.isEdit}, val.class[0]]"
    :style="{width: styleVal.noneStyle.width, height: styleVal.noneStyle.height, minWidth: styleVal.noneStyle.minWidth, minHeight: styleVal.noneStyle.minHeight, maxWidth: styleVal.noneStyle.maxWidth,
        maxHeight: styleVal.noneStyle.maxHeight, position: styleVal.noneStyle.position, top: styleVal.noneStyle.top, left: styleVal.noneStyle.left, bottom: styleVal.noneStyle.bottom, right: styleVal.noneStyle.right,
        display: styleVal.noneStyle.display, paddingTop: styleVal.noneStyle.paddingTop, paddingRight: styleVal.noneStyle.paddingRight, paddingBottom: styleVal.noneStyle.paddingBottom,
        paddingLeft: styleVal.noneStyle.paddingLeft, marginTop: styleVal.noneStyle.marginTop, marginRight: styleVal.noneStyle.marginRight, marginBottom: styleVal.noneStyle.marginBottom,
        marginLeft: styleVal.noneStyle.marginLeft, float: styleVal.noneStyle.float, clear: styleVal.noneStyle.clear, overflow: styleVal.noneStyle.overflow,
        fontFamily: styleVal.noneStyle.fontFamily, fontWeight: styleVal.noneStyle.fontWeight, fontKerning: styleVal.noneStyle.fontKerning, fontStyle: styleVal.noneStyle.fontStyle,
        color: styleVal.noneStyle.color, fontSize: styleVal.noneStyle.fontSize, lineHeight: styleVal.noneStyle.lineHeight, textIndent: styleVal.noneStyle.textIndent,
        textAlign: styleVal.noneStyle.textAlign, textDecoration: styleVal.noneStyle.textDecoration, backgroundImage:'url(' + styleVal.noneStyle.backgroundImage + ')',
        backgroundRepeat: styleVal.noneStyle.backgroundRepeat, backgroundPosition: styleVal.noneStyle.backgroundPosition, backgroundSize: styleVal.noneStyle.backgroundSize,
        backgroundColor: styleVal.noneStyle.backgroundColor, direction: styleVal.noneStyle.direction, borderStyle: styleVal.noneStyle.borderStyle,
        borderColor: styleVal.noneStyle.borderColor, borderTopWidth: styleVal.noneStyle.borderTopWidth, borderRightWidth: styleVal.noneStyle.borderRightWidth,
        borderBottomWidth: styleVal.noneStyle.borderBottomWidth, borderLeftWidth: styleVal.noneStyle.borderLeftWidth, borderTopLeftRadius: styleVal.noneStyle.borderTopLeftRadius,
        borderTopRightRadius: styleVal.noneStyle.borderTopRightRadius, borderBottomLeftRadius: styleVal.noneStyle.borderBottomLeftRadius, transitionDuration: val.noneStyle.transitionDuration,
        transitionTimingFunction: val.noneStyle.transitionTimingFunction, borderBottomRightRadius: styleVal.noneStyle.borderBottomRightRadius, boxShadow: styleVal.noneStyle.boxShadow,
        textShadow: styleVal.noneStyle.textShadow, transition: styleVal.noneStyle.transition, transform: styleVal.noneStyle.transform, opacity: styleVal.noneStyle.opacity,
        cursor: styleVal.noneStyle.cursor, zIndex: styleVal.noneStyle.zIndex, textTransform: styleVal.noneStyle.textTransform, columnCount: styleVal.noneStyle.columnCount}"
    @click="isOpen = !isOpen"
    @dragover.prevent.stop="over = true"
    @dragleave.prevent.stop="over = false"
    @drop.prevent.stop="drop($event)"
    @mouseover="overHandle()"
    @mouseleave="leaveHandle()"
    @focus="focusHandle()"
    @blur="blurHandle()"
  >
    {{val.title}}
    <i class="fa fa-caret-down"></i>
    <div class="dropdown-menu" :style="[isOpen === true ? {display: 'block'} : {display:'none'}]">
      <a
        class="dropdown-item"
        href="#"
        v-for="(item, i) in val.items"
        :key="i"
        @click="isOpen = 0"
      >{{item}}</a>
    </div>
    <tool-bar :uuid="val.uuid" v-if="this.$store.state.isEdit"></tool-bar>
  </button>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'dropdown-comp'
export default {
  name: comp,
  setting: {
    title: 'Dropdown',
    icon: 'Asset-2734x.png',
    type: comp,
    title: 'Dropdown',
    items: ['Apple', 'Pear', 'Peach', 'Grape', 'Banana'],
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    class: [],
    noneStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '100px',
      minHeight: '30px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'inline-block',
      paddingTop: '12px',
      paddingRight: '20px',
      paddingBottom: '12px',
      paddingLeft: '20px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: 'unset',
      fontKerning: 'normal',
      fontWeight: 500,
      fontStyle: 'normal',
      color: '#ffffff',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'center',
      textDecoration: 'none',
      textTransform: 'lowercase',
      backgroundImage: 'unset',
      backgroundRepeat: 'no-repeat',
      backgroundPosition: 'center',
      backgroundSize: 'cover',
      backgroundColor: '#267ede',
      direction: 'ltr',
      borderTopWidth: '0px',
      borderRight: '0px',
      borderBottom: '0px',
      borderLeft: '0px',
      borderStyle: 'solid',
      borderColor: '#000000',
      borderTopLeftRadius: '5px',
      borderTopRightRadius: '5px',
      borderBottomLeftRadius: '5px',
      borderBottomRightRadius: '5px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: 'unset',
      transitionDuration: 0,
      transitionTimingFunction: 'ease',
      transform: 'unset',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 'auto',
      columnCount: 'auto'
    },
    hoverStyle: {},
    focusStyle: {}
  },
  data () {
    return {
      isOpen: false,
      over: false
    }
  },
  computed: {
    id () {
      return this.$store.state.uuid
    },
    styleVal () {
      let style = this.$store.state.classes.find(i => {
        return i.name === this.val.class[0]
      })
      if (style !== undefined) {
        let noneStyle = Object.assign({}, this.val.noneStyle, style.noneStyle)
        let hoverStyle = Object.assign(
          {},
          this.val.hoverStyle,
          style.hoverStyle
        )
        let focusStyle = Object.assign(
          {},
          this.val.focusStyle,
          style.focusStyle
        )
        let data = {
          noneStyle: noneStyle,
          hoverStyle: hoverStyle,
          focusStyle: focusStyle
        }
        return data
      } else {
        return this.val
      }
    }
  },
  props: ['val'],
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', { item: data.data, after: this.val })
      }
    },
    overHandle () {
      let element = document.getElementById(this.val.uuid)
      let hoverItems = Object.keys(this.styleVal.hoverStyle)
      hoverItems.forEach((i, j) => {
        element.style[i] = this.styleVal.hoverStyle[i]
      })
    },
    leaveHandle () {
      let element = document.getElementById(this.val.uuid)
      let noneItems = Object.keys(this.styleVal.noneStyle)
      noneItems.forEach((i, j) => {
        element.style[i] = this.styleVal.noneStyle[i]
      })
    },
    focusHandle () {
      let element = document.getElementById(this.val.uuid)
      let focusItems = Object.keys(this.styleVal.focusHandle)
      focusItems.forEach((i, j) => {
        element.style[i] = this.styleVal.focusStyle[i]
      })
    },
    blurHandle () {
      this.leaveHandle()
    }
  },
  components: {
    toolBar
  }
}
</script>
