<template>
  <label
    :id="val.uuid"
    :style="{
    width: val.noneStyle.width, height: val.noneStyle.height, minWidth: val.noneStyle.minWidth, minHeight: val.noneStyle.minHeight, maxWidth: val.noneStyle.maxWidth,
      maxHeight: val.noneStyle.maxHeight, position: val.noneStyle.position, top: val.noneStyle.top, left: val.noneStyle.left, bottom: val.noneStyle.bottom, right: val.noneStyle.right,
      display: val.noneStyle.display, paddingTop: val.noneStyle.paddingTop, paddingRight: val.noneStyle.paddingRight, paddingBottom: val.noneStyle.paddingBottom,
      paddingLeft: val.noneStyle.paddingLeft, marginTop: val.noneStyle.marginTop, marginRight: val.noneStyle.marginRight, marginBottom: val.noneStyle.marginBottom,
      marginLeft: val.noneStyle.marginLeft, float: val.noneStyle.float, clear: val.noneStyle.clear, overflow: val.noneStyle.overflow,
      fontFamily: val.noneStyle.fontFamily, fontWeight: val.noneStyle.fontWeight, fontKerning: val.noneStyle.fontKerning, fontStyle: val.noneStyle.fontStyle,
      color: val.noneStyle.color, fontSize: val.noneStyle.fontSize, lineHeight: val.noneStyle.lineHeight, textIndent: val.noneStyle.textIndent,
      textAlign: val.noneStyle.textAlign, textDecoration: val.noneStyle.textDecoration, backgroundImage:'url(' + val.noneStyle.backgroundImage + ')',
      backgroundRepeat: val.noneStyle.backgroundRepeat, backgroundPosition: val.noneStyle.backgroundPosition, backgroundSize: val.noneStyle.backgroundSize,
      backgroundColor: val.noneStyle.backgroundColor, direction: val.noneStyle.direction, borderStyle: val.noneStyle.borderStyle,
      borderColor: val.noneStyle.borderColor, borderTopWidth: val.noneStyle.borderTopWidth, borderRightWidth: val.noneStyle.borderRightWidth,
      borderBottomWidth: val.noneStyle.borderBottomWidth, borderLeftWidth: val.noneStyle.borderLeftWidth, borderTopLeftRadius: val.noneStyle.borderTopLeftRadius,
      borderTopRightRadius: val.noneStyle.borderTopRightRadius, borderBottomLeftRadius: val.noneStyle.borderBottomLeftRadius,
      borderBottomRightRadius: val.noneStyle.borderBottomRightRadius, boxShadow: val.noneStyle.boxShadow,
      transitionDuration: val.noneStyle.transitionDuration, transitionTimingFunction: val.noneStyle.transitionTimingFunction,
      textShadow: val.noneStyle.textShadow, transition: val.noneStyle.transition, transform: val.noneStyle.transform,
      opacity: val.noneStyle.opacity, cursor: val.noneStyle.cursor, zIndex: val.noneStyle.zIndex, textTransform: val.noneStyle.textTransform, columnCount: val.noneStyle.columnCount
  }"
    :class="[{over: over, 'comp': this.$store.state.isEdit}, val.class[0]]"
    @dragover.prevent.stop="over = true"
    @dragleave.prevent.stop="over = false"
    @drop.prevent.stop="drop($event)"
    @mouseover.stop="overHandle()"
    @mouseleave.stop="leaveHandle()"
    @focus.stop="focusHandle()"
    @blur="blurHandle()"
  >
    <span>{{val.text}}</span>
    <tool-bar :uuid="val.uuid" v-if="this.$store.state.isEdit"></tool-bar>
  </label>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'form-label-comp'
export default {
  name: comp,
  setting: {
    title: 'Form Label',
    icon: 'Asset-2484x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    text: 'label',
    class: [],
    noneStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '150px',
      minHeight: '32px',
      maxWidth: '100%',
      maxHeight: '100%',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'inline-block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      fontStyle: 'normal',
      color: '#000000',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '0px',
      borderRightWidth: '0px',
      borderBottomWidth: '0px',
      borderLeftWidth: '0px',
      borderStyle: 'solid',
      borderColor: '#cccccc',
      borderTopLeftRadius: '0px',
      borderTopRightRadius: '0px',
      borderBottomLeftRadius: '0px',
      borderBottomRightRadius: '0px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: 'unset',
      transitionDuration: 0,
      transitionTimingFunction: 'ease',
      transform: 'unset',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 'auto',
      textTransform: 'lowercase',
      columnCount: 'auto'
    },
    hoverStyle: {},
    focusStyle: {}
  },
  data () {
    return {
      over: false
    }
  },
  props: ['val'],
  computed: {
    id () {
      return this.$store.state.uuid
    },
    styleVal () {
      let style = this.$store.state.classes.find(i => {
        return i.name === this.val.class[0]
      })
      if (style !== undefined) {
        let noneStyle = Object.assign({}, this.val.noneStyle, style.noneStyle)
        let hoverStyle = Object.assign(
          {},
          this.val.hoverStyle,
          style.hoverStyle
        )
        let focusStyle = Object.assign(
          {},
          this.val.focusStyle,
          style.focusStyle
        )
        let data = {
          noneStyle: noneStyle,
          hoverStyle: hoverStyle,
          focusStyle: focusStyle
        }
        return data
      } else {
        return this.val
      }
    }
  },
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', { item: data.data, after: this.val })
      }
    },
    overHandle () {
      let element = document.getElementById(this.val.uuid)
      let hoverItems = Object.keys(this.styleVal.hoverStyle)
      hoverItems.forEach((i, j) => {
        if (
          i !== 'marginTop' &&
          i !== 'marginLeft' &&
          i !== 'marginRight' &&
          i !== 'marginBottom'
        ) {
          element.style[i] = this.styleVal.hoverStyle[i]
        }
      })
    },
    leaveHandle () {
      let element = document.getElementById(this.val.uuid)
      let noneItems = Object.keys(this.styleVal.noneStyle)
      noneItems.forEach((i, j) => {
        if (
          i !== 'marginTop' &&
          i !== 'marginLeft' &&
          i !== 'marginRight' &&
          i !== 'marginBottom'
        ) {
          element.style[i] = this.styleVal.noneStyle[i]
        }
      })
    },
    focusHandle () {
      let element = document.getElementById(this.val.uuid)
      let focusItems = Object.keys(this.styleVal.focusHandle)
      focusItems.forEach((i, j) => {
        if (
          i !== 'marginTop' &&
          i !== 'marginLeft' &&
          i !== 'marginRight' &&
          i !== 'marginBottom'
        ) {
          element.style[i] = this.styleVal.focusStyle[i]
        }
      })
    },
    blurHandle () {
      this.leaveHandle()
    }
  },
  components: {
    toolBar
  }
}
</script>
