<template>
  <div
    :id="val.uuid"
    :class="[{'comp': this.$store.state.isEdit}, val.class[0]]"
    :style="{
        width: styleVal.noneStyle.width, height: styleVal.noneStyle.height, minWidth: styleVal.noneStyle.minWidth, minHeight: styleVal.noneStyle.minHeight, maxWidth: styleVal.noneStyle.maxWidth,
        maxHeight: styleVal.noneStyle.maxHeight,marginTop: styleVal.noneStyle.marginTop, marginRight: styleVal.noneStyle.marginRight, marginBottom: styleVal.noneStyle.marginBottom,
        marginLeft: styleVal.noneStyle.marginLeft, float: styleVal.noneStyle.float, verticalAlign: styleVal.verticalAlign, clear: styleVal.noneStyle.clear, zIndex: styleVal.noneStyle.zIndex,
        position: styleVal.position, top: styleVal.top, left: styleVal.left, bottom: styleVal.bottom, right: styleVal.right, display: styleVal.display
    }"
  >
    <img
      :src="val.src"
      class="sub-content full-size"
      :style="{
        minWidth: styleVal.noneStyle.minWidth, minHeight: styleVal.noneStyle.minHeight,paddingTop: styleVal.noneStyle.paddingTop,
        paddingRight: styleVal.noneStyle.paddingRight, paddingBottom: styleVal.noneStyle.paddingBottom, paddingLeft: styleVal.noneStyle.paddingLeft,
        overflow: styleVal.noneStyle.overflow, fontFamily: styleVal.noneStyle.fontFamily, fontKerning: styleVal.noneStyle.fontKerning,
        fontWeight: styleVal.noneStyle.fontWeight, color: styleVal.noneStyle.fontColor, fontSize: styleVal.noneStyle.fontSize,
        lineHeight: styleVal.noneStyle.lineHeight, textIndent: styleVal.noneStyle.textIndent, textAlign: styleVal.noneStyle.textAlign,
        textDecoration: styleVal.noneStyle.textDecoration, backgroundImage:'url(' + styleVal.noneStyle.backgroundImage + ')',
        backgroundRepeat: styleVal.noneStyle.backgroundRepeat, backgroundSize: styleVal.noneStyle.backgroundSize, backgroundPosition: styleVal.noneStyle.backgroundPosition,
        backgroundColor: styleVal.noneStyle.backgroundColor, direction: styleVal.noneStyle.direction, borderColor: styleVal.noneStyle.borderColor,
        borderStyle: styleVal.noneStyle.borderStyle, fontStyle: styleVal.noneStyle.fontStyle, borderTopWidth: styleVal.noneStyle.borderTopWidth,
        borderRightWidth: styleVal.noneStyle.borderRightWidth, borderBottomWidth: styleVal.noneStyle.borderBottomWidth,
        borderLeftWidth: styleVal.noneStyle.borderLeftWidth, borderTopLeftRadiusWidth: styleVal.noneStyle.borderTopLeftRadiusWidth,
        borderTopRightRadius: styleVal.noneStyle.borderTopRightRadius, borderBottomLeftRadius: styleVal.noneStyle.borderBottomLeftRadius,
        borderBottomRightRadius: styleVal.noneStyle.borderBottomRightRadius, boxShadow: styleVal.noneStyle.boxShadow, columnCount: styleVal.noneStyle.columnCount,
        textShadow: styleVal.noneStyle.textShadow, transition: styleVal.noneStyle.transition, transform: styleVal.noneStyle.transform,
        opacity: styleVal.noneStyle.opacity, cursor: styleVal.noneStyle.cursor, zIndex: styleVal.noneStyle.zIndex, textTransform: styleVal.noneStyle.textTransform}"
      :class="{over}"
      @dragover.prevent.stop="over = true"
      @dragleave.prevent.stop="over = false"
      @drop.prevent.stop="drop($event)"
      @mouseover="overHandle()"
      @mouseleave="leaveHandle()"
      @focus="focusHandle()"
      @blur="blurHandle()"
    >
    <tool-bar :uuid="val.uuid" v-if="this.$store.state.isEdit"></tool-bar>
  </div>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'image-comp'
export default {
  name: comp,
  setting: {
    title: 'Image',
    icon: 'Asset-2564x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: true,
    isChild: true,
    dragable: true,
    resizable: true,
    src: '',
    class: [],
    noneStyle: {
      width: '22vw',
      height: '13vw',
      minWidth: 'auto',
      minHeight: 'auto',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'inline-block',
      paddingTop: '0px',
      paddingRight: '0px',
      paddingBottom: '0px',
      paddingLeft: '0px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      fontStyle: 'normal',
      color: '#000000',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundRepeat: 'no-repeat',
      backgroundPosition: 'center',
      backgroundSize: 'cover',
      backgroundColor: 'transparent',
      direction: 'ltr',
      borderTopWidth: '0px',
      borderRightWidth: '0px',
      borderBottomWidth: '0px',
      borderLeftWidth: '0px',
      borderStyle: 'solid',
      borderColor: '#cccccc',
      borderTopLeftRadius: '0px',
      borderTopRightRadius: '0px',
      borderBottomLeftRadius: '0px',
      borderBottomRightRadius: '0px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: 'unset',
      transitionDuration: 0,
      transitionTimingFunction: 'ease',
      transform: 'unset',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 'auto',
      textTransform: 'lowercase',
      columnCount: 'auto',
      verticalAlign: 'middle'
    },
    hoverStyle: {},
    focusStyle: {}
  },
  data () {
    return {
      over: false
    }
  },
  computed: {
    id () {
      return this.$store.state.uuid
    },
    styleVal () {
      let style = this.$store.state.classes.find(i => {
        return i.name === this.val.class[0]
      })
      if (style !== undefined) {
        let noneStyle = Object.assign({}, this.val.noneStyle, style.noneStyle)
        let hoverStyle = Object.assign(
          {},
          this.val.hoverStyle,
          style.hoverStyle
        )
        let focusStyle = Object.assign(
          {},
          this.val.focusStyle,
          style.focusStyle
        )
        let data = {
          noneStyle: noneStyle,
          hoverStyle: hoverStyle,
          focusStyle: focusStyle
        }
        return data
      } else {
        return this.val
      }
    }
  },
  props: ['val'],
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', { item: data.data, after: this.val })
      }
    },
    overHandle () {
      let element = document.getElementById(this.val.uuid).querySelector('img')
      let hoverItems = Object.keys(this.styleVal.hoverStyle)
      hoverItems.forEach((i, j) => {
        if (
          i !== 'marginTop' &&
          i !== 'marginLeft' &&
          i !== 'marginRight' &&
          i !== 'marginBottom'
        ) {
          element.style[i] = this.styleVal.hoverStyle[i]
        }
      })
    },
    leaveHandle () {
      let element = document.getElementById(this.val.uuid).querySelector('img')
      let noneItems = Object.keys(this.styleVal.noneStyle)
      noneItems.forEach((i, j) => {
        if (
          i !== 'marginTop' &&
          i !== 'marginLeft' &&
          i !== 'marginRight' &&
          i !== 'marginBottom'
        ) {
          element.style[i] = this.styleVal.hoverStyle[i]
        }
      })
    },
    focusHandle () {
      let element = document.getElementById(this.val.uuid).querySelector('img')
      let focusItems = Object.keys(this.styleVal.focusHandle)
      focusItems.forEach((i, j) => {
        if (
          i !== 'marginTop' &&
          i !== 'marginLeft' &&
          i !== 'marginRight' &&
          i !== 'marginBottom'
        ) {
          element.style[i] = this.styleVal.hoverStyle[i]
        }
      })
    },
    blurHandle () {
      this.leaveHandle()
    }
  },
  components: {
    toolBar
  }
}
</script>
