<template>
  <div>
    <div class="accordion-header js-accordion-header" @click="closeTab()">
      <h5 class="tool-tab-text">Background</h5>
    </div>
    <div
      data-ix="hide-on-load"
      class="accordion-body js-accordion-body"
      v-if="tab === 3"
      :class="tab === 3 ? 'accordion-open' : 'accordion-close'"
    >
      <div class="tool-tab-menu">
        <div class="tool-bar-contains">
          <div class="tool-contents">
            <div class="w-clearfix">
              <div class="toole-tab-title">Image &amp; Gradient:</div>
              <div class="layout-edits w-clearfix">
                <a class="tooltip set-display-cordination font-bnt-style w-inline-block">
                  <img src="@/assets/images/Asset-624x.png" width="14">
                  <div class="toolbar-tooltip button-description">
                    <div>Soild Color</div>
                  </div>
                </a>
                <a
                  class="tooltip set-display-cordination font-bnt-style w-inline-block"
                  @click="gradientModal = 1"
                >
                  <img src="@/assets/images/Asset-614x.png" width="14">
                  <div class="toolbar-tooltip button-description">
                    <div>Gradient</div>
                  </div>
                </a>
                <a class="tooltip set-display-cordination w-inline-block" @click="colorModal = 1">
                  <img src="@/assets/images/Asset-604x.png" width="14">
                  <div class="toolbar-tooltip button-description">
                    <div>Image</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="tool-contents w-clearfix">
            <div class="toole-tab-title">Color</div>
            <div class="w-form">
              <input
                type="text"
                class="tool-bar-field1 color-scale w-input"
                :value="style.backgroundColor"
                @input="insertHandle($event, 'backgroundColor')"
                placeholder="#257bd8"
              >
              <div
                class="color-picker"
                :style="{backgroundColor: style.backgroundColor}"
                @click="displayPickerHandle()"
              ></div>
              <chrome
                :value="style.backgroundColor"
                @input="updateFormPicker"
                v-if="displayPicker"
                style="clear: both; margin-left: 45px; width: 200px;"
              />
            </div>
          </div>
          <div class="background-picker-modal" v-if="colorModal">
            <div class="picker-header w-clearfix">
              <div class="left">Background Image</div>
              <a href="#" class="picker-close w-inline-block" @click="colorModal = 0">
                <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw">
              </a>
            </div>
            <div>
              <div class="style-title">Image</div>
              <div class="picker-image-container">
                <a href="#" class="picker-browse-image w-inline-block">
                  <img src="@/assets/images/Asset-604x.png" width="12">
                  <div class="upload-text" @click="uploadHandle">Upload Background Image</div>
                  <input
                    type="file"
                    ref="upload"
                    accept="image/png, image/jpeg, image/gif"
                    style="display:none"
                    @change="runUpload"
                  >
                </a>
                <div class="w-row" style="margin-bottom: 5px">
                  <div
                    class="back-img"
                    :style="{backgroundImage: style.backgroundImage, width: '100%', height: '100%',
                                        height: '150px', backgroundSize: 'Contain', backgroundPosition: 'center', backgroundRepeat: 'no-repeat', border: '1px solid', backgroundColor: 'white', borderRadius: '5px'}"
                  ></div>
                </div>
              </div>
              <div class="style-title">Size</div>
              <div class="picker-image-container">
                <div>
                  <div class="w-row">
                    <div class="col w-col w-col-6">
                      <div class="layout-properties">
                        <div class="layout-form-assets w-form">
                          <div class="layout-asset-input">
                            <div class="text-block-12">Width</div>
                            <input
                              type="text"
                              class="tool-bar-field1 percent-scale w-input"
                              placeholder="% or PX"
                              @input="backgroundSize($event, 0)"
                              :value="(style.backgroundSize === 'cover' || style.backgroundSize === 'contain' || style.backgroundSize === '' || style.backgroundSize === undefined) ? '' : style.backgroundSize.split(' ')[0]"
                            >
                          </div>
                          <div class="layout-asset-input">
                            <div class="text-block-12">Height</div>
                            <input
                              type="text"
                              class="tool-bar-field1 percent-scale w-input"
                              placeholder="% or PX"
                              @input="backgroundSize($event, 1)"
                              :value="(style.backgroundSize === 'cover' || style.backgroundSize === 'contain' || style.backgroundSize === '' || style.backgroundSize === undefined) ? '' : style.backgroundSize.split(' ')[1]"
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col w-col w-col-6">
                      <div class="layout-properties">
                        <div class="layout-form-assets w-form">
                          <div
                            class="layout-asset-input w-clearfix"
                            style="z-index:1; position: relative"
                          >
                            <a
                              class="set-display-cordination w-inline-block tooltip"
                              @click="clickHandle('backgroundSize', 'cover')"
                            >
                              <img src="@/assets/images/Asset-794x.png" width="23">
                              <div class="button-description toolbar-tooltip">
                                <div>Cover</div>
                              </div>
                            </a>
                            <div class="tool-instructions toolbar-tooltip">Cover</div>
                          </div>
                          <div
                            class="layout-asset-input w-clearfix"
                            style="z-index: 0; position: relative"
                          >
                            <a
                              class="set-display-cordination w-inline-block tooltip"
                              @click="clickHandle('backgroundSize', 'contain')"
                            >
                              <img src="@/assets/images/Asset-784x.png" width="23">
                              <div class="button-description toolbar-tooltip">
                                <div>Contain</div>
                              </div>
                            </a>
                            <div class="tool-instructions">Contain</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="style-title">Position</div>
              <div class="picker-image-container">
                <div>
                  <div class="w-row">
                    <div class="col w-col w-col-6">
                      <div class="text-block-12">Adjust</div>
                      <div class="layout-properties">
                        <div class="layout-form-assets w-form">
                          <div class="layout-asset-input">
                            <div class="text-block-12">Top</div>
                            <input
                              type="text"
                              class="tool-bar-field1 percent-scale w-input"
                              placeholder="% or PX"
                              @input="backgroundPositionTop($event)"
                              :value="(style.backgroundPosition === 'center' || style.backgroundPosition === '' || style.backgroundPosition === undefined) ? '' : style.backgroundPosition.split(' ')[0]"
                            >
                          </div>
                          <div class="layout-asset-input">
                            <div class="text-block-12">Left</div>
                            <input
                              type="text"
                              class="tool-bar-field1 percent-scale w-input"
                              placeholder="% or PX"
                              @input="backgroundPositionLeft($event)"
                              :value="(style.backgroundPosition === 'center' || style.backgroundPosition === '' || style.backgroundPosition === undefined) ? '' : style.backgroundPosition.split(' ')[1]"
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col w-col w-col-6">
                      <div class="text-block-12 long-title">Presets</div>
                      <div class="w-row">
                        <div class="w-clearfix w-col w-col-4">
                          <a
                            class="set-display-cordination w-inline-block"
                            @click="backgroundPosition(0)"
                          >
                            <img src="@/assets/images/Asset-744x_1Asset-744x.png" width="10">
                          </a>
                          <a
                            class="set-display-cordination w-inline-block"
                            @click="backgroundPosition(1)"
                          >
                            <img src="@/assets/images/Asset-704x.png" width="13">
                          </a>
                          <a
                            class="set-display-cordination w-inline-block"
                            @click="backgroundPosition(2)"
                          >
                            <img src="@/assets/images/Asset-724x_1Asset-724x.png" width="10">
                          </a>
                        </div>
                        <div class="w-clearfix w-col w-col-4">
                          <a
                            class="set-display-cordination w-inline-block"
                            @click="backgroundPosition(3)"
                          >
                            <img src="@/assets/images/Asset-804x.png" width="10">
                          </a>
                          <a
                            class="set-display-cordination w-inline-block"
                            @click="backgroundPosition(4)"
                          >
                            <img src="@/assets/images/Asset-624x.png" width="10">
                          </a>
                          <a
                            class="set-display-cordination w-inline-block"
                            @click="backgroundPosition(5)"
                          >
                            <img src="@/assets/images/Asset-764x.png" width="10">
                          </a>
                        </div>
                        <div class="w-clearfix w-col w-col-4">
                          <a
                            class="set-display-cordination w-inline-block"
                            @click="backgroundPosition(6)"
                          >
                            <img src="@/assets/images/Asset-754x_1Asset-754x.png" width="10">
                          </a>
                          <a
                            class="set-display-cordination w-inline-block"
                            @click="backgroundPosition(7)"
                          >
                            <img src="@/assets/images/Asset-714x.png" width="13">
                          </a>
                          <a
                            class="set-display-cordination w-inline-block"
                            @click="backgroundPosition(8)"
                          >
                            <img src="@/assets/images/Asset-734x_1Asset-734x.png" width="10">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="style-title">Display</div>
              <div class="picker-image-container">
                <div class="div-block-8 w-clearfix">
                  <div class="toole-tab-title">Tile</div>
                  <div class="layout-edits w-clearfix">
                    <a href="#" class="set-display-cordination font-bnt-style w-inline-block">
                      <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw">
                      <div class="button-description">
                        <div>None</div>
                      </div>
                    </a>
                    <a href="#" class="set-display-cordination font-bnt-style w-inline-block">
                      <img src="@/assets/images/Asset-684x.png" width="14">
                      <div class="button-description">
                        <div>Horizontal</div>
                      </div>
                    </a>
                    <a href="#" class="set-display-cordination font-bnt-style w-inline-block">
                      <img src="@/assets/images/Asset-674x.png" width="4">
                      <div class="button-description">
                        <div>CVerticler</div>
                      </div>
                    </a>
                    <a href="#" class="set-display-cordination font-bnt-style w-inline-block">
                      <img src="@/assets/images/Asset-694x.png" width="14">
                      <div class="button-description">
                        <div>Directional</div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="div-block-8 w-clearfix">
                  <div class="toole-tab-title">Fixed</div>
                  <div class="layout-edits w-clearfix">
                    <a href="#" class="set-display-cordination font-bnt-style w-inline-block">
                      <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw">
                      <div class="button-description">
                        <div>Not Fixed</div>
                      </div>
                    </a>
                    <a href="#" class="set-display-cordination font-bnt-style w-inline-block">
                      <img src="@/assets/images/Asset-664x.png" width="14">
                      <div class="button-description">
                        <div>Fixed</div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="graident-modal-popup" v-if="gradientModal">
            <div class="picker-header w-clearfix">
              <div class="left">Graident Background</div>
              <a href="#" class="picker-close w-inline-block" @click="gradientModal = 0">
                <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw">
              </a>
            </div>
            <div>
              <div class="style-title">Customize</div>
              <div class="picker-image-container">
                <div class="w-row">
                  <div class="w-col w-col-6">
                    <a class="picker-browse-image w-inline-block" @click="gradType(0)">
                      <div class="upload-text">Linear</div>
                    </a>
                  </div>
                  <div class="w-col w-col-6">
                    <a class="picker-browse-image w-inline-block" @click="gradType(1)">
                      <div class="upload-text">Radial</div>
                    </a>
                  </div>
                </div>
                <div class="w-clearfix">
                  <div class="layout-properties">
                    <div class="layout-form-assets w-form">
                      <div class="layout-asset-input">
                        <div class="text-block-12">Angle</div>
                        <input
                          type="text"
                          class="tool-bar-field1 percent-scale w-input"
                          :value="activeWidget.backAngle"
                          @input="backAngle($event)"
                          placeholder="deg"
                          id="Class-2"
                        >
                      </div>
                    </div>
                  </div>
                  <div class="gradient-picker"></div>
                  <div class="gradient-picker1 right">
                    <div class="gradient-picker-arrow">
                      <input
                        type="color"
                        :value="activeWidget.fromBackColor"
                        @change="fromBackColor($event)"
                      >
                    </div>
                  </div>
                  <div class="gradient-picker1">
                    <div class="gradient-picker-arrow">
                      <input
                        type="color"
                        :value="activeWidget.toBackColor"
                        @change="toBackColor($event)"
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Chrome } from 'vue-color'
import '../../backend-api.js'
export default {
  data () {
    return {
      colorModal: 0,
      gradientModal: 0,
      displayPicker: 0,
      gradientTypeData: 0,
      backgroundImage: require('@/assets/images/Asset-774x.png'),
      setting: {
        width: '100%',
        height: 'auto',
        minWidth: '100px',
        minHeight: '300px',
        maxWidth: 'auto',
        maxHeight: 'auto',
        position: 'relative',
        top: 'auto',
        left: 'auto',
        bottom: 'auto',
        right: 'auto',
        display: 'block',
        paddingTop: '10px',
        paddingRight: '10px',
        paddingBottom: '10px',
        paddingLeft: '10px',
        marginTop: '10px',
        marginRight: 'auto',
        marginBottom: '10px',
        marginLeft: 'auto',
        float: 'none',
        clear: 'none',
        overflow: 'none',
        fontFamily: 'unset',
        fontStyle: 'normal',
        fontKerning: 'normal',
        fontWeight: 500,
        color: '#000000',
        fontSize: '15px',
        lineHeight: 1,
        textIndent: '0px',
        textAlign: 'left',
        textDecoration: 'none',
        textTransform: 'lowercase',
        backgroundImage: 'unset',
        backgroundRepeat: 'no-repeat',
        backgroundPosition: 'center',
        backgroundSize: 'cover',
        backgroundColor: '#ffffff',
        direction: 'ltr',
        borderTopWidth: '1px',
        borderRightWidth: '1px',
        borderBottomWidth: '1px',
        borderLeftWidth: '1px',
        borderTopLeftRadius: '5px',
        borderTopRightRadius: '5px',
        borderBottomLeftRadius: '5px',
        borderBottomRightRadius: '5px',
        borderStyle: 'solid',
        borderColor: '#cccccc',
        boxShadow: '0px 0px 0px 0px #cccccc',
        textShadow: '0px 0px 0px #cccccc',
        transition: 'unset',
        transform: 'unset',
        opacity: 1,
        cursor: 'pointer',
        zIndex: 0,
        columnCount: 'auto'
      }
    }
  },
  props: ['tab'],
  computed: {
    state () {
      return this.$store.state.activeWidget.state
    },
    activeWidget () {
      return this.$store.state.activeWidget
    },
    style () {
      if (this.$store.state.activeWidget.class !== undefined){
        let style = this.$store.state.classes.find(
          i => i.name === this.$store.state.activeWidget.class[0]
        )
        if (style === undefined) {
          return this.setting
        } else if (this.$store.state.activeWidget.state === 0) {
          return style.noneStyle
        } else if (this.$store.state.activeWidget.state === 1) {
          return style.hoverStyle
        } else {
          return style.focusStyle
        }
      } else {
        return this.setting
      }
    }
  },
  methods: {
    closeTab () {
      let i = this.tab === 3 ? 0 : 3
      this.$emit('closeTab', i)
    },
    getStyleType () {
      if (this.activeWidget.state === 0) {
        return 'noneStyle'
      } else if (this.activeWidget.state === 1) {
        return 'hoverStyle'
      } else {
        return 'focusStyle'
      }
    },
    clickHandle (i, j) {
      if (this.activeWidget.class !== undefined) {
        let value = {}
        value[i] = j
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: value,
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    insertHandle (i, j) {
      if (this.activeWidget.class !== undefined) {
        let value = {}
        value[j] = i.target.value
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: value,
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    updateFormPicker (e) {
      if (this.activeWidget.class !== undefined) {
        let value = {}
        value.backgroundColor = e.hex8
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: value,
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    displayPickerHandle () {
      if (this.activeWidget.class !== undefined) {
        let value = {}
        if (this.displayPicker === 0) {
          if (this.style.backgroundColor === undefined) {
            value.backgroundColor = '#ffffff'
            this.$store.commit('setClass', {
              name: this.activeWidget.class[0],
              value: value,
              styleType: this.getStyleType()
            })
          }
          this.displayPicker = 1
        } else {
          this.displayPicker = 0
        }
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    uploadHandle () {
      this.$refs.upload.click()
    },
    runUpload () {
      if (this.activeWidget.class !== undefined) {
        let file = this.$refs.upload.files[0]
        let formData = new FormData()
        formData.append('myfile', file)
        this.$store.dispatch('uploadHandle', formData).then(
          res => {
            let value = {}
            value.backgroundImage = 'url(' + res + ')'
            this.$store.commit('setClass', {
              name: this.activeWidget.class[0],
              value: value,
              styleType: this.getStyleType()
            })
          },
          err => {
            console.log(err)
          }
        )
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    backgroundSize (e, i) {
      if (this.activeWidget.class !== undefined) {
        if (!i) {
          this.$store.commit('setClass', {
            name: this.activeWidget.class[0],
            value: { backgroundSize: e.target.value },
            styleType: this.getStyleType()
          })
        } else {
          this.$store.commit('setClass', {
            name: this.activeWidget.class[0],
            value: {
              backgroundSize:
                this.style.backgroundSize.split(' ')[0] + ' ' + e.target.value
            },
            styleType: this.getStyleType()
          })
        } 
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    backgroundPositionTop (e) {
      if (this.activeWidget.class !== undefined) {
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: { backgroundPosition: e.target.value },
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    backgroundPositionLeft (e) {
      if (this.activeWidget.class !== undefined) {
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: {
            backgroundPosition:
              this.style.backgroundPosition.split(' ')[0] + ' ' + e.target.value
          },
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    backgroundPosition (i) {
      if (this.activeWidget.class !== undefined) {
        let backgroundPosition
        if (
          this.style.backgroundPosition === 'center' ||
          this.style.backgroundPosition === '' ||
          this.style.backgroundPosition === undefined
        ) {
          backgroundPosition = '0px 0px'
        } else {
          let top = parseInt(this.style.backgroundPosition.split(' ')[0])
          let left = parseInt(this.style.backgroundPosition.split(' ')[1])
          if (i === 0) {
            top += -2
            left += -2
          } else if (i === 1) {
            top += -2
          } else if (i === 2) {
            top += -2
            left += 2
          } else if (i === 3) {
            left += -2
          } else if (i === 4) {
            backgroundPosition = 'center'
          } else if (i === 5) {
            left += 2
          } else if (i === 6) {
            top += 2
            left += -2
          } else if (i === 7) {
            top += 2
          } else {
            top += 2
            left += 2
          }
          if (i !== 4) {
            backgroundPosition = top + 'px ' + left + 'px'
          }
        }
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: { backgroundPosition: backgroundPosition },
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    gradType (i) {
      this.gradientTypeData = i
      this.setGradient()
    },
    backAngle (e) {
      this.activeWidget.backAngle = e.target.value
      this.setGradient()
    },
    fromBackColor (e) {
      this.fromBackColorData = e.target.value
      this.activeWidget.fromBackColor = e.target.value
      this.setGradient()
    },
    toBackColor (e) {
      this.toBackColorData = e.target.value
      this.activeWidget.toBackColor = e.target.value
      this.setGradient()
    },
    setGradient () {
      if (this.activeWidget.class !== undefined) {
        let gradient = ''
        if (this.gradientTypeData) {
          gradient =
            'radial-gradient(' +
            this.activeWidget.fromBackColor +
            ', ' +
            this.activeWidget.toBackColor +
            ')'
        } else {
          gradient =
            'linear-gradient(' +
            this.activeWidget.backAngle +
            'deg, ' +
            this.activeWidget.fromBackColor +
            ', ' +
            this.activeWidget.toBackColor +
            ')'
        }
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: { backgroundImage: gradient },
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    }
  },
  components: {
    Chrome
  }
}
</script>
<style>
.vc-chrome .vc-chrome-toggle-btn {
  display: none !important;
}
.vc-chrome .vc-input__label {
  display: none;
}
</style>
