<template>
  <div>
    <div class="accordion-header js-accordion-header" @click="closeTab()">
      <h5 class="tool-tab-text">Border Effects</h5>
    </div>
    <div
      data-ix="hide-on-load"
      class="accordion-body js-accordion-body"
      v-if="tab === 4"
      :class="tab === 4 ? 'accordion-open' : 'accordion-close'"
    >
      <div class="tool-tab-menu">
        <div class="tool-bar-contains">
          <div class="tool-contents">
            <div>
              <div class="w-row">
                <div class="w-col w-col-5">
                  <div class="no-space-row move-more w-row">
                    <div class="w-col w-col-4"></div>
                    <div class="w-clearfix w-col w-col-4">
                      <a
                        @click="borderStateChange('borderTopWidth')"
                        class="set-display-cordination font-bnt-style w-inline-block"
                        :class="borderState === 'borderTopWidth' ? 'set-display-cordination-active' : ''"
                      >
                        <img src="@/assets/images/Asset-1244x.png" width="14">
                      </a>
                    </div>
                    <div class="w-col w-col-4"></div>
                  </div>
                  <div class="no-space-row w-row">
                    <div class="w-clearfix w-col w-col-4">
                      <a
                        @click="borderStateChange('borderLeftWidth')"
                        class="set-display-cordination font-bnt-style w-inline-block"
                        :class="borderState === 'borderLeftWidth' ? 'set-display-cordination-active' : ''"
                      >
                        <img src="@/assets/images/Asset-1224x.png" width="14">
                      </a>
                    </div>
                    <div class="w-clearfix w-col w-col-4">
                      <a
                        @click="borderStateChange('borderAllWidth')"
                        class="set-display-cordination font-bnt-style w-inline-block"
                        :class="borderState === 'borderAllWidth' ? 'set-display-cordination-active' : ''"
                      >
                        <img src="@/assets/images/Asset-1174x.png" width="14">
                      </a>
                    </div>
                    <div class="w-clearfix w-col w-col-4">
                      <a
                        @click="borderStateChange('borderRightWidth')"
                        class="set-display-cordination font-bnt-style w-inline-block"
                        :class="borderState === 'borderRightWidth' ? 'set-display-cordination-active' : ''"
                      >
                        <img src="@/assets/images/Asset-1234x.png" width="14">
                      </a>
                    </div>
                  </div>
                  <div class="w-row">
                    <div class="w-col w-col-4"></div>
                    <div class="w-clearfix w-col w-col-4">
                      <a
                        @click="borderStateChange('borderBottomWidth')"
                        class="set-display-cordination font-bnt-style w-inline-block"
                        :class="borderState === 'borderBottomWidth' ? 'set-display-cordination-active' : ''"
                      >
                        <img src="@/assets/images/Asset-1214x.png" width="14">
                      </a>
                    </div>
                    <div class="w-col w-col-4"></div>
                  </div>
                </div>
                <div class="no-space w-col w-col-7">
                  <div class="w-clearfix" style="z-index: 2; position: relative">
                    <div class="layout-edits w-clearfix">
                      <a
                        @click="clickHandle('borderStyle', 'none')"
                        class="tooltip set-display-cordination w-inline-block"
                      >
                        <img
                          src="@/assets/images/Asset-14x.png"
                          width="23"
                          sizes="20px"
                          class="icon-inset"
                        >
                        <div class="button-description toolbar-tooltip">
                          <div>None</div>
                        </div>
                      </a>
                      <a
                        @click="clickHandle('borderStyle', 'dotted')"
                        class="tooltip set-display-cordination font-bnt-style w-inline-block"
                      >
                        <img src="@/assets/images/Asset-824x.png" width="2" height="14">
                        <div class="button-description toolbar-tooltip">
                          <div>Dotted</div>
                        </div>
                      </a>
                      <a
                        @click="clickHandle('borderStyle', 'dashed')"
                        class="tooltip set-display-cordination font-bnt-style w-inline-block"
                      >
                        <img src="@/assets/images/Asset-884x.png" width="3" height="14">
                        <div class="button-description toolbar-tooltip">
                          <div>Dashed</div>
                        </div>
                      </a>
                      <a
                        @click="clickHandle('borderStyle', 'solid')"
                        class="tooltip set-display-cordination left-align w-inline-block"
                      >
                        <img src="@/assets/images/Asset-814x.png" width="3" height="14">
                        <div class="button-description toolbar-tooltip">
                          <div>Soild</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="layout-form-assets w-form" style="z-index: 1; position: relative">
                    <div class="layout-asset-input">
                      <div class="text-block-12">Width</div>
                      <input
                        type="text"
                        @input="insertHandle($event, borderState)"
                        :value="borderState === 'borderAllWidth' ? style['borderTopWidth'] : style[borderState]"
                        class="tool-bar-field1 percent-scale w-input"
                        maxlength="256"
                        placeholder="None"
                      >
                    </div>
                    <div class="w-clearfix">
                      <input
                        type="text"
                        v-model="style.borderColor"
                        class="tool-bar-field1 color-scale w-input"
                        maxlength="256"
                        name="color-2"
                        placeholder="#257bd8"
                        id="color-2"
                      >
                      <input type="color" class="color-picker" v-model="style.borderColor">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tool-bar-contains">
          <div class="tool-contents">
            <div>
              <div class="w-row">
                <div class="w-col w-col-5">
                  <div class="w-row">
                    <div class="w-clearfix w-col w-col-4">
                      <a
                        @click="radiusStateChange('borderTopLeftRadius')"
                        class="set-display-cordination font-bnt-style w-inline-block"
                        :class="radiusState === 'borderTopLeftRadius' ? 'set-display-cordination-active' : ''"
                      >
                        <img src="@/assets/images/Asset-1184x.png" width="14">
                      </a>
                    </div>
                    <div class="w-col w-col-4"></div>
                    <div class="w-clearfix w-col w-col-4">
                      <a
                        @click="radiusStateChange('borderTopRightRadius')"
                        class="set-display-cordination font-bnt-style w-inline-block"
                        :class="radiusState === 'borderTopRightRadius' ? 'set-display-cordination-active' : ''"
                      >
                        <img src="@/assets/images/Asset-1164x.png" width="14">
                      </a>
                    </div>
                  </div>
                  <div class="w-row">
                    <div class="w-clearfix w-col w-col-4">
                      <a
                        @click="radiusStateChange('borderBottomLeftRadius')"
                        class="set-display-cordination font-bnt-style w-inline-block"
                        :class="radiusState === 'borderBottomLeftRadius' ? 'set-display-cordination-active' : ''"
                      >
                        <img src="@/assets/images/Asset-1204x.png" width="14">
                      </a>
                    </div>
                    <div class="w-clearfix w-col w-col-4">
                      <a
                        @click="radiusStateChange('borderAllRadius')"
                        class="set-display-cordination font-bnt-style inner-row-style-bnt-move-up w-inline-block"
                        :class="radiusState === 'borderAllRadius' ? 'set-display-cordination-active' : ''"
                      >
                        <img src="@/assets/images/Asset-1154x.png" width="14">
                      </a>
                    </div>
                    <div class="w-clearfix w-col w-col-4">
                      <a
                        @click="radiusStateChange('borderBottomRightRadius')"
                        class="set-display-cordination font-bnt-style w-inline-block"
                        :class="radiusState === 'borderBottomRightRadius' ? 'set-display-cordination-active' : ''"
                      >
                        <img src="@/assets/images/Asset-1194x.png" width="14">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="no-space w-col w-col-7">
                  <div class="layout-form-assets w-form">
                    <div class="layout-asset-input">
                      <div class="text-block-12">Radius</div>
                      <input
                        type="text"
                        @input="insertHandle($event,radiusState)"
                        :value="radiusState === 'borderAllRadius' ? style['borderTopLeftRadius'] : style[radiusState]"
                        class="tool-bar-field1 percent-scale w-input"
                        maxlength="256"
                        name="Class-2"
                        data-name="Class 2"
                        placeholder="None"
                        id="Class-2"
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['tab'],
  data () {
    return {
      borderState: 'borderAllWidth',
      radiusState: 'borderAllRadius',
      setting: {
        width: '100%',
        height: 'auto',
        minWidth: '100px',
        minHeight: '300px',
        maxWidth: 'auto',
        maxHeight: 'auto',
        position: 'relative',
        top: 'auto',
        left: 'auto',
        bottom: 'auto',
        right: 'auto',
        display: 'block',
        paddingTop: '10px',
        paddingRight: '10px',
        paddingBottom: '10px',
        paddingLeft: '10px',
        marginTop: '10px',
        marginRight: 'auto',
        marginBottom: '10px',
        marginLeft: 'auto',
        float: 'none',
        clear: 'none',
        overflow: 'none',
        fontFamily: 'unset',
        fontStyle: 'normal',
        fontKerning: 'normal',
        fontWeight: 500,
        color: '#000000',
        fontSize: '15px',
        lineHeight: 1,
        textIndent: '0px',
        textAlign: 'left',
        textDecoration: 'none',
        textTransform: 'lowercase',
        backgroundImage: 'unset',
        backgroundRepeat: 'no-repeat',
        backgroundPosition: 'center',
        backgroundSize: 'cover',
        backgroundColor: '#ffffff',
        direction: 'ltr',
        borderTopWidth: '1px',
        borderRightWidth: '1px',
        borderBottomWidth: '1px',
        borderLeftWidth: '1px',
        borderTopLeftRadius: '5px',
        borderTopRightRadius: '5px',
        borderBottomLeftRadius: '5px',
        borderBottomRightRadius: '5px',
        borderStyle: 'solid',
        borderColor: '#cccccc',
        boxShadow: '0px 0px 0px 0px #cccccc',
        textShadow: '0px 0px 0px #cccccc',
        transition: 'unset',
        transform: 'unset',
        opacity: 1,
        cursor: 'pointer',
        zIndex: 0,
        columnCount: 'auto'
      }
    }
  },
  computed: {
    state () {
      return this.$store.state.activeWidget.state
    },
    activeWidget () {
      return this.$store.state.activeWidget
    },
    style () {
      if (this.$store.state.activeWidget.class !== undefined){
        let style = this.$store.state.classes.find(
          i => i.name === this.$store.state.activeWidget.class[0]
        )
        if (style === undefined) {
          return this.setting
        } else if (this.$store.state.activeWidget.state === 0) {
          return style.noneStyle
        } else if (this.$store.state.activeWidget.state === 1) {
          return style.hoverStyle
        } else {
          return style.focusStyle
        }
      } else {
        return this.setting
      }
    }
  },
  methods: {
    closeTab () {
      let i = this.tab === 4 ? 0 : 4
      this.$emit('closeTab', i)
    },
    getStyleType () {
      if (this.activeWidget.state === 0) {
        return 'noneStyle'
      } else if (this.activeWidget.state === 1) {
        return 'hoverStyle'
      } else {
        return 'focusStyle'
      }
    },
    borderStateChange (i) {
      this.borderState = i
    },
    radiusStateChange (i) {
      this.radiusState = i
    },
    clickHandle (i, j) {
      if (this.activeWidget.class !== undefined) {
        let value = {}
        value[i] = j
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: value,
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    insertHandle (i, j) {
      if (this.activeWidget.class !== undefined) {
        let value = {}
        value[j] = i.target.value
        if (j === 'borderAllWidth') {
          let borderArray = [
            { borderTopWidth: i.target.value },
            { borderLeftWidth: i.target.value },
            { borderBottomWidth: i.target.value },
            { borderRightWidth: i.target.value }
          ]
          for (let k = 0; k < borderArray.length; k++) {
            this.$store.commit('setClass', {
              name: this.activeWidget.class[0],
              value: borderArray[k],
              styleType: this.getStyleType()
            })
          }
        } else if (j === 'borderAllRadius') {
          let radiusArray = [
            {
              borderTopLeftRadius: i.target.value,
              borderBottomLeftRadius: i.target.value,
              borderBottomRightRadius: i.target.value,
              borderTopRightRadius: i.target.value
            }
          ]
          for (let k = 0; k < radiusArray.length; k++) {
            this.$store.commit('setClass', {
              name: this.activeWidget.class[0],
              value: radiusArray[k],
              styleType: this.getStyleType()
            })
          }
        } else {
          this.$store.commit('setClass', {
            name: this.activeWidget.class[0],
            value: value,
            styleType: this.getStyleType()
          })
        }
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    }
  }
}
</script>
