<template>
  <div>
    <div class="accordion-header js-accordion-header" @click="closeTab()">
      <h5 class="tool-tab-text">Layout</h5>
    </div>
    <div
      class="accordion-body js-accordion-body"
      v-if="tab === 1"
      :class="tab === 1 ? 'accordion-open' : 'accordion-close'"
    >
      <div class="tool-tab-menu">
        <div class="tool-bar-contains w-clearfix">
          <div data-delay="0" class="class-dropdown w-dropdown">
            <div
              class="dropdown-toggle-3 w-clearfix w-dropdown-toggle"
              @click="stateCss = !stateCss"
            >
              <div class="drop-state-down">States</div>
              <div class="notification-state"></div>
            </div>
            <nav class="dropdown-list-3 w-clearfix w-dropdown-list" v-if="stateCss">
              <a
                href="#"
                class="drop-link inlay-state-link w-dropdown-link"
                @click="selectState(0)"
              >None</a>
              <div class="state-notification" :class="activeWidget.state === 0 ? 'active' : ''"></div>
              <a
                href="#"
                class="drop-link inlay-state-link w-dropdown-link"
                @click="selectState(1)"
              >Hover</a>
              <div class="state-notification" :class="activeWidget.state === 1 ? 'active' : ''"></div>
              <a
                href="#"
                class="drop-link inlay-state-link w-dropdown-link"
                @click="selectState(2)"
              >Focus</a>
              <div class="state-notification" :class="activeWidget.state === 2 ? 'active' : ''"></div>
            </nav>
          </div>
          <div style="clear:both">
            <div style="float:left; width: 30%; margin-top: 3px;">Class Name</div>
            <div style="float:right; width: 65%;">
              <input
                type="text"
                placeholder="Please add class name"
                class="tool-bar-field1 percent-scale1 w-input"
                v-if="activeWidget.class !== undefined && activeWidget.class.length === 0"
                @keypress.enter="addClass($event)"
              >
              <div
                class="tool-bar-field1 percent-scale1"
                style="padding: 2.5px"
                v-if="activeWidget.class !== undefined && activeWidget.class.length !== 0"
              >
                <button class="btn btn-primary btn-block addClass">
                  {{activeWidget.class[0]}}
                  <i class="fa fa-times" @click="removeClass"></i>
                </button>
              </div>
              <!-- <input-tag :value="activeWidget.class" :limit="1" placeholder="Please enter class name"></input-tag> -->
            </div>
          </div>
        </div>
        <div class="tool-bar-contains w-clearfix">
          <div class="toole-tab-title">Layout</div>
          <div class="layout-edits w-clearfix">
            <a
              @click="clickHandle('display', 'none')"
              class="set-display-cordination w-inline-block tooltip"
              :class="style.display === 'none' ? 'active' : ''"
            >
              <img src="@/assets/images/selecte-screen-05.svg" width="23">
              <div class="button-description toolbar-tooltip">
                <div>Hidden</div>
              </div>
            </a>
            <a
              @click="clickHandle('display', 'gird')"
              class="set-display-cordination w-inline-block tooltip"
              :class="style.display === 'grid' ? 'active' : ''"
            >
              <img src="@/assets/images/Asset-694x.png" width="23">
              <div class="button-description toolbar-tooltip">
                <div>Grid</div>
              </div>
            </a>
            <a
              @click="clickHandle('display', 'flex')"
              class="set-display-cordination w-inline-block tooltip"
              :class="style.display === 'flex' ? 'active' : ''"
            >
              <img src="@/assets/images/selecte-screen-04.svg" width="23">
              <div class="button-description toolbar-tooltip">
                <div>Flex Css</div>
              </div>
            </a>
            <a
              @click="clickHandle('display', 'inline-block')"
              class="set-display-cordination w-inline-block tooltip"
              :class="style.display === 'inline-block' ? 'active' : ''"
            >
              <img src="@/assets/images/selecte-screen-03.svg" width="23">
              <div class="button-description toolbar-tooltip">
                <div>Inline Block</div>
              </div>
            </a>
            <a
              @click="clickHandle('display', 'block')"
              class="set-display-cordination w-inline-block tooltip"
              :class="style.display === 'block'"
            >
              <img src="@/assets/images/selecte-screen-02.svg" width="23">
              <div class="button-description toolbar-tooltip">
                <div>Block</div>
              </div>
            </a>
          </div>
          <div class="visual-content-edge">
            <div class="inline-edit-bnt">
              <div class="layout-pull-trigger">
                <div class="inline-field-module w-row">
                  <div class="col w-col w-col-8">
                    <div class="w-form">
                      <input
                        type="text"
                        :value="style.marginTop"
                        @input="insertHandle($event,'marginTop')"
                        class="tool-bar-field1 pull-module w-input"
                        placeholder="PX / %"
                      >
                    </div>
                  </div>
                  <div class="col w-col w-col-4">
                    <a @click="mpHandle('marginTop',1)" class="upper-pull w-inline-block">
                      <img src="@/assets/images/little-arrow.png" class="little-arrow">
                    </a>
                    <a
                      @click="mpHandle('marginTop',0)"
                      class="upper-pull upside-down w-inline-block"
                    >
                      <img src="@/assets/images/little-arrow.png" class="little-arrow">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="inline-edit-bnt">
              <div class="layout-pull-trigger">
                <div class="inline-field-module w-row">
                  <div class="col w-col w-col-8">
                    <div class="w-form">
                      <input
                        type="text"
                        :value="style.paddingTop"
                        @input="insertHandle($event, 'paddingTop')"
                        class="tool-bar-field1 pull-module w-input"
                        placeholder="PX / %"
                      >
                    </div>
                  </div>
                  <div class="col w-col w-col-4">
                    <a @click="mpHandle('paddingTop', 1)" class="upper-pull w-inline-block">
                      <img src="@/assets/images/little-arrow.png" class="little-arrow">
                    </a>
                    <a
                      @click="mpHandle('paddingTop', 0)"
                      class="upper-pull upside-down w-inline-block"
                    >
                      <img src="@/assets/images/little-arrow.png" class="little-arrow">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="inline-edit-bnt w-clearfix">
              <div class="layout-pull-trigger right">
                <div class="inline-field-module w-row">
                  <div class="col w-col w-col-8">
                    <div class="w-form">
                      <input
                        type="text"
                        :value="style.marginRight"
                        @input="insertHandle($event, 'marginRight')"
                        class="tool-bar-field1 pull-module w-input"
                        placeholder="PX / %"
                      >
                    </div>
                  </div>
                  <div class="col w-col w-col-4">
                    <a @click="mpHandle('marginRight', 1)" class="upper-pull w-inline-block">
                      <img src="@/assets/images/little-arrow.png" class="little-arrow">
                    </a>
                    <a
                      @click="mpHandle('marginRight', 0)"
                      class="upper-pull upside-down w-inline-block"
                    >
                      <img src="@/assets/images/little-arrow.png" class="little-arrow">
                    </a>
                  </div>
                </div>
              </div>
              <div class="layout-pull-trigger right small-space">
                <div class="inline-field-module w-row">
                  <div class="col w-col w-col-8">
                    <div class="w-form">
                      <input
                        type="text"
                        :value="style.paddingRight"
                        @input="insertHandle($event, 'paddingRight')"
                        class="tool-bar-field1 pull-module w-input"
                        placeholder="PX / %"
                      >
                    </div>
                  </div>
                  <div class="col w-col w-col-4">
                    <a @click="mpHandle('paddingRight', 1)" class="upper-pull w-inline-block">
                      <img src="@/assets/images/little-arrow.png" class="little-arrow">
                    </a>
                    <a
                      @click="mpHandle('paddingRight', 0)"
                      class="upper-pull upside-down w-inline-block"
                    >
                      <img src="@/assets/images/little-arrow.png" class="little-arrow">
                    </a>
                  </div>
                </div>
              </div>
              <div class="layout-pull-trigger left">
                <div class="inline-field-module w-row">
                  <div class="col w-col w-col-8">
                    <div class="w-form">
                      <input
                        type="text"
                        :value="style.marginLeft"
                        @input="insertHandle($event, 'marginLeft')"
                        class="tool-bar-field1 pull-module w-input"
                        placeholder="PX / %"
                      >
                    </div>
                  </div>
                  <div class="col w-col w-col-4">
                    <a @click="mpHandle('marginLeft', 1)" class="upper-pull w-inline-block">
                      <img src="@/assets/images/little-arrow.png" class="little-arrow">
                    </a>
                    <a
                      @click="mpHandle('marginLeft', 0)"
                      class="upper-pull upside-down w-inline-block"
                    >
                      <img src="@/assets/images/little-arrow.png" class="little-arrow">
                    </a>
                  </div>
                </div>
              </div>
              <div class="layout-pull-trigger left">
                <div class="inline-field-module w-row">
                  <div class="col w-col w-col-8">
                    <div class="w-form">
                      <input
                        type="text"
                        :value="style.paddingLeft"
                        @input="insertHandle($event, 'paddingLeft')"
                        class="tool-bar-field1 pull-module w-input"
                        placeholder="PX / %"
                      >
                    </div>
                  </div>
                  <div class="col w-col w-col-4">
                    <a @click="mpHandle('paddingLeft', 1)" class="upper-pull w-inline-block">
                      <img src="@/assets/images/little-arrow.png" class="little-arrow">
                    </a>
                    <a
                      @click="mpHandle('paddingLeft', 0)"
                      class="upper-pull upside-down w-inline-block"
                    >
                      <img src="@/assets/images/little-arrow.png" class="little-arrow">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="inline-edit-bnt">
              <div class="layout-pull-trigger">
                <div class="inline-field-module w-row">
                  <div class="col w-col w-col-8">
                    <div class="w-form">
                      <input
                        type="text"
                        :value="style.paddingBottom"
                        @input="insertHandle($event, 'paddingBottom')"
                        class="tool-bar-field1 pull-module w-input"
                        placeholder="PX / %"
                      >
                    </div>
                  </div>
                  <div class="col w-col w-col-4">
                    <a @click="mpHandle('paddingBottom', 1)" class="upper-pull w-inline-block">
                      <img src="@/assets/images/little-arrow.png" class="little-arrow">
                    </a>
                    <a
                      @click="mpHandle('paddingBottom', 0)"
                      class="upper-pull upside-down w-inline-block"
                    >
                      <img src="@/assets/images/little-arrow.png" class="little-arrow">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="inline-edit-bnt">
              <div class="layout-pull-trigger">
                <div class="inline-field-module w-row">
                  <div class="col w-col w-col-8">
                    <div class="w-form">
                      <input
                        type="text"
                        :value="style.marginBottom"
                        @input="insertHandle($event, 'marginBottom')"
                        class="tool-bar-field1 pull-module w-input"
                        placeholder="PX / %"
                      >
                    </div>
                  </div>
                  <div class="col w-col w-col-4">
                    <a @click="mpHandle('marginBottom', 1)" class="upper-pull w-inline-block">
                      <img src="@/assets/images/little-arrow.png" class="little-arrow">
                    </a>
                    <a
                      @click="mpHandle('marginBottom', 0)"
                      class="upper-pull upside-down w-inline-block"
                    >
                      <img src="@/assets/images/little-arrow.png" class="little-arrow">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="visual-layout-editor">
            <div class="w-row">
              <div class="col w-col w-col-6">
                <div class="layout-properties">
                  <div class="layout-form-assets w-form">
                    <div class="layout-asset-input">
                      <div class="text-block-12">Width:</div>
                      <input
                        type="text"
                        :value="style.width"
                        @input="insertHandle($event, 'width')"
                        class="tool-bar-field1 percent-scale w-input"
                        placeholder="% or PX"
                      >
                    </div>
                    <div class="layout-asset-input">
                      <div class="text-block-12">Min:</div>
                      <input
                        type="text"
                        :value="style.minWidth"
                        @input="insertHandle($event, 'minWidth')"
                        class="tool-bar-field1 percent-scale w-input"
                        placeholder="% or PX"
                      >
                    </div>
                    <div class="layout-asset-input">
                      <div class="text-block-12">Max:</div>
                      <input
                        type="text"
                        :value="style.maxWidth"
                        @input="insertHandle($event, 'maxWidth')"
                        class="tool-bar-field1 percent-scale w-input"
                        placeholder="None"
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col w-col w-col-6">
                <div class="layout-properties">
                  <div class="layout-form-assets w-form">
                    <div class="layout-asset-input">
                      <div class="text-block-12">Height:</div>
                      <input
                        type="text"
                        :value="style.height"
                        @input="insertHandle($event, 'height')"
                        class="tool-bar-field1 percent-scale w-input"
                        placeholder="% or PX"
                      >
                    </div>
                    <div class="layout-asset-input">
                      <div class="text-block-12">Min:</div>
                      <input
                        type="text"
                        :value="style.minHeight"
                        @input="insertHandle($event, 'minHeight')"
                        class="tool-bar-field1 percent-scale w-input"
                        placeholder="% or PX"
                      >
                    </div>
                    <div class="layout-asset-input">
                      <div class="text-block-12">Max:</div>
                      <input
                        type="text"
                        :value="style.maxHeight"
                        @input="insertHandle($event, 'maxHeight')"
                        class="tool-bar-field1 percent-scale w-input"
                        placeholder="None"
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tool-bar-contains">
          <div class="w-clearfix" style="z-index:3; position: relative">
            <div class="toole-tab-title">Float</div>
            <div class="layout-edits w-clearfix">
              <a
                @click="clickHandle('float', 'right')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-34x.png" width="23" sizes="20px">
                <div class="button-description toolbar-tooltip">
                  <div>Float Right</div>
                </div>
              </a>
              <a
                @click="clickHandle('float', 'left')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-24x.png" width="23" sizes="20px">
                <div class="button-description toolbar-tooltip">
                  <div>Floart Left</div>
                </div>
              </a>
              <a
                @click="clickHandle('float', 'none')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-14x.png" width="23" sizes="20px" class="icon-inset">
                <div class="button-description toolbar-tooltip">
                  <div>No Float</div>
                </div>
              </a>
            </div>
          </div>
          <div class="w-clearfix" styleHandle="z-index:2; position:relative">
            <div class="toole-tab-title">Clear</div>
            <div class="layout-edits w-clearfix">
              <a
                @click="clickHandle('clear', 'both')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-74x.png" width="23" sizes="20px">
                <div class="button-description toolbar-tooltip">
                  <div>Both</div>
                </div>
              </a>
              <a
                @click="clickHandle('clear', 'right')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-54x.png" width="23" sizes="20px">
                <div class="button-description toolbar-tooltip">
                  <div>Right</div>
                </div>
              </a>
              <a
                @click="clickHandle('clear', 'left')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-44x.png" width="23" sizes="20px">
                <div class="button-description toolbar-tooltip">
                  <div>Left</div>
                </div>
              </a>
              <a
                @click="clickHandle('clear', 'none')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-14x.png" width="23" sizes="20px" class="icon-inset">
                <div class="button-description toolbar-tooltip">
                  <div>No Clear</div>
                </div>
              </a>
            </div>
          </div>
          <div class="w-clearfix" style="z-index:1; position:relative">
            <div class="toole-tab-title">Overflow</div>
            <div class="layout-edits w-clearfix">
              <a
                @click="clickHandle('overflow', 'auto')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-84x.png" width="23">
                <div class="button-description toolbar-tooltip">
                  <div>Scroll Auto</div>
                </div>
              </a>
              <a
                @click="clickHandle('overflow', 'scroll')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-94x.png" width="23">
                <div class="button-description toolbar-tooltip">
                  <div>Scroll</div>
                </div>
              </a>
              <a
                @click="clickHandle('overflow', 'hidden')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-104x.png" width="23">
                <div class="button-description toolbar-tooltip">
                  <div>Hidden</div>
                </div>
              </a>
              <a
                @click="clickHandle('overflow', 'visible')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-114x.png" width="23">
                <div class="button-description toolbar-tooltip">
                  <div>Visible</div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="tool-bar-contains">
          <div class="w-clearfix">
            <div class="toole-tab-title">Positiion</div>
            <div class="layout-edits">
              <div data-duration-in="300" data-duration-out="100" class="position-tab w-tabs">
                <div class="w-clearfix w-tab-menu">
                  <a
                    @click="positionHandle('fixed', 1)"
                    class="tooltip set-display-cordination w-inline-block w-tab-link"
                  >
                    <div class="button-description toolbar-tooltip">
                      <div>Fixed</div>
                    </div>
                    <img src="@/assets/images/Asset-194x.png" width="23">
                  </a>
                  <a
                    @click="positionHandle('absolute', 2)"
                    class="tooltip set-display-cordination w-inline-block w-tab-link"
                  >
                    <div class="button-description toolbar-tooltip">
                      <div>Absolute</div>
                    </div>
                    <img src="@/assets/images/Asset-184x.png" width="18" class="icon-image2">
                  </a>
                  <a
                    @click="positionHandle('relative', 3)"
                    class="tooltip set-display-cordination w-inline-block w-tab-link"
                  >
                    <div class="button-description toolbar-tooltip">
                      <div>Relative</div>
                    </div>
                    <img src="@/assets/images/Asset-174x.png" width="23" sizes="20px">
                  </a>
                  <a
                    @click="positionHandle('auto', 4)"
                    class="tooltip set-display-cordination w-inline-block w-tab-link"
                  >
                    <div class="button-description toolbar-tooltip">
                      <div>Auto</div>
                    </div>
                    <img src="@/assets/images/Asset-124x.png" width="23">
                  </a>
                </div>
                <div class="tabs-content-4 w-clearfix w-tab-content">
                  <div class="tab-pane-tab1 w-tab-pane" v-if="positionTab === 1">
                    <div class="w-clearfix">
                      <a
                        @click="positionSpecHandle('top', 'right')"
                        class="set-display-cordination w-inline-block"
                      >
                        <img src="@/assets/images/Asset-314x.png" width="23">
                      </a>
                      <a
                        @click="positionSpecHandle('bottom', 'right')"
                        class="set-display-cordination w-inline-block"
                      >
                        <img src="@/assets/images/Asset-294x.png" width="23">
                      </a>
                      <a
                        @click="positionSpecHandle('top', 'left')"
                        class="set-display-cordination w-inline-block"
                      >
                        <img src="@/assets/images/Asset-324x.png" width="23">
                      </a>
                      <a
                        @click="positionSpecHandle('bottom', 'left')"
                        class="set-display-cordination w-inline-block"
                      >
                        <img src="@/assets/images/Asset-294x.png" width="23">
                      </a>
                    </div>
                    <div class="layout-form-assets w-form">
                      <div class="layout-asset-input small">
                        <img
                          src="@/assets/images/Asset-214x.png"
                          width="30"
                          sizes="32px"
                          class="relative-image"
                        >
                        <input
                          type="text"
                          :value="style.left"
                          @input="insertHandle($event, 'left')"
                          class="tool-bar-field1 percent-scale w-input"
                          placeholder="% or PX"
                        >
                      </div>
                      <div class="layout-asset-input small">
                        <img
                          src="@/assets/images/Asset-204x.png"
                          width="30"
                          sizes="32px"
                          class="relative-image"
                        >
                        <input
                          type="text"
                          :value="style.right"
                          @input="insertHandle($event, 'right')"
                          class="tool-bar-field1 percent-scale w-input"
                          placeholder="% or PX"
                        >
                      </div>
                      <div class="layout-asset-input small">
                        <img
                          src="@/assets/images/Asset-234x.png"
                          width="30"
                          sizes="32px"
                          class="relative-image"
                        >
                        <input
                          type="text"
                          :value="style.top"
                          @input="insertHandle($event, 'top')"
                          class="tool-bar-field1 percent-scale w-input"
                          placeholder="% or PX"
                        >
                      </div>
                      <div class="layout-asset-input small">
                        <img
                          src="@/assets/images/Asset-224x.png"
                          width="30"
                          sizes="32px"
                          class="relative-image"
                        >
                        <input
                          type="text"
                          :value="style.bottom"
                          @input="insertHandle($event, 'bottom')"
                          class="tool-bar-field1 percent-scale w-input"
                          placeholder="% or PX"
                        >
                      </div>
                      <div class="layout-asset-input">
                        <div class="text-block-12">Z-Index</div>
                        <input
                          type="text"
                          :value="style.zIndex"
                          @input="insertHandle($event, 'zIndex')"
                          class="tool-bar-field1 percent-scale w-input"
                          placeholder="None"
                        >
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane-tab-4 w-tab-pane" v-else-if="positionTab === 2">
                    <div class="w-clearfix">
                      <a
                        @click="positionSpecHandle('top', 'right')"
                        class="set-display-cordination w-inline-block"
                      >
                        <img src="@/assets/images/Asset-314x.png" width="23">
                      </a>
                      <a
                        @click="positionSpecHandle('bottom', 'right')"
                        class="set-display-cordination w-inline-block"
                      >
                        <img src="@/assets/images/Asset-294x.png" width="23">
                      </a>
                      <a
                        @click="positionSpecHandle('top', 'left')"
                        class="set-display-cordination w-inline-block"
                      >
                        <img src="@/assets/images/Asset-324x.png" width="23">
                      </a>
                      <a
                        @click="positionSpecHandle('bottom', 'left')"
                        class="set-display-cordination w-inline-block"
                      >
                        <img src="@/assets/images/Asset-294x.png" width="23">
                      </a>
                    </div>
                    <div class="layout-form-assets w-form">
                      <div class="layout-asset-input small">
                        <img
                          src="@/assets/images/Asset-214x.png"
                          width="30"
                          sizes="32px"
                          class="relative-image"
                        >
                        <input
                          type="text"
                          :value="style.left"
                          @input="insertHandle($event, 'left')"
                          class="tool-bar-field1 percent-scale w-input"
                          placeholder="% or PX"
                        >
                      </div>
                      <div class="layout-asset-input small">
                        <img
                          src="@/assets/images/Asset-204x.png"
                          width="30"
                          sizes="32px"
                          class="relative-image"
                        >
                        <input
                          type="text"
                          :value="style.right"
                          @input="insertHandle($event, 'right')"
                          class="tool-bar-field1 percent-scale w-input"
                          placeholder="% or PX"
                        >
                      </div>
                      <div class="layout-asset-input small">
                        <img
                          src="@/assets/images/Asset-234x.png"
                          width="30"
                          sizes="32px"
                          class="relative-image"
                        >
                        <input
                          type="text"
                          :value="style.top"
                          @input="insertHandle($event, 'top')"
                          class="tool-bar-field1 percent-scale w-input"
                          placeholder="% or PX"
                        >
                      </div>
                      <div class="layout-asset-input small">
                        <img
                          src="@/assets/images/Asset-224x.png"
                          width="30"
                          sizes="32px"
                          class="relative-image"
                        >
                        <input
                          type="text"
                          :value="style.bottom"
                          @input="insertHandle($event, 'bottom')"
                          class="tool-bar-field1 percent-scale w-input"
                          placeholder="% or PX"
                        >
                      </div>
                      <div class="layout-asset-input">
                        <div class="text-block-12">Z-Index</div>
                        <input
                          type="text"
                          :value="style.zIndex"
                          @input="insertHandle($event, 'zIndex')"
                          class="tool-bar-field1 percent-scale w-input"
                          placeholder="None"
                        >
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane-tab-5 w-tab-pane" v-else-if="positionTab === 3">
                    <div class="layout-form-assets w-form">
                      <div class="layout-asset-input small">
                        <img
                          src="@/assets/images/Asset-214x.png"
                          width="30"
                          sizes="32px"
                          class="relative-image"
                        >
                        <input
                          type="text"
                          :value="style.left"
                          @input="insertHandle($event, 'left')"
                          class="tool-bar-field1 percent-scale w-input"
                          placeholder="% or PX"
                        >
                      </div>
                      <div class="layout-asset-input small">
                        <img
                          src="@/assets/images/Asset-214x.png"
                          width="30"
                          sizes="32px"
                          class="relative-image"
                        >
                        <input
                          type="text"
                          :value="style.right"
                          @input="insertHandle($event, 'right')"
                          class="tool-bar-field1 percent-scale w-input"
                          placeholder="% or PX"
                        >
                      </div>
                      <div class="layout-asset-input small">
                        <img
                          src="@/assets/images/Asset-214x.png"
                          width="30"
                          sizes="32px"
                          class="relative-image"
                        >
                        <input
                          type="text"
                          :value="style.top"
                          @input="insertHandle($event, 'top')"
                          class="tool-bar-field1 percent-scale w-input"
                          placeholder="% or PX"
                        >
                      </div>
                      <div class="layout-asset-input small">
                        <img
                          src="@/assets/images/Asset-214x.png"
                          width="30"
                          sizes="32px"
                          class="relative-image"
                        >
                        <input
                          type="text"
                          :value="style.bottom"
                          @input="insertHandle($event, 'bottom')"
                          class="tool-bar-field1 percent-scale w-input"
                          placeholder="% or PX"
                        >
                      </div>
                      <div class="layout-asset-input">
                        <div class="text-block-12">Z-Index</div>
                        <input
                          type="text"
                          :value="style.zIndex"
                          @input="insertHandle($event, 'zIndex')"
                          class="tool-bar-field1 percent-scale w-input"
                          placeholder="None"
                        >
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane-tab-0 w-tab-pane" v-else-if="positionTab === 4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Chrome } from 'vue-color'
import InputTag from 'vue-input-tag'
export default {
  props: ['tab'],
  data () {
    return {
      stateCss: 0,
      positionTab: 4,
      setting: {
        width: '100%',
        height: 'auto',
        minWidth: '100px',
        minHeight: '300px',
        maxWidth: 'auto',
        maxHeight: 'auto',
        position: 'relative',
        top: 'auto',
        left: 'auto',
        bottom: 'auto',
        right: 'auto',
        display: 'block',
        paddingTop: '10px',
        paddingRight: '10px',
        paddingBottom: '10px',
        paddingLeft: '10px',
        marginTop: '10px',
        marginRight: 'auto',
        marginBottom: '10px',
        marginLeft: 'auto',
        float: 'none',
        clear: 'none',
        overflow: 'none',
        fontFamily: 'unset',
        fontStyle: 'normal',
        fontKerning: 'normal',
        fontWeight: 500,
        color: '#000000',
        fontSize: '15px',
        lineHeight: 1,
        textIndent: '0px',
        textAlign: 'left',
        textDecoration: 'none',
        textTransform: 'lowercase',
        backgroundImage: 'unset',
        backgroundRepeat: 'no-repeat',
        backgroundPosition: 'center',
        backgroundSize: 'cover',
        backgroundColor: '#ffffff',
        direction: 'ltr',
        borderTopWidth: '1px',
        borderRightWidth: '1px',
        borderBottomWidth: '1px',
        borderLeftWidth: '1px',
        borderTopLeftRadius: '5px',
        borderTopRightRadius: '5px',
        borderBottomLeftRadius: '5px',
        borderBottomRightRadius: '5px',
        borderStyle: 'solid',
        borderColor: '#cccccc',
        boxShadow: '0px 0px 0px 0px #cccccc',
        textShadow: '0px 0px 0px #cccccc',
        transition: 'unset',
        transform: 'unset',
        opacity: 1,
        cursor: 'pointer',
        zIndex: 0,
        columnCount: 'auto'
      }
    }
  },
  computed: {
    state () {
      return this.$store.state.activeWidget.state
    },
    activeWidget () {
      return this.$store.state.activeWidget
    },
    style () {
      if (this.$store.state.activeWidget.class !== undefined){
        let style = this.$store.state.classes.find(
          i => i.name === this.$store.state.activeWidget.class[0]
        )
        if (style === undefined) {
          return this.setting
        } else if (this.$store.state.activeWidget.state === 0) {
          return style.noneStyle
        } else if (this.$store.state.activeWidget.state === 1) {
          return style.hoverStyle
        } else {
          return style.focusStyle
        }
      } else {
        return this.setting
      }
    }
  },
  methods: {
    closeTab () {
      let i = this.tab === 1 ? 0 : 1
      this.$emit('closeTab', i)
    },
    selectState (i) {
      this.activeWidget.state = i
      this.stateCss = 0
    },
    getStyleType () {
      if (this.activeWidget.state === 0) {
        return 'noneStyle'
      } else if (this.activeWidget.state === 1) {
        return 'hoverStyle'
      } else {
        return 'focusStyle'
      }
    },
    clickHandle (i, j) {
      if (this.activeWidget.class !== undefined){
        let value = {}
        value[i] = j
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: value,
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    insertHandle (i, j) {
      if (this.activeWidget.class !== undefined) {
        let value = {}
        value[j] = i.target.value
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: value,
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    mpHandle (i, j) {
      if (this.activeWidget.class !== undefined) {
        let value = {}
        if (this.style[i] === undefined) {
          value[i] = 0 + 'px'
        } else {
          if (j) {
            value[i] =
              parseInt(this.style[i]) + 1 + this.style[i].match(/[^0-9]+$/)
          } else {
            value[i] =
              parseInt(this.style[i]) - 1 + this.style[i].match(/[^0-9]+$/)
          }
        }
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: value,
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    positionHandle (i, j) {
      if (this.activeWidget.class !== undefined) {
        let value = {}
        value['position'] = i
        this.positionTab = j
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: value,
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    positionSpecHandle (i, j) {
      if (this.activeWidget.class !== undefined) {
        let value = {}
        value[i] = value[j] = '0px'
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: value,
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    addClass (e) {
      this.$store.commit('addClass', e.target.value)
    },
    removeClass () {
      this.$store.commit('removeClass')
    }
  },
  components: {
    Chrome,
    InputTag
  }
}
</script>

<style>
.vue-input-tag-wrapper {
  padding: 0px !important;
  border-radius: 5px;
  border: 1px solid;
}
.vue-input-tag-wrapper .input-tag {
  padding: 0 5px !important;
  width: 100%;
  margin: 3px !important;
}
.remove {
  float: right !important;
}
.vue-input-tag-wrapper .new-tag {
  margin: 0px !important;
  padding: 6px;
}
</style>
