<template>
  <div>
    <div class="accordion-header js-accordion-header" @click="closeTab()">
      <h5 class="tool-tab-text">Shadows</h5>
    </div>
    <div
      data-ix="hide-on-load"
      class="accordion-body js-accordion-body"
      v-if="tab == 5"
      :class="tab === 5 ? 'accordion-open' : 'accordion-close'"
    >
      <div class="tool-tab-menu">
        <div class="tool-bar-contains">
          <div class="tool-contents">
            <div class="w-clearfix">
              <div class="toole-tab-title">Box Shadow</div>
              <div class="layout-edits w-clearfix">
                <a @click="handleBoxShadow()" class="set-display-cordination w-inline-block">
                  <img
                    src="@/assets/images/Asset-2754x.png"
                    width="14"
                    sizes="(max-width: 991px) 14px, 1vw"
                  >
                  <div class="button-description">
                    <div>Image</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="w-form">
              <input
                type="text"
                v-model="style.boxShadow"
                class="tool-bar-field1 w-input"
                maxlength="256"
                placeholder="None"
              >
            </div>
          </div>
          <div class="background-picker-modal" v-if="boxShadow">
            <div class="picker-header w-clearfix">
              <div class="left">Box Shadow - Outer</div>
              <a class="picker-close w-inline-block" @click="boxShadow = 0">
                <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw">
              </a>
            </div>
            <div>
              <div class="style-title">Type</div>
              <div class="picker-image-container center">
                <a
                  @click="boxTypeHandle(1)"
                  class="picker-browse-image side-by-side w-inline-block"
                >
                  <div class="upload-text">Inner</div>
                </a>
                <a
                  @click="boxTypeHandle(0)"
                  class="picker-browse-image side-by-side w-inline-block"
                >
                  <div class="upload-text">Outer</div>
                </a>
                <div class="w-form">
                  <div class="layout-asset-input center">
                    <div class="text-block-12 short">Distance</div>
                    <input
                      type="text"
                      :value="boxDistance"
                      @input="boxDistanceHandle($event)"
                      class="tool-bar-field1 percent-scale w-input"
                      maxlength="256"
                      placeholder="px"
                    >
                  </div>
                  <div class="layout-asset-input center">
                    <div class="text-block-12">Blur</div>
                    <input
                      type="text"
                      :value="boxBlur"
                      @input="boxBlurHandle($event)"
                      class="tool-bar-field1 percent-scale w-input"
                      maxlength="256"
                      placeholder="px"
                    >
                  </div>
                  <div class="layout-asset-input center">
                    <div class="text-block-12">Size</div>
                    <input
                      type="text"
                      :value="boxSize"
                      @input="boxSizeHandle($event)"
                      class="tool-bar-field1 percent-scale w-input"
                      maxlength="256"
                      placeholder="px"
                    >
                  </div>
                  <div class="center more w-clearfix">
                    <input
                      type="text"
                      :value="boxColor"
                      @input="boxColorHandle($event)"
                      class="tool-bar-field1 color-scale w-input"
                      maxlength="256"
                      placeholder="#257bd8"
                    >
                    <input
                      type="color"
                      :value="boxColor"
                      @change="boxColorHandle($event)"
                      class="color-picker"
                    >
                  </div>
                </div>
              </div>
              <div class="style-title">Angle Position</div>
              <div class="picker-image-container">
                <div>
                  <div class="w-row">
                    <div class="col w-col w-col-3"></div>
                    <div class="col w-col w-col-6">
                      <div class="text-block-12 long-title" style="text-align: center">Presets</div>
                      <div class="w-row">
                        <div class="w-clearfix w-col w-col-4">
                          <a @click="preset(0,1)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-744x_1Asset-744x.png" width="10">
                          </a>
                          <a @click="preset(0,2)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-704x.png" width="13">
                          </a>
                          <a @click="preset(0,3)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-724x_1Asset-724x.png" width="10">
                          </a>
                        </div>
                        <div class="w-clearfix w-col w-col-4">
                          <a @click="preset(0,4)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-804x.png" width="10">
                          </a>
                          <a @click="preset(0,5)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-624x.png" width="10">
                          </a>
                          <a @click="preset(0,6)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-764x.png" width="10">
                          </a>
                        </div>
                        <div class="w-clearfix w-col w-col-4">
                          <a @click="preset(0,7)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-754x_1Asset-754x.png" width="10">
                          </a>
                          <a @click="preset(0,8)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-714x.png" width="13">
                          </a>
                          <a @click="preset(0,9)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-734x_1Asset-734x.png" width="10">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tool-bar-contains">
          <div class="tool-contents">
            <div class="w-clearfix">
              <div class="toole-tab-title">Text Shadow</div>
              <div class="layout-edits w-clearfix">
                <a @click="handleTextShadow()" class="set-display-cordination w-inline-block">
                  <img
                    src="@/assets/images/Asset-2774x.png"
                    width="14"
                    sizes="(max-width: 991px) 14px, 1vw"
                  >
                  <div class="button-description">
                    <div>Image</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="w-form">
              <input
                type="text"
                v-model="style.textShadow"
                class="tool-bar-field1 w-input"
                maxlength="256"
                name="Currently-None-3"
                data-name="Currently None 3"
                placeholder="None"
                id="Currently-None-3"
              >
            </div>
          </div>
          <div class="background-picker-modal" data-ix="background-picker-hide" v-if="textShadow">
            <div class="picker-header w-clearfix">
              <div class="left">Text Shadow</div>
              <a
                class="picker-close w-inline-block"
                data-ix="bckground-picker-close"
                @click="textShadow = 0"
              >
                <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw">
              </a>
            </div>
            <div>
              <div class="style-title">Type</div>
              <div class="picker-image-container center">
                <div class="w-form">
                  <div class="layout-asset-input center">
                    <div class="text-block-12 short">Distance</div>
                    <input
                      type="text"
                      :value="textDistance"
                      @input="textDistanceHandle($event)"
                      class="tool-bar-field1 percent-scale w-input"
                      maxlength="256"
                      placeholder="px"
                    >
                  </div>
                  <div class="layout-asset-input center">
                    <div class="text-block-12">Blur</div>
                    <input
                      type="text"
                      :value="textBlur"
                      @input="textBlurHandle($event)"
                      class="tool-bar-field1 percent-scale w-input"
                      maxlength="256"
                      placeholder="px"
                    >
                  </div>
                  <div class="center more w-clearfix">
                    <input
                      type="text"
                      :value="textColor"
                      @input="textColorHandle($event)"
                      class="tool-bar-field1 color-scale w-input"
                      maxlength="256"
                      name="color-2"
                      data-name="Color 2"
                      placeholder="#257bd8"
                      id="color-2"
                    >
                    <input
                      type="color"
                      :value="textColor"
                      @change="textColorHandle($event)"
                      class="color-picker"
                    >
                  </div>
                </div>
              </div>
              <div class="style-title">Angle Position</div>
              <div class="picker-image-container">
                <div>
                  <div class="w-row">
                    <div class="col w-col w-col-3"></div>
                    <div class="col w-col w-col-6">
                      <div class="text-block-12 long-title" style="text-align: center">Presets</div>
                      <div class="w-row">
                        <div class="w-clearfix w-col w-col-4">
                          <a @click="preset(1,1)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-744x_1Asset-744x.png" width="10">
                          </a>
                          <a @click="preset(1,2)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-704x.png" width="13">
                          </a>
                          <a @click="preset(1,3)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-724x_1Asset-724x.png" width="10">
                          </a>
                        </div>
                        <div class="w-clearfix w-col w-col-4">
                          <a @click="preset(1,4)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-804x.png" width="10">
                          </a>
                          <a @click="preset(1,5)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-624x.png" width="10">
                          </a>
                          <a @click="preset(1,6)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-764x.png" width="10">
                          </a>
                        </div>
                        <div class="w-clearfix w-col w-col-4">
                          <a @click="preset(1,7)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-754x_1Asset-754x.png" width="10">
                          </a>
                          <a @click="preset(1,8)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-714x.png" width="13">
                          </a>
                          <a @click="preset(1,9)" class="set-display-cordination w-inline-block">
                            <img src="@/assets/images/Asset-734x_1Asset-734x.png" width="10">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['tab'],
  data () {
    return {
      boxShadow: 0,
      textShadow: 0,
      boxDistance: '',
      boxBlur: '',
      boxSize: '',
      boxColor: '',
      textDistance: '',
      textBlur: '',
      textColor: '',
      setting: {
        width: '100%',
        height: 'auto',
        minWidth: '100px',
        minHeight: '300px',
        maxWidth: 'auto',
        maxHeight: 'auto',
        position: 'relative',
        top: 'auto',
        left: 'auto',
        bottom: 'auto',
        right: 'auto',
        display: 'block',
        paddingTop: '10px',
        paddingRight: '10px',
        paddingBottom: '10px',
        paddingLeft: '10px',
        marginTop: '10px',
        marginRight: 'auto',
        marginBottom: '10px',
        marginLeft: 'auto',
        float: 'none',
        clear: 'none',
        overflow: 'none',
        fontFamily: 'unset',
        fontStyle: 'normal',
        fontKerning: 'normal',
        fontWeight: 500,
        color: '#000000',
        fontSize: '15px',
        lineHeight: 1,
        textIndent: '0px',
        textAlign: 'left',
        textDecoration: 'none',
        textTransform: 'lowercase',
        backgroundImage: 'unset',
        backgroundRepeat: 'no-repeat',
        backgroundPosition: 'center',
        backgroundSize: 'cover',
        backgroundColor: '#ffffff',
        direction: 'ltr',
        borderTopWidth: '1px',
        borderRightWidth: '1px',
        borderBottomWidth: '1px',
        borderLeftWidth: '1px',
        borderTopLeftRadius: '5px',
        borderTopRightRadius: '5px',
        borderBottomLeftRadius: '5px',
        borderBottomRightRadius: '5px',
        borderStyle: 'solid',
        borderColor: '#cccccc',
        boxShadow: '0px 0px 0px 0px #cccccc',
        textShadow: '0px 0px 0px #cccccc',
        transition: 'unset',
        transform: 'unset',
        opacity: 1,
        cursor: 'pointer',
        zIndex: 0,
        columnCount: 'auto'
      }
    }
  },
  computed: {
    state () {
      return this.$store.state.activeWidget.state
    },
    activeWidget () {
      return this.$store.state.activeWidget
    },
    style () {
      if (this.$store.state.activeWidget.class !== undefined){
        let style = this.$store.state.classes.find(
          i => i.name === this.$store.state.activeWidget.class[0]
        )
        if (style === undefined) {
          return this.setting
        } else if (this.$store.state.activeWidget.state === 0) {
          return style.noneStyle
        } else if (this.$store.state.activeWidget.state === 1) {
          return style.hoverStyle
        } else {
          return style.focusStyle
        }
      } else {
        return this.setting
      }
    }
  },
  methods: {
    closeTab () {
      let i = this.tab === 5 ? 0 : 5
      this.$emit('closeTab', i)
    },
    getStyleType () {
      if (this.activeWidget.state === 0) {
        return 'noneStyle'
      } else if (this.activeWidget.state === 1) {
        return 'hoverStyle'
      } else {
        return 'focusStyle'
      }
    },
    handleBoxShadow () {
      if (this.activeWidget.class !== undefined) {
        if (this.boxShadow === 0 && this.style.boxShadow === undefined) {
          this.$store.commit('setClass', {
            name: this.activeWidget.class[0],
            value: { boxShadow: '0px 0px 1px 1px #cccccc' },
            styleType: this.getStyleType()
          })
        }
        let boxArray = this.style.boxShadow.split(' ')
        this.boxDistance = boxArray[0] + ' ' + boxArray[1]
        this.boxBlur = boxArray[2]
        this.boxSize = boxArray[3]
        this.boxColor = boxArray[4]
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
      this.boxShadow = !this.boxShadow
    },
    boxTypeHandle (i) {
      if (this.activeWidget.class !== undefined) {
        let boxArray = this.style.boxShadow.split(' ')
        if (i) {
          if (boxArray.length < 6) {
            let result = this.style.boxShadow + ' inset'
            this.$store.commit('setClass', {
              name: this.activeWidget.class[0],
              value: { boxShadow: result },
              styleType: this.getStyleType()
            })
          }
        } else {
          if (boxArray.length > 5) {
            boxArray.splice(boxArray.length - 1, 1)
            let result = boxArray.join(' ')
            this.$store.commit('setClass', {
              name: this.activeWidget.class[0],
              value: { boxShadow: result },
              styleType: this.getStyleType()
            })
          }
        }
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    boxDistanceHandle (e) {
      if (this.activeWidget.class !== undefined) {
        let boxArray = this.style.boxShadow.split(' ')
        this.boxDistance = e.target.value
        let value = {
          boxShadow:
            e.target.value +
            ' ' +
            boxArray[2] +
            ' ' +
            boxArray[3] +
            ' ' +
            boxArray[4]
        }
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: value,
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    boxBlurHandle (e) {
      if (this.activeWidget.class !== undefined) {
        let boxArray = this.style.boxShadow.split(' ')
        this.boxBlur = e.target.value
        let value = {
          boxShadow:
            boxArray[0] +
            ' ' +
            boxArray[1] +
            ' ' +
            e.target.value +
            ' ' +
            boxArray[3] +
            ' ' +
            boxArray[4]
        }
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: value,
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    boxSizeHandle (e) {
      if (this.activeWidget.class !== undefined) {
        let boxArray = this.style.boxShadow.split(' ')
        this.boxSize = boxArray[3]
        let value = {
          boxShadow:
            boxArray[0] +
            ' ' +
            boxArray[1] +
            ' ' +
            boxArray[2] +
            ' ' +
            e.target.value +
            ' ' +
            boxArray[4]
        }
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: value,
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    boxColorHandle (e) {
      if (this.activeWidget.class !== undefined) {
        let boxArray = this.style.boxShadow.split(' ')
        this.boxColor = e.target.value
        let value = {
          boxShadow:
            boxArray[0] +
            ' ' +
            boxArray[1] +
            ' ' +
            boxArray[2] +
            ' ' +
            boxArray[3] +
            ' ' +
            e.target.value
        }
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: value,
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    preset (i, j) {
      if (this.activeWidget.class !== undefined) {
        let dataArray = []
        if (i === 0) {
          dataArray = this.style.boxShadow.split(' ')
        } else {
          dataArray = this.style.textShadow.split(' ')
        }
        let x = parseInt(dataArray[0])
        let y = parseInt(dataArray[1])
        switch (j) {
          case 1:
            x -= 2
            y -= 2
            break
          case 2:
            x -= 2
            break
          case 3:
            x -= 2
            y += 2
            break
          case 4:
            y -= 2
            break
          case 5:
            x = y = 0
            break
          case 6:
            y += 2
            break
          case 7:
            x += 2
            y -= 2
            break
          case 8:
            x += 2
            break
          case 9:
            x += 2
            y += 2
        }
        let value = {}
        if (i === 0) {
          this.boxDistance = x + 'px ' + y + 'px'
          value.boxShadow =
            x +
            'px ' +
            y +
            'px ' +
            dataArray[2] +
            ' ' +
            dataArray[3] +
            ' ' +
            dataArray[4]
        } else {
          this.textDistance = x + 'px ' + y + 'px'
          value.textShadow =
            x + 'px ' + y + 'px ' + dataArray[2] + ' ' + dataArray[3]
        }
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: value,
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    handleTextShadow () {
      if (this.activeWidget.class !== undefined) {
        if (this.textShadow === 0 && this.style.textShadow === undefined) {
          this.$store.commit('setClass', {
            name: this.activeWidget.class[0],
            value: { textShadow: '1px 1px 1px #ffffff' },
            styleType: this.getStyleType()
          })
        }
        let textArray = this.style.textShadow.split(' ')
        this.textDistance = textArray[0] + ' ' + textArray[1]
        this.textBlur = textArray[2]
        this.textColor = textArray[3]
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
      this.textShadow = !this.textShadow
    },
    textDistanceHandle (e) {
      if (this.activeWidget.class !== undefined) {
        let textArray = this.style.textShadow.split(' ')
        this.textDistance = e.target.value
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: {
            textShadow:
              this.textDistance + ' ' + textArray[2] + ' ' + textArray[3]
          },
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    textBlurHandle (e) {
      if (this.activeWidget.class !== undefined) {
        let textArray = this.style.textShadow.split(' ')
        this.textBlur = e.target.value
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: {
            textShadow:
              textArray[0] +
              ' ' +
              textArray[1] +
              ' ' +
              this.textBlur +
              ' ' +
              textArray[3]
          },
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    textColorHandle (e) {
      if (this.activeWidget.class !== undefined) {
        let textArray = this.style.textShadow.split(' ')
        this.textColor = e.target.value
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: {
            textShadow:
              textArray[0] +
              ' ' +
              textArray[1] +
              ' ' +
              textArray[2] +
              ' ' +
              this.textColor
          },
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    }
  }
}
</script>
