<template>
  <div>
    <div class="accordion-header js-accordion-header" @click="closeTab()">
      <h5 class="tool-tab-text">Transitions &amp; Transforms</h5>
    </div>
    <div
      data-ix="hide-on-load"
      class="accordion-body js-accordion-body"
      v-if="tab === 6"
      :class="tab === 6 ? 'accordion-open' : 'accordion-close'"
    >
      <div class="tool-tab-menu">
        <div class="tool-bar-contains">
          <div class="tool-contents">
            <div class="w-clearfix">
              <div class="toole-tab-title">Transitions</div>
              <div class="layout-edits w-clearfix">
                <a
                  @click="transitionState = !transitionState"
                  class="set-display-cordination w-inline-block"
                >
                  <img src="@/assets/images/Asset-2794x.png" width="14">
                  <div class="button-description">
                    <div>Image</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="w-form">
              <input type="text" class="tool-bar-field1 w-input" maxlength="256" placeholder="None">
            </div>
          </div>
          <div class="background-picker-modal" v-if="transitionState">
            <div class="picker-header w-clearfix">
              <div class="left">New Transition</div>
              <a href="#" class="picker-close w-inline-block" @click="transitionState = 0">
                <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw">
              </a>
            </div>
            <div>
              <div class="style-title">Type</div>
              <div class="picker-image-container center">
                <div data-delay="0" class="selector w-dropdown">
                  <div
                    class="dropdown-toggle-4 w-dropdown-toggle"
                    @click="selectTransitionState = !selectTransitionState"
                  >
                    <div class="w-icon-dropdown-toggle"></div>
                    <img src="@/assets/images/Asset-2784x.png" width="10">
                    <div class="text-block-18">{{transitionValue}}</div>
                  </div>
                  <nav class="dropdown-list-4 w-dropdown-list" v-if="selectTransitionState">
                    <a
                      @click="selectTransitionItem('background-color')"
                      class="dropdown-link-3 w-dropdown-link"
                    >Background Color</a>
                    <a
                      @click="selectTransitionItem('opacity')"
                      class="dropdown-link-3 w-dropdown-link"
                    >Opacity</a>
                  </nav>
                </div>
                <div class="w-form">
                  <div class="layout-asset-input left-align">
                    <div class="text-block-12 short left-align">Time</div>
                    <input
                      type="text"
                      :value="this.style.transitionDuration"
                      @input="transitionDurationHandle($event)"
                      class="tool-bar-field1 percent-scale w-input"
                      maxlength="256"
                      placeholder="Seconds"
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tool-bar-contains">
          <div class="tool-contents">
            <div class="w-clearfix">
              <div class="toole-tab-title" style="margin-bottom: 15px">Transforms:</div>
            </div>
            <div class="w-form">
              <input
                type="text"
                class="tool-bar-field1 w-input"
                @input="transformHandle($event)"
                maxlength="256"
                placeholder="None"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['tab'],
  data () {
    return {
      transitionState: 0,
      transformState: 0,
      selectTransitionState: 0,
      selectTransformState: 0,
      transitionValue: 'Add a New State Change',
      transformValue: 'Add a New State Change',
      setting: {
        width: '85%',
        height: 'auto',
        minWidth: '100px',
        minHeight: '300px',
        maxWidth: 'auto',
        maxHeight: 'auto',
        position: 'relative',
        top: 'auto',
        left: 'auto',
        bottom: 'auto',
        right: 'auto',
        display: 'block',
        paddingTop: '10px',
        paddingRight: '10px',
        paddingBottom: '10px',
        paddingLeft: '10px',
        marginTop: '10px',
        marginRight: 'auto',
        marginBottom: '10px',
        marginLeft: 'auto',
        float: 'none',
        clear: 'none',
        overflow: 'none',
        fontFamily: 'unset',
        fontStyle: 'normal',
        fontKerning: 'normal',
        fontWeight: 500,
        color: '#000000',
        fontSize: '15px',
        lineHeight: 1,
        textIndent: '0px',
        textAlign: 'left',
        textDecoration: 'none',
        textTransform: 'lowercase',
        backgroundImage: 'unset',
        backgroundRepeat: 'no-repeat',
        backgroundPosition: 'center',
        backgroundSize: 'cover',
        backgroundColor: '#ffffff',
        direction: 'ltr',
        borderTopWidth: '1px',
        borderRightWidth: '1px',
        borderBottomWidth: '1px',
        borderLeftWidth: '1px',
        borderTopLeftRadius: '5px',
        borderTopRightRadius: '5px',
        borderBottomLeftRadius: '5px',
        borderBottomRightRadius: '5px',
        borderStyle: 'solid',
        borderColor: '#cccccc',
        boxShadow: '0px 0px 0px 0px #cccccc',
        textShadow: '0px 0px 0px #cccccc',
        transition: 'unset',
        transitionDelay: 0,
        transform: 'unset',
        opacity: 1,
        cursor: 'pointer',
        zIndex: 0,
        columnCount: 'auto'
      }
    }
  },
  computed: {
    state () {
      return this.$store.state.activeWidget.state
    },
    activeWidget () {
      return this.$store.state.activeWidget
    },
    style () {
      if (this.$store.state.activeWidget.class !== undefined){
        let style = this.$store.state.classes.find(
          i => i.name === this.$store.state.activeWidget.class[0]
        )
        if (style === undefined) {
          return this.setting
        } else if (this.$store.state.activeWidget.state === 0) {
          return style.noneStyle
        } else if (this.$store.state.activeWidget.state === 1) {
          return style.hoverStyle
        } else {
          return style.focusStyle
        }
      } else {
        return this.setting
      }
    }
  },
  methods: {
    closeTab () {
      let i = this.tab === 6 ? 0 : 6
      this.$emit('closeTab', i)
    },
    getStyleType () {
      if (this.activeWidget.state === 0) {
        return 'noneStyle'
      } else if (this.activeWidget.state === 1) {
        return 'hoverStyle'
      } else {
        return 'focusStyle'
      }
    },
    selectTransitionItem (i) {
      if (this.activeWidget.class !== undefined) {
        this.selectTransitionState = 0
        this.transitionValue = i
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: { transition: i },
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    transitionDurationHandle (e) {
      if (this.activeWidget.class !== undefined) {
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: { transitionDuration: e.target.value },
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    transformHandle (e) {
      if (this.activeWidget.class !== undefined) {
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: { transform: e.target.value },
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    selectTransformItem (i) {
      this.selectTransformState = 0
      this.transformValue = i
    }
  }
}
</script>
