<template>
  <div
    class="panel"
    @click="selectWidget(node.id)"
    :id="'node' + node.id"
    draggable="draggable"
    @dragstart.stop="dragstart(node.parent, node.id, $event)"
    @dragover.prevent
    @dragend.prevent.stop="dragend($event)"
    @drop.prevent.stop="drop(node.parent, node.id, $event)"
  >
    <a class="layer-link w-inline-block w-clearfix">
      <img :src="require(`@/assets/images/${node.icon}`)" class="layer-icon">
      <div>{{node.label}}</div>
    </a>
    <div v-if="node.children && node.children.length">
      <node v-for="(child, i) in node.children" :node="child" :key="i"></node>
    </div>
  </div>
</template>

<script>
export default {
  name: 'node',
  props: {
    node: Object
  },
  data () {
    return {
      nodeId: null,
      setting: {
        width: '85%',
        height: 'auto',
        minWidth: '100px',
        minHeight: '300px',
        maxWidth: 'auto',
        maxHeight: 'auto',
        position: 'relative',
        top: 'auto',
        left: 'auto',
        bottom: 'auto',
        right: 'auto',
        display: 'block',
        paddingTop: '10px',
        paddingRight: '10px',
        paddingBottom: '10px',
        paddingLeft: '10px',
        marginTop: '10px',
        marginRight: 'auto',
        marginBottom: '10px',
        marginLeft: 'auto',
        float: 'none',
        clear: 'none',
        overflow: 'none',
        fontFamily: 'unset',
        fontStyle: 'normal',
        fontKerning: 'normal',
        fontWeight: 500,
        color: '#000000',
        fontSize: '15px',
        lineHeight: 1,
        textIndent: '0px',
        textAlign: 'left',
        textDecoration: 'none',
        textTransform: 'lowercase',
        backgroundImage: 'unset',
        backgroundRepeat: 'no-repeat',
        backgroundPosition: 'center',
        backgroundSize: 'cover',
        backgroundColor: '#ffffff',
        direction: 'ltr',
        borderTopWidth: '1px',
        borderRightWidth: '1px',
        borderBottomWidth: '1px',
        borderLeftWidth: '1px',
        borderTopLeftRadius: '5px',
        borderTopRightRadius: '5px',
        borderBottomLeftRadius: '5px',
        borderBottomRightRadius: '5px',
        borderStyle: 'solid',
        borderColor: '#cccccc',
        boxShadow: '0px 0px 0px 0px #cccccc',
        textShadow: '0px 0px 0px #cccccc',
        transition: 'unset',
        transform: 'unset',
        opacity: 1,
        cursor: 'pointer',
        zIndex: 0,
        columnCount: 'auto'
      }
    }
  },
  computed: {
    widgets () {
      return this.$store.state.widgets
    },
    style () {
      if (this.$store.state.activeWidget.state === undefined) {
        return this.setting
      } else if (this.$store.state.activeWidget.state === 0) {
        return this.$store.state.activeWidget.noneStyle
      } else if (this.$store.state.activeWidget.state === 1) {
        return this.$store.state.activeWidget.hoverStyle
      } else {
        return this.$store.state.activeWidget.focusStyle
      }
    },
    state () {
      return this.$store.state.activeWidget.state
    }
  },
  methods: {
    selectWidget (id) {
      if (id === null) return
      this.$store.commit('select', { uuid: id })
    },
    dragstart (parent, id, e) {
      e.target.style.opacity = 0.5
      let data = { parent: parent, id: id }
      this.nodeId = 'node' + id
      e.dataTransfer.setData('data', JSON.stringify(data))
    },
    dragend (e) {
      document.getElementById(this.nodeId).style.opacity = 1
    },
    drop (parent, id, e) {
      let data = e.dataTransfer.getData('data')
      data = JSON.parse(data)
      let firstIndex = 0
      let secondIndex = 0
      if (parent === data.parent) {
        this.widgets.forEach((i, j) => {
          if (i.uuid === data.id) {
            firstIndex = j
          } else if (i.uuid === id) {
            secondIndex = j
          }
        })
        let widgets = this.widgets.map(i => i)
        let newSecond = Object.assign({}, this.widgets[firstIndex])
        let newFirst = Object.assign({}, this.widgets[secondIndex])
        widgets[firstIndex] = newFirst
        widgets[secondIndex] = newSecond
        this.$store.state.widgets = widgets
      } else return
    }
  }
}
</script>
