<template>
  <div>
    <div class="accordion-header js-accordion-header" @click="closeTab()">
      <h5 class="tool-tab-text">Typography</h5>
    </div>
    <div
      data-ix="hide-on-load"
      class="accordion-body js-accordion-body"
      v-if="tab === 2"
      :class="tab === 2 ? 'accordion-open' : 'accordion-close'"
    >
      <div class="tool-tab-menu">
        <div class="tool-bar-contains">
          <div class="tool-contents w-clearfix">
            <div class="toole-tab-title">Font Family</div>
            <div class="text-dropdown w-dropdown">
              <div
                class="dropdown-toggle-3 w-clearfix w-dropdown-toggle"
                @click="fontTab = !fontTab"
              >
                <div class="tool-tip">
                  <img src="@/assets/images/tooltip_1tooltip.png" width="8" height="6">
                </div>
                <div
                  class="drop-state-down"
                  v-if="style.fontFamily !== '' && style.fontFamily !== undefined"
                >{{style.fontFamily}}</div>
                <div class="drop-state-down" v-else>Open Sans</div>
              </div>
              <nav class="dropdown-list-3 w-dropdown-list" v-if="fontTab">
                <a
                  @click="clickHandle('fontFamily', 'Roboto')"
                  class="drop-link inlay-state-link w-dropdown-link"
                >Roboto</a>
                <a
                  @click="clickHandle('fontFamily', 'IBM Plex')"
                  class="drop-link inlay-state-link w-dropdown-link"
                >IBM Plex</a>
                <a
                  @click="clickHandle('fontFamily', 'IBM Mono')"
                  class="drop-link inlay-state-link w-dropdown-link"
                >IBM Mono</a>
              </nav>
            </div>
          </div>
          <div class="tool-contents w-clearfix" style="position:relative; z-index:1">
            <div class="toole-tab-title">Font Weight</div>
            <div data-delay="0" class="text-dropdown small w-dropdown">
              <div
                class="dropdown-toggle-3 w-clearfix w-dropdown-toggle"
                @click="weightTab = !weightTab"
              >
                <div class="tool-tip">
                  <img src="@/assets/images/tooltip_1tooltip.png" width="8" height="6">
                </div>
                <div
                  class="drop-state-down"
                  v-if="style.fontWeight !== '' && style.fontWeight !== undefined"
                >{{style.fontWeight}}</div>
                <div class="drop-state-down" v-else>{{style.fontWeight}}</div>
              </div>
              <nav class="dropdown-list-3 w-dropdown-list" v-if="weightTab">
                <a
                  @click="clickHandle('fontWeight',200)"
                  class="drop-link inlay-state-link w-dropdown-link"
                >200 - Light</a>
                <a
                  @click="clickHandle('fontWeight', 300)"
                  class="drop-link inlay-state-link w-dropdown-link"
                >300 - Normal</a>
                <a
                  @click="clickHandle('fontWeight', 400)"
                  class="drop-link inlay-state-link w-dropdown-link"
                >400 - Medium</a>
              </nav>
            </div>
            <a
              @click="clickHandle('fontStyle', 'italic')"
              class="set-display-cordination w-inline-block"
            >
              <img src="@/assets/images/Asset-354x_1.png" width="14">
            </a>
            <a
              @click="clickHandle('fontStyle', 'normal')"
              class="set-display-cordination w-inline-block"
            >
              <img src="@/assets/images/Asset-364x_1.png" width="14">
            </a>
          </div>
          <div class="tool-contents w-clearfix" style="position:relative; z-index: 0">
            <div class="toole-tab-title">Color</div>
            <div class="w-form">
              <input
                type="text"
                :value="style.color"
                @input="insertHandle($event, 'color')"
                class="tool-bar-field1 color-scale w-input"
                maxlength="256"
                name="color"
                data-name="color"
                placeholder="#257bd8"
                id="color"
              >
              <div
                class="color-picker"
                :style="{backgroundColor: style.color}"
                @click="displayPickerHandle()"
              ></div>
              <chrome
                :value="style.color"
                @input="updateFormPicker"
                v-if="displayPicker"
                style="clear: both; margin-left: 45px; width: 200px;"
              />
            </div>
          </div>
          <div class="font-options">
            <div class="w-row">
              <div class="col w-col w-col-6">
                <div class="layout-properties">
                  <div class="layout-form-assets w-form">
                    <div class="layout-asset-input">
                      <div class="text-block-12">Size</div>
                      <input
                        type="text"
                        :value="style.fontSize"
                        @input="insertHandle($event, 'fontSize')"
                        class="tool-bar-field1 percent-scale w-input"
                        maxlength="256"
                        placeholder="% or PX"
                        id="Class-2"
                      >
                    </div>
                    <div class="layout-asset-input">
                      <div class="text-block-12">Kerning</div>
                      <input
                        type="text"
                        :value="style.fontKerning"
                        @input="insertHandle($event, 'fontKerning')"
                        class="tool-bar-field1 percent-scale w-input"
                        maxlength="256"
                        placeholder="% or PX"
                        id="Class-2"
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col w-col w-col-6">
                <div class="layout-properties">
                  <div class="layout-form-assets w-form">
                    <div class="layout-asset-input">
                      <div class="text-block-12">Line</div>
                      <input
                        type="text"
                        :value="style.lineHeight"
                        @input="insertHandle($event, 'lineHeight')"
                        class="tool-bar-field1 percent-scale w-input"
                        maxlength="256"
                        placeholder="% or PX"
                        id="Class-2"
                      >
                    </div>
                    <div class="layout-asset-input">
                      <div class="text-block-12">Indent</div>
                      <input
                        type="text"
                        :value="style.textIndent"
                        @input="insertHandle($event, 'textIndent')"
                        class="tool-bar-field1 percent-scale w-input"
                        maxlength="256"
                        placeholder="% or PX"
                        id="Class-2"
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-clearfix" style="z-index: 4; position: relative">
            <div class="toole-tab-title">Alignment</div>
            <div class="layout-edits w-clearfix">
              <a
                @click="clickHandle('textAlign', 'justify')"
                class="tooltip set-display-cordination font-bnt-style w-inline-block"
              >
                <img src="@/assets/images/Asset-594x.png" width="14">
                <div class="button-description toolbar-tooltip">
                  <div>Justify</div>
                </div>
              </a>
              <a
                @click="clickHandle('textAlign', 'right')"
                class="tooltip set-display-cordination font-bnt-style w-inline-block"
              >
                <img src="@/assets/images/Asset-564x.png" width="14">
                <div class="button-description toolbar-tooltip">
                  <div>Right</div>
                </div>
              </a>
              <a
                @click="clickHandle('textAlign', 'center')"
                class="tooltip set-display-cordination font-bnt-style w-inline-block"
              >
                <img src="@/assets/images/Asset-574x.png" width="14">
                <div class="button-description toolbar-tooltip">
                  <div>Center</div>
                </div>
              </a>
              <a
                @click="clickHandle('textAlign', 'left')"
                class="tooltip set-display-cordination font-bnt-style w-inline-block"
              >
                <img src="@/assets/images/Asset-584x.png" width="14">
                <div class="button-description toolbar-tooltip">
                  <div>Left</div>
                </div>
              </a>
            </div>
          </div>
          <div class="w-clearfix" style="z-index: 3; position: relative">
            <div class="toole-tab-title">Strikethorugh</div>
            <div class="layout-edits w-clearfix">
              <a
                @click="clickHandle('textDecoration', 'line-through')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-534x.png" width="23">
                <div class="button-description toolbar-tooltip">
                  <div>Strike In</div>
                </div>
              </a>
              <a
                @click="clickHandle('textDecoration', 'underline')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-524x.png" width="15">
                <div class="toolbar-tooltip button-description toolbar-tooltip">
                  <div>Underline</div>
                </div>
              </a>
              <a
                @click="clickHandle('textDecoration', 'none')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-14x.png" width="23" sizes="20px" class="icon-inset">
                <div class="toolbar-tooltip button-description toolbar-tooltip">
                  <div>None</div>
                </div>
              </a>
            </div>
          </div>
          <div class="w-clearfix" style="z-index:2; position: relative">
            <div class="toole-tab-title">Direction</div>
            <div class="layout-edits w-clearfix">
              <a
                @click="clickHandle('direction', 'rtl')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-554x.png" width="18">
                <div class="toolbar-tooltip button-description">
                  <div>Right to Left</div>
                </div>
              </a>
              <a
                @click="clickHandle('direction', 'ltr')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-544x.png" width="17">
                <div class="toolbar-tooltip button-description">
                  <div>Left to rRight</div>
                </div>
              </a>
            </div>
          </div>
          <div class="w-clearfix" style="z-index: 1; position: relative">
            <div class="toole-tab-title">Text Transform</div>
            <div class="layout-edits w-clearfix">
              <a
                @click="clickHandle('textTransform', 'lowercase')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-494x.png" width="23">
                <div class="toolbar-tooltip button-description">
                  <div>Lowercase</div>
                </div>
              </a>
              <a
                @click="clickHandle('textTransform', 'capitalize')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-504x.png" width="23">
                <div class="toolbar-tooltip button-description">
                  <div>Capitalize</div>
                </div>
              </a>
              <a
                @click="clickHandle('textTransform', 'uppercase')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-514x.png" width="23">
                <div class="toolbar-tooltip button-description">
                  <div>Uppercase</div>
                </div>
              </a>
              <a
                @click="clickHandle('textTransform', 'none')"
                class="tooltip set-display-cordination w-inline-block"
              >
                <img src="@/assets/images/Asset-14x.png" width="23" sizes="20px" class="icon-inset">
                <div class="toolbar-tooltip button-description">
                  <div>None</div>
                </div>
              </a>
            </div>
          </div>
          <div class="tool-contents w-clearfix" style="z-index: 0; position: relative">
            <div class="toole-tab-title">Columns</div>
            <div data-delay="0" class="text-dropdown medium w-dropdown">
              <div
                class="dropdown-toggle-3 w-clearfix w-dropdown-toggle"
                @click="columnTab = !columnTab"
              >
                <div class="tool-tip">
                  <img src="@/assets/images/tooltip_1tooltip.png" width="8" height="6">
                </div>
                <div class="drop-state-down">{{style.columnCount}}</div>
              </div>
              <nav class="dropdown-list-3 w-dropdown-list" v-if="columnTab">
                <a
                  @click="clickHandle('columnCount', 'auto')"
                  class="drop-link inlay-state-link w-dropdown-link"
                >Auto</a>
                <a
                  @click="clickHandle('columnCount', 2)"
                  class="drop-link inlay-state-link w-dropdown-link"
                >2 Column</a>
                <a
                  @click="clickHandle('columnCount', 3)"
                  class="drop-link inlay-state-link w-dropdown-link"
                >3 Column</a>
                <a
                  @click="clickHandle('columnCount', 4)"
                  class="drop-link inlay-state-link w-dropdown-link"
                >4 Column</a>
              </nav>
            </div>
            <a href="#" class="set-display-cordination w-inline-block">
              <img src="@/assets/images/Asset-484x.png" width="14">
            </a>
          </div>
          <div class="column-settings-popup" data-ix="background-picker-hide">
            <div class="picker-header w-clearfix">
              <div class="left">Column Settings</div>
              <a href="#" class="picker-close w-inline-block" data-ix="columns-picker-close-3">
                <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw">
              </a>
            </div>
            <div>
              <div class="style-title">Multi-Column LayoutSettings</div>
            </div>
            <div class="picker-image-container">
              <div>
                <div class="w-row">
                  <div class="col w-col w-col-6">
                    <div class="layout-properties">
                      <div class="layout-form-assets w-form">
                        <div class="layout-asset-input">
                          <img src="@/assets/images/Asset-874x.png" width="18" class="icon">
                          <input
                            type="text"
                            class="tool-bar-field1 percent-scale w-input"
                            maxlength="256"
                            placeholder="% or PX"
                            id="Class-2"
                          >
                        </div>
                        <div class="layout-asset-input">
                          <div>Line Settings</div>
                          <div class="layout-asset-input">
                            <img src="@/assets/images/Asset-854x.png" width="20" class="icon">
                            <input
                              type="text"
                              class="tool-bar-field1 percent-scale w-input"
                              maxlength="256"
                              placeholder="% or PX"
                              id="Class-2"
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col w-col w-col-6">
                    <div class="layout-properties">
                      <div class="layout-form-assets w-form">
                        <div class="layout-asset-input">
                          <img src="@/assets/images/Asset-864x.png" width="20" class="icon">
                          <input
                            type="text"
                            class="tool-bar-field1 percent-scale w-input"
                            maxlength="256"
                            placeholder="% or PX"
                            id="Class-2"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-clearfix">
                <div class="layout-edits w-clearfix">
                  <a href="#" class="tooltip set-display-cordination font-bnt-style w-inline-block">
                    <img src="@/assets/images/Asset-824x.png" width="2" height="14">
                    <div class="button-description">
                      <div>Dotted</div>
                    </div>
                  </a>
                  <a href="#" class="set-display-cordination font-bnt-style w-inline-block">
                    <img src="@/assets/images/Asset-884x.png" width="3" height="14">
                    <div class="button-description">
                      <div>Dashed</div>
                    </div>
                  </a>
                  <a href="#" class="set-display-cordination left-align w-inline-block">
                    <img src="@/assets/images/Asset-814x.png" width="3" height="14">
                    <div class="button-description">
                      <div>Soild</div>
                    </div>
                  </a>
                </div>
                <img src="@/assets/images/Asset-844x.png" width="20" class="icon">
              </div>
              <div class="tool-contents w-clearfix">
                <div class="toole-tab-title">Color</div>
                <div class="w-form">
                  <input
                    type="text"
                    class="tool-bar-field1 color-scale w-input"
                    maxlength="256"
                    name="color-2"
                    data-name="Color 2"
                    placeholder="#257bd8"
                    id="color-2"
                  >
                  <div class="color-picker"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Chrome } from 'vue-color'
export default {
  props: ['tab'],
  data () {
    return {
      fontTab: 0,
      weightTab: 0,
      columnTab: 0,
      displayPicker: 0,
      colors: {
        hex8: '#ffffffff'
      },
      setting: {
        width: '85%',
        height: 'auto',
        minWidth: '100px',
        minHeight: '300px',
        maxWidth: 'auto',
        maxHeight: 'auto',
        position: 'relative',
        top: 'auto',
        left: 'auto',
        bottom: 'auto',
        right: 'auto',
        display: 'block',
        paddingTop: '10px',
        paddingRight: '10px',
        paddingBottom: '10px',
        paddingLeft: '10px',
        marginTop: '10px',
        marginRight: 'auto',
        marginBottom: '10px',
        marginLeft: 'auto',
        float: 'none',
        clear: 'none',
        overflow: 'none',
        fontFamily: 'unset',
        fontStyle: 'normal',
        fontKerning: 'normal',
        fontWeight: 500,
        color: '#000000',
        fontSize: '15px',
        lineHeight: 1,
        textIndent: '0px',
        textAlign: 'left',
        textDecoration: 'none',
        textTransform: 'lowercase',
        backgroundImage: 'unset',
        backgroundRepeat: 'no-repeat',
        backgroundPosition: 'center',
        backgroundSize: 'cover',
        backgroundColor: '#ffffff',
        direction: 'ltr',
        borderTopWidth: '1px',
        borderRightWidth: '1px',
        borderBottomWidth: '1px',
        borderLeftWidth: '1px',
        borderTopLeftRadius: '5px',
        borderTopRightRadius: '5px',
        borderBottomLeftRadius: '5px',
        borderBottomRightRadius: '5px',
        borderStyle: 'solid',
        borderColor: '#cccccc',
        boxShadow: '0px 0px 0px 0px #cccccc',
        textShadow: '0px 0px 0px #cccccc',
        transition: 'unset',
        transform: 'unset',
        opacity: 1,
        cursor: 'pointer',
        zIndex: 0,
        columnCount: 'auto'
      }
    }
  },
  components: {
    Chrome
  },
  computed: {
    state () {
      return this.$store.state.activeWidget.state
    },
    activeWidget () {
      return this.$store.state.activeWidget
    },
    style () {
      if (this.$store.state.activeWidget.class !== undefined){
        let style = this.$store.state.classes.find(
          i => i.name === this.$store.state.activeWidget.class[0]
        )
        if (style === undefined) {
          return this.setting
        } else if (this.$store.state.activeWidget.state === 0) {
          return style.noneStyle
        } else if (this.$store.state.activeWidget.state === 1) {
          return style.hoverStyle
        } else {
          return style.focusStyle
        }
      } else {
        return this.setting
      }
    }
  },
  methods: {
    closeTab () {
      let i = this.tab === 2 ? 0 : 2
      this.$emit('closeTab', i)
    },
    getStyleType () {
      if (this.activeWidget.state === 0) {
        return 'noneStyle'
      } else if (this.activeWidget.state === 1) {
        return 'hoverStyle'
      } else {
        return 'focusStyle'
      }
    },
    clickHandle (i, j) {
      if (this.activeWidget.class !== undefined) {
        let value = {}
        value[i] = j
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: value,
          styleType: this.getStyleType()
        })
        this.weightTab = this.fontTab = this.columnTab = 0
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    insertHandle (i, j) {
      if (this.activeWidget.class !== undefined) {
        let value = {}
        value[j] = i.target.value
        this.$store.commit('setClass', {
          name: this.activeWidget.class[0],
          value: value,
          styleType: this.getStyleType()
        })
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    displayPickerHandle () {
      if (this.activeWidget.class !== undefined) {
        if (this.displayPicker === 0) {
          if (this.style.color === undefined) {
            let value = { color: '#ffffff' }
            this.$store.commit('setClass', {
              name: this.activeWidget.class[0],
              value: value,
              styleType: this.getStyleType()
            })
          }
          this.displayPicker = 1
        } else {
          this.displayPicker = 0
        }
      } else {
        this.$toastr.warning('To apply style, select element!', 'Warning');
      }
    },
    updateFormPicker (e) {
      this.style.color = e.hex8
    }
  }
}
</script>
