<template>
  <div
    :id="val.uuid"
    :style="{width: styleVal.noneStyle.width, height: styleVal.noneStyle.height, minWidth: styleVal.noneStyle.minWidth, minHeight: styleVal.noneStyle.minHeight,
        maxWidth: styleVal.noneStyle.maxWidth, maxHeight: styleVal.noneStyle.maxHeight, position: styleVal.noneStyle.position, bottom: styleVal.noneStyle.bottom, right: styleVal.noneStyle.right, zIndex: styleVal.noneStyle.zIndex,
        float: styleVal.noneStyle.float, clear: styleVal.noneStyle.clear, top: styleVal.noneStyle.top, left: styleVal.noneStyle.left, display: styleVal.noneStyle.display,marginTop: styleVal.noneStyle.marginTop,
        marginRight: styleVal.noneStyle.marginRight, marginBottom: styleVal.noneStyle.marginBottom, marginLeft: styleVal.noneStyle.marginLeft}"
     :class="[{over: over, 'comp': this.$store.state.isEdit}, val.class[0]]"
    @dragover.prevent.stop="over = true"
    @dragleave.prevent.stop="over = false"
    @drop.prevent.stop="drop($event)"
  >
    <textarea
      class="sub-content"
      :style="{width: '100%',height: '100%', minWidth: styleVal.noneStyle.minWidth, minHeight: styleVal.noneStyle.minHeight, paddingTop: styleVal.noneStyle.paddingTop,
            paddingRight: styleVal.noneStyle.paddingRight, paddingBottom: styleVal.noneStyle.paddingBottom,  paddingLeft: styleVal.noneStyle.paddingLeft,
            overflow: styleVal.noneStyle.overflow, fontFamily: styleVal.noneStyle.fontFamily, fontWeight: styleVal.noneStyle.fontWeight, fontColor: styleVal.noneStyle.fontColor,
            fontKerning: styleVal.noneStyle.fontKerning, fontSize: styleVal.noneStyle.fontSize, lineHeight: styleVal.noneStyle.lineHeight, textIndent: styleVal.noneStyle.textIndent,
            textAlign: styleVal.noneStyle.textAlign, textDecoration: styleVal.noneStyle.textDecoration, backgroundImage:'url(' + styleVal.noneStyle.backgroundImage + ')',
            backgroundColor: styleVal.noneStyle.backgroundColor, direction: styleVal.noneStyle.direction, fontStyle: styleVal.noneStyle.fontStyle, borderColor: styleVal.noneStyle.borderColor,
            borderStyle: styleVal.noneStyle.borderStyle, borderTopWidth: styleVal.noneStyle.borderTopWidth, borderRightWidth: styleVal.noneStyle.borderRightWidth,
            borderBottomWidth: styleVal.noneStyle.borderBottomWidth, borderLeftWidth: styleVal.noneStyle.borderLeftWidth, borderTopLeftRadius: styleVal.noneStyle.borderTopLeftRadius,
            borderTopRightRadius: styleVal.noneStyle.borderTopRightRadius, borderBottomLeftRadius: styleVal.noneStyle.borderBottomLeftRadius,
            borderBottomRightRadius: styleVal.noneStyle.borderBottomRightRadius, boxShadow: styleVal.noneStyle.boxShadow, textShadow: styleVal.noneStyle.textShadow,
            transitionDuration: val.noneStyle.transitionDuration, transitionTimingFunction: val.noneStyle.transitionTimingFunction,
            transition: styleVal.noneStyle.transition, columnCount: styleVal.noneStyle.columnCount, transform: styleVal.noneStyle.transform, opacity: styleVal.noneStyle.opacity,
            cursor: styleVal.noneStyle.cursor, textTransform: styleVal.noneStyle.textTransform
        }"
      @mouseover="overHandle()"
      @mouseleave="leaveHandle()"
      @focus="focusHandle()"
      @blur="blurHandle()"
    ></textarea>
    <tool-bar :uuid="val.uuid" v-if="this.$store.state.isEdit"></tool-bar>
  </div>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'textarea-comp'
export default {
  name: comp,
  setting: {
    title: 'Text Area',
    icon: 'Asset-2474x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    class: [],
    noneStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '350px',
      minHeight: '150px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      right: 'auto',
      bottom: 'auto',
      display: 'inline-block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      fontStyle: 'normal',
      color: '#000000',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '1px',
      borderRightWidth: '1px',
      borderBottomWidth: '1px',
      borderLeftWidth: '1px',
      borderStyle: 'solid',
      borderColor: '#cccccc',
      borderTopLeftRadius: '0px',
      borderTopRightRadius: '0px',
      borderBottomLeftRadius: '0px',
      borderBottomRightRadius: '0px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: 'unset',
      transitionDuration: 0,
      transitionTimingFunction: 'ease',
      transform: 'unset',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 'auto',
      textTransform: 'lowercase',
      columnCount: 'auto'
    },
    hoverStyle: {},
    focusStyle: {}
  },
  data () {
    return {
      over: false
    }
  },
  computed: {
    styleVal () {
      let style = this.$store.state.classes.find(i => {
        return i.name === this.val.class[0]
      })
      if (style !== undefined) {
        let noneStyle = Object.assign({}, this.val.noneStyle, style.noneStyle)
        let hoverStyle = Object.assign(
          {},
          this.val.hoverStyle,
          style.hoverStyle
        )
        let focusStyle = Object.assign(
          {},
          this.val.focusStyle,
          style.focusStyle
        )
        let data = {
          noneStyle: noneStyle,
          hoverStyle: hoverStyle,
          focusStyle: focusStyle
        }
        return data
      } else {
        return this.val
      }
    }
  },
  props: ['val'],
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', { item: data.data, after: this.val })
      }
    },
    overHandle () {
      let element = document
        .getElementById(this.val.uuid)
        .querySelector('textarea')
      let hoverItems = Object.keys(this.styleVal.hoverStyle)
      hoverItems.forEach((i, j) => {
        if (
          i !== 'marginTop' &&
          i !== 'marginLeft' &&
          i !== 'marginRight' &&
          i !== 'marginBottom'
        ) {
          element.style[i] = this.styleVal.hoverStyle[i]
        }
      })
    },
    leaveHandle () {
      let element = document
        .getElementById(this.val.uuid)
        .querySelector('textarea')
      let noneItems = Object.keys(this.styleVal.noneStyle)
      noneItems.forEach((i, j) => {
        if (
          i !== 'marginTop' &&
          i !== 'marginLeft' &&
          i !== 'marginRight' &&
          i !== 'marginBottom'
        ) {
          element.style[i] = this.styleVal.hoverStyle[i]
        }
      })
    },
    focusHandle () {
      let element = document
        .getElementById(this.val.uuid)
        .querySelector('textarea')
      let focusItems = Object.keys(this.styleVal.focusHandle)
      focusItems.forEach((i, j) => {
        if (
          i !== 'marginTop' &&
          i !== 'marginLeft' &&
          i !== 'marginRight' &&
          i !== 'marginBottom'
        ) {
          element.style[i] = this.styleVal.hoverStyle[i]
        }
      })
    },
    blurHandle () {
      this.leaveHandle()
    }
  },
  components: {
    toolBar
  }
}
</script>
