<template>
  <div class="sidebar-nav">
    <a
      href="#"
      class="app-icon1 w-inline-block"
      @click="$store.state.showPageDrawer = !$store.state.showPageDrawer"
    >
      <img src="@/assets/images/copy.svg">
    </a>
    <a
      href="#"
      class="app-icon1 w-inline-block"
      @click="$store.state.showMediaDrawer = !$store.state.showMediaDrawer"
    >
      <img src="@/assets/images/photo.svg">
    </a>
    <a href="#" class="app-icon1 thrid-party w-inline-block">
      <img
        src="@/assets/images/js.jpg"
        sizes="(max-width: 767px) 15px, (max-width: 991px) 2vw, 15px"
        class="app-icon-small"
      >
    </a>
    <a href="#" class="app-icon1 thrid-party w-inline-block">
      <img src="@/assets/images/wp-icon-dark.png" class="app-icon-small">
    </a>
    <div class="code-container"></div>
  </div>
</template>

<script>
export default {}
</script>
