<template>
  <div
    :id="val.uuid"
    :class="[{'comp': this.$store.state.isEdit}, val.class[0]]"
    :style="{
      width: styleVal.noneStyle.width, height: styleVal.noneStyle.height, minWidth: styleVal.noneStyle.minWidth, minHeight: styleVal.noneStyle.minHeight, maxWidth: styleVal.noneStyle.maxWidth,
      maxHeight: styleVal.noneStyle.maxHeight, position: styleVal.noneStyle.position, top: styleVal.noneStyle.top, left: styleVal.noneStyle.left, bottom: styleVal.noneStyle.bottom, right: styleVal.noneStyle.right,
      display: styleVal.noneStyle.display, paddingTop: styleVal.noneStyle.paddingTop, paddingRight: styleVal.noneStyle.paddingRight, paddingBottom: styleVal.noneStyle.paddingBottom,
      paddingLeft: styleVal.noneStyle.paddingLeft, marginTop: styleVal.noneStyle.marginTop, marginRight: styleVal.noneStyle.marginRight, marginBottom: styleVal.noneStyle.marginBottom,
      marginLeft: styleVal.noneStyle.marginLeft, float: styleVal.noneStyle.float, clear: styleVal.noneStyle.clear, overflow: styleVal.noneStyle.overflow,
      fontFamily: styleVal.noneStyle.fontFamily, fontWeight: styleVal.noneStyle.fontWeight, fontKerning: styleVal.noneStyle.fontKerning, fontStyle: styleVal.noneStyle.fontStyle,
      color: styleVal.noneStyle.color, fontSize: styleVal.noneStyle.fontSize, lineHeight: styleVal.noneStyle.lineHeight, textIndent: styleVal.noneStyle.textIndent,
      textAlign: styleVal.noneStyle.textAlign, textDecoration: styleVal.noneStyle.textDecoration, backgroundImage:'url(' + styleVal.noneStyle.backgroundImage + ')',
      backgroundRepeat: styleVal.noneStyle.backgroundRepeat, backgroundPosition: styleVal.noneStyle.backgroundPosition, backgroundSize: styleVal.noneStyle.backgroundSize,
      backgroundColor: styleVal.noneStyle.backgroundColor, direction: styleVal.noneStyle.direction, borderStyle: styleVal.noneStyle.borderStyle,
      borderColor: styleVal.noneStyle.borderColor, borderTopWidth: styleVal.noneStyle.borderTopWidth, borderRightWidth: styleVal.noneStyle.borderRightWidth,
      borderBottomWidth: styleVal.noneStyle.borderBottomWidth, borderLeftWidth: styleVal.noneStyle.borderLeftWidth, borderTopLeftRadius: styleVal.noneStyle.borderTopLeftRadius,
      borderTopRightRadius: styleVal.noneStyle.borderTopRightRadius, borderBottomLeftRadius: styleVal.noneStyle.borderBottomLeftRadius,
      borderBottomRightRadius: styleVal.noneStyle.borderBottomRightRadius, boxShadow: styleVal.noneStyle.boxShadow, verticalAlign: styleVal.verticalAlign,
      textShadow: styleVal.noneStyle.textShadow, transition: styleVal.noneStyle.transition, transform: styleVal.noneStyle.transform,
      opacity: styleVal.noneStyle.opacity, cursor: styleVal.noneStyle.cursor, zIndex: styleVal.noneStyle.zIndex, textTransform: styleVal.noneStyle.textTransform, columnCount: styleVal.noneStyle.columnCount
    }"
  >
    <iframe :src="val.src" class="full-size"/>
    <tool-bar :uuid="val.uuid" v-if="this.$store.state.isEdit"></tool-bar>
  </div>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'video-player-comp'
export default {
  name: comp,
  setting: {
    title: 'Video Player',
    icon: 'Asset-2554x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    src: 'https://www.youtube.com/embed/MiRTyKehd5g?autoplay=0&controls=1',
    class: [],
    noneStyle: {
      width: '22vw',
      height: '13vw',
      minWidth: 'auto',
      minHeight: 'auto',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      right: 'auto',
      bottom: 'auto',
      display: 'inline-block',
      paddingTop: '0px',
      paddingRight: '0px',
      paddingBottom: '0px',
      paddingLeft: '0px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      fontStyle: 'normal',
      color: '#000000',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '0px',
      borderRightWidth: '0px',
      borderBottomWidth: '0px',
      borderLeftWidth: '0px',
      borderStyle: 'solid',
      borderColor: '#cccccc',
      borderTopLeftRadius: '0px',
      borderTopRightRadius: '0px',
      borderBottomLeftRadius: '0px',
      borderBottomRightRadius: '0px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: 'unset',
      transitionDuration: 0,
      transitionTimingFunction: 'ease',
      transform: 'unset',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 'auto',
      verticalAlign: 'middle',
      textTransform: 'lowercase',
      columnCount: 'auto'
    },
    hoverStyle: {},
    focusStyle: {}
  },
  data () {
    return {
      over: false
    }
  },
  computed: {
    id () {
      return this.$store.state.uuid
    },
    styleVal () {
      let style = this.$store.state.classes.find(i => {
        return i.name === this.val.class[0]
      })
      if (style !== undefined) {
        let noneStyle = Object.assign({}, this.val.noneStyle, style.noneStyle)
        let hoverStyle = Object.assign(
          {},
          this.val.hoverStyle,
          style.hoverStyle
        )
        let focusStyle = Object.assign(
          {},
          this.val.focusStyle,
          style.focusStyle
        )
        let data = {
          noneStyle: noneStyle,
          hoverStyle: hoverStyle,
          focusStyle: focusStyle
        }
        return data
      } else {
        return this.val
      }
    }
  },
  props: ['val'],
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', { item: data.data, after: this.val })
      }
    },
    overHandle () {
      let element = document.getElementById(this.val.uuid)
      let hoverItems = Object.keys(this.styleVal.hoverStyle)
      hoverItems.forEach((i, j) => {
        element.style[i] = this.styleVal.hoverStyle[i]
      })
    },
    leaveHandle () {
      let element = document.getElementById(this.val.uuid)
      let noneItems = Object.keys(this.styleVal.noneStyle)
      noneItems.forEach((i, j) => {
        element.style[i] = this.styleVal.noneStyle[i]
      })
    },
    focusHandle () {
      let element = document.getElementById(this.val.uuid)
      let focusItems = Object.keys(this.styleVal.focusHandle)
      focusItems.forEach((i, j) => {
        element.style[i] = this.styleVal.focusStyle[i]
      })
    },
    blurHandle () {
      this.leaveHandle()
    }
  },
  components: {
    toolBar
  }
}
</script>
