<template>
  <div
    :contenteditable="$store.state.isEdit ? 'true' : 'false'"
    :id="val.uuid"
    :style="{
            width: styleVal.noneStyle.width, height: styleVal.noneStyle.height, minWidth: styleVal.noneStyle.minWidth, minHeight: styleVal.noneStyle.minHeight, fontStyle: styleVal.noneStyle.fontStyle,
            maxWidth: styleVal.noneStyle.maxWidth, maxHeight: styleVal.noneStyle.maxHeight, position: styleVal.noneStyle.position, top: styleVal.noneStyle.top, right: styleVal.noneStyle.right, bottom: styleVal.noneStyle.bottom,
            left: styleVal.noneStyle.left, display: styleVal.noneStyle.display, paddingTop: styleVal.noneStyle.paddingTop, paddingRight: styleVal.noneStyle.paddingRight,
            paddingBottom: styleVal.noneStyle.paddingBottom, paddingLeft: styleVal.noneStyle.paddingLeft, marginTop: styleVal.noneStyle.marginTop, marginRight: styleVal.noneStyle.marginRight,
            marginBottom: styleVal.noneStyle.marginBottom, marginLeft: styleVal.noneStyle.marginLeft, float: styleVal.noneStyle.float, clear: styleVal.noneStyle.clear, overflow: styleVal.noneStyle.overflow, fontFamily: styleVal.noneStyle.fontFamily,
            fontWeight: styleVal.noneStyle.fontWeight, fontKerning: styleVal.noneStyle.fontKerning, color: styleVal.noneStyle.color, lineHeight: styleVal.noneStyle.lineHeight, textIndent: styleVal.noneStyle.textIndent,
            textAlign: styleVal.noneStyle.textAlign, textDecoration: styleVal.noneStyle.textDecoration, backgroundImage:'url(' + styleVal.noneStyle.backgroundImage + ')',
            backgroundColor: styleVal.noneStyle.backgroundColor, direction: styleVal.noneStyle.direction,borderTopWidth: styleVal.noneStyle.borderTopWidth,
            borderRightWidth: styleVal.noneStyle.borderRightWidth, borderBottomWidth: styleVal.noneStyle.borderBottomWidth, borderLeftWidth: styleVal.noneStyle.borderLeftWidth,
            borderColor: styleVal.noneStyle.borderColor, borderStyle: styleVal.noneStyle.borderStyle, borderTopLeftRadius: styleVal.noneStyle.borderTopLeftRadius,
            borderTopRightRadius: styleVal.noneStyle.borderTopRightRadius, borderBottomLeftRadius: styleVal.noneStyle.borderBottomLeftRadius,
            borderBottomRightRadius: styleVal.noneStyle.borderBottomRightRadius, boxShadow: styleVal.noneStyle.boxShadow, textShadow: styleVal.noneStyle.textShadow, columnCount: styleVal.noneStyle.columnCount,
            transitionDuration: val.noneStyle.transitionDuration, transitionTimingFunction: val.noneStyle.transitionTimingFunction,
            transition: styleVal.noneStyle.transition, transform: styleVal.noneStyle.transform, opacity: styleVal.noneStyle.opacity, cursor: styleVal.noneStyle.cursor, zIndex: styleVal.noneStyle.zIndex, textTransform: styleVal.noneStyle.textTransform
        }"
    :class="[{over: over, 'comp': this.$store.state.isEdit}, val.class[0]]"
    @dragover.prevent.stop="over = true"
    @dragleave.prevent.stop="over = false"
    @drop.prevent.stop="drop($event)"
    @blur="updateText($event)"
    @mouseover="overHandle()"
    @mouseleave="leaveHandle()"
    @focus="focusHandle()"
  >
    <div v-html="val.text"></div>
    <tool-bar :id="val.uuid" v-if="this.$store.state.isEdit"></tool-bar>
  </div>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'quote-comp'
export default {
  name: comp,
  setting: {
    title: 'Quote',
    icon: 'Asset-2584x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    text:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean velit dui, fermentum id facilisis sit amet, imperdiet ut est. Curabitur efficitur viverra nunc, et dignissim justo sodales ut. Mauris facilisis sit amet justo at rutrum.',
    class: [],
    noneStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '100px',
      minHeight: '30px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      color: '#000000',
      fontSize: '15px',
      fontStyle: 'normal',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '1px',
      borderRightWidth: '1px',
      borderBottomWidth: '1px',
      borderLeftWidth: '5px',
      borderStyle: 'solid',
      borderColor: '#f10ff1d4',
      borderTopLeftRadius: '0px',
      borderTopRightRadius: '0px',
      borderBottomLeftRadius: '0px',
      borderBottomRightRadius: '0px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: 'unset',
      transitionDuration: 0,
      transitionTimingFunction: 'ease',
      transform: 'unset',
      opacity: 1,
      cursor: 'text',
      zIndex: 'auto',
      textTransform: 'lowercase',
      columnCount: 'auto'
    },
    hoverStyle: {},
    focusStyle: {}
  },
  data () {
    return {
      over: false
    }
  },
  props: ['val'],
  computed: {
    id () {
      return this.$store.state.uuid
    },
    styleVal () {
      let style = this.$store.state.classes.find(i => {
        return i.name === this.val.class[0]
      })
      if (style !== undefined) {
        let noneStyle = Object.assign({}, this.val.noneStyle, style.noneStyle)
        let hoverStyle = Object.assign(
          {},
          this.val.hoverStyle,
          style.hoverStyle
        )
        let focusStyle = Object.assign(
          {},
          this.val.focusStyle,
          style.focusStyle
        )
        let data = {
          noneStyle: noneStyle,
          hoverStyle: hoverStyle,
          focusStyle: focusStyle
        }
        return data
      } else {
        return this.val
      }
    }
  },
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', { item: data.data, after: this.val })
      }
    },
    updateText (e) {
      let text = document.getElementById(this.val.uuid).querySelector('div')
        .innerHTML
      this.$store.commit('updateData', {
        id: this.val.uuid,
        key: 'text',
        value: text
      })
      this.leaveHandle()
    },
    overHandle () {
      let element = document.getElementById(this.val.uuid)
      let hoverItems = Object.keys(this.styleVal.hoverStyle)
      hoverItems.forEach((i, j) => {
        element.style[i] = this.styleVal.hoverStyle[i]
      })
    },
    leaveHandle () {
      let element = document.getElementById(this.val.uuid)
      let noneItems = Object.keys(this.styleVal.noneStyle)
      noneItems.forEach((i, j) => {
        element.style[i] = this.styleVal.noneStyle[i]
      })
    },
    focusHandle () {
      let element = document.getElementById(this.val.uuid)
      let focusItems = Object.keys(this.styleVal.focusHandle)
      focusItems.forEach((i, j) => {
        element.style[i] = this.styleVal.focusStyle[i]
      })
    }
  },
  components: {
    toolBar
  }
}
</script>
