<template>
  <div v-if="id === activeWidget.uuid" contenteditable="false">
    <div class="toolbar" v-if="section === 1">
      <button draggable="true" @dragstart="widgetMove($event)" class="tooltip">
        <i class="fas fa-arrows-alt"></i>
        <div class="toolbar-tooltip">
          <div>Move</div>
        </div>
      </button>
      <button draggable="true" @dragstart="widgetSort($event)" class="tooltip">
        <i class="fas fa-layer-group"></i>
        <div class="toolbar-tooltip">
          <div>Sort</div>
        </div>
      </button>
      <button @click="headBold()">
        <i class="fas fa-bold"></i>
      </button>
      <button @click="headItalic()">
        <i class="fas fa-italic"></i>
      </button>
      <button @click.stop="toLink()">
        <i class="fa fa-link"></i>
      </button>
      <button class="tooltip" @click="codeEditorHandle()">
        <i class="fas fa-code"></i>
        <div class="toolbar-tooltip">
          <div>Code</div>
        </div>
      </button>
      <button @click="widgetClone()" class="tooltip">
        <i class="fa fa-clone"></i>
        <div class="toolbar-tooltip">
          <div>Clone</div>
        </div>
      </button>
      <button @click="widgetRemove()" class="tooltip">
        <i class="fa fa-trash"></i>
        <div class="toolbar-tooltip">
          <div>Delete</div>
        </div>
      </button>
      <code-editor/>
    </div>
    <div class="toolbar link" v-else-if="section === 2">
      <input type="text" placeholder="http://" v-model="href">
      <button @click="headLink()">Done</button>
    </div>
  </div>
</template>

<script>
import eventBus from '../../../../event-bus.js'
import codeEditor from '../../../modal/code-editor.vue'
export default {
  data () {
    return {
      section: 1,
      href: 'http://',
      openCode: 0
    }
  },
  props: ['id'],
  computed: {
    activeWidget () {
      return this.$store.state.activeWidget
    }
  },
  components: {
    codeEditor
  },
  methods: {
    widgetMove (e) {
      let item = { data: this.activeWidget, state: 1 }
      e.dataTransfer.setData('item', JSON.stringify(item))
    },
    widgetSort (e) {
      let item = { data: this.activeWidget, state: 1, isSort: 1 }
      e.dataTransfer.setData('item', JSON.stringify(item))
    },
    widgetClone () {
      this.$store.commit('clone')
    },
    widgetRemove () {
      this.$store.commit('remove')
    },
    headBold () {
      let selection = window.getSelection().toString()
      if (selection === '') {
        this.$toastr.error('Warnning', "You didn't select text")
      } else {
        document.execCommand('bold')
        this.$parent.updateText()
      }
    },
    headItalic () {
      let selection = window.getSelection().toString()
      if (selection === '') {
        this.$toastr.error('Warnning', "You didn't select text")
      } else {
        document.execCommand('italic')
        this.$parent.updateText()
      }
    },
    toLink () {
      let selection = window.getSelection().toString()
      if (selection === '') {
        this.$toastr.error('Warnning', "You didn't select text")
      } else {
        this.selection =
          window.getSelection().rangeCount > 0
            ? window.getSelection().getRangeAt(0)
            : false
        this.section = 2
      }
    },
    headLink () {
      let link = this.href
      window.getSelection().removeAllRanges()
      window.getSelection().addRange(this.selection)
      document.execCommand('createLink', true, link)
      this.$parent.updateText()
      this.section = 1
    },
    codeEditorHandle () {
      let htmlCode = ''
      if (this.openCode) {
        this.openCode = 0
      } else {
        this.openCode = 1
        htmlCode = document.getElementById(this.activeWidget.uuid).outerHTML
        htmlCode =
          htmlCode
            .replace(/style=".*?"/g, '')
            .replace(/data-[^=]*=".*?"/g, '')
            .replace(/<!-.*?->/g, '')
            .split('<div class="toolbar"')[0] + '</div>'
      }
      let payload = { openCode: this.openCode, htmlCode: htmlCode }
      eventBus.$emit('codeHandler', payload)
    }
  }
}
</script>
