<template>
  <div class="main-creator">
    <iframe
      src="http://localhost:4000/preview"
      :style="{width: '100%', maxWidth: maxWidth, height: '-webkit-fill-available'}"
    />
  </div>
</template>

<script>
import eventBus from '../event-bus.js'
export default {
  data () {
    return {
      over: false,
      maxWidth: '100%'
    }
  },
  computed: {
    widgetStore () {
      return this.$store.state.widgets.filter(i => i.parent === 'page')
    },
    id () {
      return this.$store.state.uuid
    }
  },
  mounted () {
    eventBus.$on('previewHandle', () => {
      this.viewHandle()
    })
  },
  methods: {
    viewHandle () {
      if (this.$store.state.previewMode === 0) {
        this.maxWidth = '100%'
      } else if (this.$store.state.previewMode === 1) {
        this.maxWidth = '100%'
      } else if (this.$store.state.previewMode === 2) {
        this.maxWidth = '768px'
      } else if (this.$store.state.previewMode === 3) {
        this.maxWidth = '768px'
      } else if (this.$store.state.previewMode === 4) {
        this.maxWidth = '456px'
      }
    }
  },
  components: {}
}
</script>
<style scoped>
.main-creator {
  display: block;
  background-color: #5a5656a8;
  padding-top: 50px;
  min-height: 100%;
  text-align: center;
}
</style>
