<template>
  <div class="export-modal" :style="{transform: transform}">
    <span class="handle" @click="codeModalOpenHandle()">
      <i class="fa fa-code"></i>
    </span>
    <div class="w-container">
      <div class="chat-modal-containe">
        <div class="tool-bar-handle w-clearfix">
          <div class="move-handel">
            <div class="move-ball1"></div>
            <div class="move-ball1"></div>
            <div class="move-ball1"></div>
          </div>
        </div>
        <div class="export-contain1">
          <div class="code-view-contents">
            <div class="w-clearfix">
              <a @click="zoom(1)" class="set-display-cordination w-inline-block tooltip">
                <img src="@/assets/images/Asset-1324x.png" width="23">
                <div class="button-description tooltip-up-text">
                  <div>Zoom In</div>
                </div>
              </a>
              <a @click="zoom(0)" class="set-display-cordination w-inline-block tooltip">
                <img src="@/assets/images/Asset-1314x.png" width="23">
                <div class="button-description tooltip-up-text">
                  <div>Zoom Out</div>
                </div>
              </a>
              <div class="search-form space-1 w-form">
                  <div class="color-picker search">
                    <img src="@/assets/images/Asset-1294x.png" sizes="100vw" class="search-icon">
                  </div>
                  <input
                    type="text"
                    class="tool-bar-field1 color-scale w-input"
                    maxlength="256"
                    placeholder="Search"
                    @input="searchHandle($event)"
                  >
              </div>
              <button class="btn btn-primary btn-sm" @click="saveHandle" style="float: right; width: 100px;"><i class="fa fa-save" style="margin-right: 10px"></i>Save</button>
              <button class='btn btn-danger btn-sm' style="float: right; width: 100px;"><i class="fas fa-file-export" style="margin-right: 5px;"></i>Export</button>
            </div>
            <div data-duration-in="300" data-duration-out="100" class="tabs-5 w-tabs">
              <div class="w-tab-menu">
                <a
                  @click="tab = 1"
                  class="tab-link-tab-1 w-inline-block w-tab-link"
                  :class="tab == 1 ? 'w--current' : ''"
                >
                  <div class="tab-title">HTML</div>
                </a>
                <a
                  @click="tab = 2"
                  class="tab-code w-inline-block w-tab-link"
                  :class="tab == 2 ? 'w--current' : ''"
                >
                  <div class="tab-title">CSS</div>
                </a>
                <a
                  @click="tab = 3"
                  class="tab-code w-inline-block w-tab-link"
                  :class="tab == 3 ? 'w--current' : ''"
                >
                  <div class="tab-title">JavaScript</div>
                </a>
              </div>
              <div class="tab-content w-tab-content">
                <div class="w-tab-pane w--tab-active" v-if="tab == 1">
                  <div class="code-contain export-function">
                    <!-- <text-highlight :queries="queries"> -->
                    <codemirror
                      v-model="htmlCode"
                      :style="{fontSize: fontSize + 'px'}"
                      :options="htmlOption"
                    ></codemirror>
                    <!-- </text-highlight> -->
                  </div>
                </div>
                <div class="w-tab-pane w--tab-active" v-else-if="tab == 2">
                  <div class="code-contain export-function">
                    <codemirror
                      v-model="cssCode"
                      :style="{fontSize: fontSize + 'px'}"
                      :options="cssOption"
                    ></codemirror>
                  </div>
                </div>
                <!---->
                <div class="w-tab-pane w--tab-active" v-else-if="tab == 3">
                  <div class="code-contain export-function">
                    <codemirror
                      v-model="jsCode"
                      :style="{fontSize: fontSize + 'px'}"
                      :options="jsOption"
                    ></codemirror>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import eventBus from '../../event-bus.js'
import { codemirror } from 'vue-codemirror'
import 'codemirror/lib/codemirror.css'
import 'codemirror/theme/monokai.css'
import 'codemirror/mode/xml/xml.js'
import 'codemirror/mode/css/css.js'
import 'codemirror/mode/javascript/javascript.js'
import 'codemirror/theme/base16-dark.css'
import TextHighlight from 'vue-text-highlight'

export default {
  data () {
    return {
      tab: 1,
      codeModalOpen: 0,
      fontSize: 15,
      transform: 'translateX(850px)',
      htmlCode: '',
      cssCode: '',
      jsCode: '',
      htmlOption: {
        tabSize: 4,
        styleActiveLine: true,
        lineNumbers: true,
        line: true,
        mode: 'text/html',
        lineWrapping: true,
        theme: 'base16-dark'
      },
      jsOption: {
        tabSize: 4,
        styleActiveLine: true,
        lineNumbers: true,
        line: true,
        mode: 'text/javascript',
        lineWrapping: true,
        theme: 'base16-dark'
      },
      cssOption: {
        tabSize: 4,
        styleActiveLine: true,
        lineNumbers: true,
        line: true,
        mode: 'text/css',
        lineWrapping: true,
        theme: 'base16-dark'
      }
    }
  },
  created () {
    this.$store.dispatch('getCss').then(
      res => {
        this.cssCode = res.data
      },
      err => {
        console.log(err)
      }
    )
    this.$store.dispatch('getHtml').then(
      res => {
        this.htmlCode = res.data
      },
      err => {
        console.log(err)
      }
    )
    this.$store.dispatch('getJs').then(
      res => {
        this.jsCode = res.data
      },
      err => {
        console.log(err)
      }
    )
  },
  computed: {},
  mounted () {
    eventBus.$on('saveHandle', () => {
      this.saveHandle()
    })
  },
  methods: {
    codeModalOpenHandle () {
      if (this.codeModalOpen) {
        this.codeModalOpen = 0
        this.transform = 'translate(850px)'
      } else {
        this.codeModalOpen = 1
        this.transform = 'translate(0px)'
      }
    },
    zoom (i) {
      if (i) {
        this.fontSize += 2
      } else {
        this.fontSize -= 2
      }
    },
    searchHandle (e) {
      e - e || window.event
      var inputText = document.querySelector('.CodeMirror-lines')
      var innerHTML = inputText.innerHTML
      var index = innerHTML.indexOf(e.target.value)
      if (index >= 0) {
        innerHTML =
          innerHTML.substring(0, index) +
          "<span class='highlight'>" +
          innerHTML.substring(index, index + e.target.value.length) +
          '</span>' +
          innerHTML.substring(index + e.target.value.length)
        inputText.innerHTML = innerHTML
      }
    },
    saveHandle () {
      let payload = {}
      if (this.tab === 1) {
        payload = { code: this.htmlCode, type: 1 }
      } else if (this.tab === 2) {
        payload = { code: this.cssCode, type: 2 }
      } else {
        payload = { code: this.jsCode, type: 3 }
      }
      this.$store.dispatch('updateCodeHandle', payload).then(
        res => {
         this.$router.go(this.$router.currentRoute)
        },
        err => {
          console.log(err)
        }
      )
    }
  },
  components: {
    codemirror,
    TextHighlight
  }
}
</script>

<style scoped>
.highlight {
  background-color: #c59f58c2;
}
</style>
