<template>
  <div class="code-editor-container" v-if="openCode">
    <div class="chat-modal-containe">
      <div class="tool-bar-handle w-clearfix">
        <div class="move-handel">
          <div class="move-ball1"></div>
          <div class="move-ball1"></div>
          <div class="move-ball1"></div>
        </div>
      </div>
      <div class="export-contain">
        <div class="code-view-contents">
          <div class="w-clearfix">
            <a @click="zoom(1)" class="set-display-cordination w-inline-block tooltip">
              <img src="@/assets/images/Asset-1324x.png" width="23">
              <div class="button-description tooltip-up-text">
                <div>Zoom In</div>
              </div>
            </a>
            <a @click="zoom(0)" class="set-display-cordination w-inline-block tooltip">
              <img src="@/assets/images/Asset-1314x.png" width="23">
              <div class="button-description tooltip-up-text">
                <div>Zoom Out</div>
              </div>
            </a>
            <div class="search-form space-1 w-form" style="width: 300px;">
              <div class="color-picker search">
                <img src="@/assets/images/Asset-1294x.png" sizes="100vw" class="search-icon">
              </div>
              <input
                type="text"
                class="tool-bar-field1 color-scale w-input"
                maxlength="256"
                placeholder="Search"
                @input="searchHandle($event)"
                style="width: 55%;"
              >
              <label
                style="float-left; color: #ffffff; padding: 5px 10px; font-size: 15px;"
              >class name:</label>
            </div>
          </div>
          <div data-duration-in="300" data-duration-out="100" class="tabs-5 w-tabs">
            <div class="tab-content w-tab-content">
              <div class="w-tab-pane w--tab-active">
                <div class="code-contain export-function">
                  <codemirror
                    v-model="htmlCode"
                    :style="{fontSize: fontSize + 'px'}"
                    :options="htmlOption"
                  ></codemirror>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import eventBus from '../../event-bus.js'
import { codemirror } from 'vue-codemirror'
import 'codemirror/lib/codemirror.css'
import 'codemirror/theme/monokai.css'
import 'codemirror/mode/xml/xml.js'
import 'codemirror/mode/css/css.js'
import 'codemirror/mode/javascript/javascript.js'
import 'codemirror/theme/base16-dark.css'
import prettifyHtml from 'prettify-html'
export default {
  data () {
    return {
      fontSize: 15,
      htmlOption: {
        tabSize: 4,
        styleActiveLine: true,
        lineNumbers: true,
        line: true,
        mode: 'text/html',
        lineWrapping: true,
        theme: 'base16-dark'
      },
      openCode: false,
      htmlCode: ''
    }
  },
  components: {
    codemirror
  },
  mounted () {
    let _this = this
    eventBus.$on('codeHandler', res => {
      _this.codeHandler(res)
    })
  },
  methods: {
    zoom (i) {
      if (i) {
        this.fontSize += 2
      } else {
        this.fontSize -= 2
      }
    },
    searchHandle () {},
    codeHandler (res) {
      this.openCode = res.openCode
      this.htmlCode = prettifyHtml(res.htmlCode)
    }
  }
}
</script>

<style scoped>
.code-editor-container {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 600px;
  top: 38px;
  height: 300px;
  padding: 0px;
  z-index: 10;
}
.export-contain {
  padding: 10px 15px;
}
.code-contain {
  padding: 0;
}
.move-ball1 {
  top: -4px;
}
</style>
