<template>
  <ul
    v-if="val.unordered"
    :id="val.uuid"
    :class="[{over: over, 'comp': this.$store.state.isEdit}, val.class[0]]"
    :style="{
          width: styleVal.noneStyle.width, height: styleVal.noneStyle.height, minWidth: styleVal.noneStyle.minWidth, minHeight: styleVal.noneStyle.minHeight, maxWidth: styleVal.noneStyle.maxWidth,
          maxHeight: styleVal.noneStyle.maxHeight, position: styleVal.noneStyle.position, top: styleVal.noneStyle.top, left: styleVal.noneStyle.left, bottom: styleVal.noneStyle.bottom, right: styleVal.noneStyle.right, display: styleVal.noneStyle.display,
          marginTop: styleVal.noneStyle.marginTop, marginRight: styleVal.noneStyle.marginRight, marginBottom: styleVal.noneStyle.marginBottom, marginLeft: styleVal.noneStyle.marginLeft,
          float: styleVal.noneStyle.float, clear: styleVal.noneStyle.clear, overflow: val.noneStyle.overflow, fontKerning: styleVal.noneStyle.fontKerning, fontFamily: styleVal.noneStyle.fontFamily,
          fontWeight: styleVal.noneStyle.fontWeight, fontColor: styleVal.noneStyle.fontColor, fontSize: styleVal.noneStyle.fontSize, lineHeight: styleVal.noneStyle.lineHeight, textIndent: styleVal.noneStyle.textIndent,
          textAlign: styleVal.noneStyle.textAlign, textDecoration: styleVal.noneStyle.textDecoration, backgroundImage: styleVal.noneStyle.backgroundImage, backgroundRepeat: styleVal.noneStyle.backgroundRepeat,
          backgroundPosition: styleVal.noneStyle.backgroundPosition, backgroundSize: styleVal.noneStyle.backgroundSize,paddingTop: styleVal.noneStyle.paddingTop, paddingRight: styleVal.noneStyle.paddingRight, paddingBottom: styleVal.noneStyle.paddingBottom, paddingLeft: styleVal.noneStyle.paddingLeft,
          backgroundColor: styleVal.noneStyle.backgroundColor, direction: styleVal.noneStyle.direction, borderStyle: styleVal.noneStyle.borderStyle, borderColor: styleVal.noneStyle.borderColor,
          borderTopWidth: styleVal.noneStyle.borderTopWidth, borderRightWidth: styleVal.noneStyle.borderRightWidth, borderBottomWidth: styleVal.noneStyle.borderBottomWidth,
          borderLeftWidth: styleVal.noneStyle.borderLeftWidth, borderTopLeftRadius: styleVal.noneStyle.borderTopLeftRadius, borderTopRightRadius: styleVal.noneStyle.borderTopRightRadius,
          borderBottomLeftRadius: styleVal.noneStyle.borderBottomLeftRadius, borderBottomRightRadius: styleVal.noneStyle.borderBottomRightRadius, fontStyle: styleVal.noneStyle.fontStyle,
          boxShadow: styleVal.noneStyle.boxShadow, textShadow: styleVal.noneStyle.textShadow, transition: styleVal.noneStyle.transition, transform: styleVal.noneStyle.transform,
          transitionDuration: styleVal.noneStyle.transitionDuration, transitionTimingFunction: styleVal.noneStyle.transitionTimingFunction,
          opacity: styleVal.noneStyle.opacity, cursor: styleVal.noneStyle.cursor, zIndex: styleVal.noneStyle.zIndex, textTransform: styleVal.noneStyle.textTransform, columnCount: styleVal.noneStyle.columnCount
        }"
    @dragover.prevent.stop="over = true"
    @dragleave.prevent.stop="over = false"
    @drop.prevent.stop="drop($event)"
  >
    <li
      class="sub-content"
      :contenteditable="$store.state.isEdit ? 'true' : 'false'"
      v-for="(item, i) in val.items"
      :key="i"
      :style="{
          paddingTop: styleVal.noneStyle.paddingTop, paddingRight: styleVal.noneStyle.paddingRight, paddingBottom: styleVal.noneStyle.paddingBottom, paddingLeft: styleVal.noneStyle.paddingLeft
        }"
      @blur="updateItem($event, i)"
      @mouseover="overHandle($event)"
      @mouseleave="leaveHandle($event)"
      @focus="focusHandle($event)"
    >
      {{item}}
      <i
        class="fa fa-trash float-right"
        @click="$store.state.activeWidget.items.splice(i,1)"
        contenteditable="false"
        v-if="$store.state.isEdit"
      ></i>
    </li>
    <tool-bar :uuid="val.uuid"></tool-bar>
  </ul>
  <ol
    v-else
    :id="val.uuid"
    :class="[{over: over, 'comp': this.$store.state.isEdit}, val.class[0]]"
    :style="{
          width: styleVal.noneStyle.width, height: styleVal.noneStyle.height, minWidth: styleVal.noneStyle.minWidth, minHeight: styleVal.noneStyle.minHeight, maxWidth: styleVal.noneStyle.maxWidth,
          maxHeight: styleVal.noneStyle.maxHeight, position: val.noneStyle.position, top: styleVal.noneStyle.top, left: styleVal.noneStyle.left, bottom: styleVal.noneStyle.bottom, right: styleVal.noneStyle.right, display: styleVal.noneStyle.display,
          marginTop: styleVal.noneStyle.marginTop, marginRight: styleVal.noneStyle.marginRight, marginBottom: styleVal.noneStyle.marginBottom, marginLeft: styleVal.noneStyle.marginLeft,
          float: styleVal.noneStyle.float, clear: styleVal.noneStyle.clear, overflow: styleVal.noneStyle.overflow, fontKerning: styleVal.noneStyle.fontKerning, fontFamily: styleVal.noneStyle.fontFamily,
          fontWeight: styleVal.noneStyle.fontWeight, fontColor: styleVal.noneStyle.fontColor, fontSize: styleVal.noneStyle.fontSize, lineHeight: styleVal.noneStyle.lineHeight, textIndent: styleVal.noneStyle.textIndent,
          textAlign: styleVal.noneStyle.textAlign, textDecoration: styleVal.noneStyle.textDecoration, backgroundImage: styleVal.noneStyle.backgroundImage, backgroundRepeat: styleVal.noneStyle.backgroundRepeat,
          backgroundPosition: styleVal.noneStyle.backgroundPosition, backgroundSize: styleVal.noneStyle.backgroundSize,paddingTop: styleVal.noneStyle.paddingTop, paddingRight: styleVal.noneStyle.paddingRight, paddingBottom: styleVal.noneStyle.paddingBottom, paddingLeft: styleVal.noneStyle.paddingLeft,
          backgroundColor: styleVal.noneStyle.backgroundColor, direction: styleVal.noneStyle.direction, borderStyle: styleVal.noneStyle.borderStyle, borderColor: styleVal.noneStyle.borderColor,
          borderTopWidth: styleVal.noneStyle.borderTopWidth, borderRightWidth: styleVal.noneStyle.borderRightWidth, borderBottomWidth: styleVal.noneStyle.borderBottomWidth,
          borderLeftWidth: styleVal.noneStyle.borderLeftWidth, borderTopLeftRadius: styleVal.noneStyle.borderTopLeftRadius, borderTopRightRadius: styleVal.noneStyle.borderTopRightRadius,
          borderBottomLeftRadius: styleVal.noneStyle.borderBottomLeftRadius, borderBottomRightRadius: styleVal.noneStyle.borderBottomRightRadius, fontStyle: styleVal.noneStyle.fontStyle,
          boxShadow: styleVal.noneStyle.boxShadow, textShadow: styleVal.noneStyle.textShadow, transition: styleVal.noneStyle.transition, transform: styleVal.noneStyle.transform,
          transitionDuration: styleVal.noneStyle.transitionDuration, transitionTimingFunction: styleVal.noneStyle.transitionTimingFunction,
          opacity: styleVal.noneStyle.opacity, cursor: styleVal.noneStyle.cursor, zIndex: styleVal.noneStyle.zIndex, textTransform: styleVal.noneStyle.textTransform, columnCount: styleVal.noneStyle.columnCount
        }"
    @dragover.prevent.stop="over = true"
    @dragleave.prevent.stop="over = false"
    @drop.prevent.stop="drop($event)"
  >
    <li
      class="sub-content"
      :contenteditable="$store.state.isEdit ? 'true' : 'false'"
      v-for="(item, i) in val.items"
      :key="i"
      :style="{
       paddingTop: styleVal.noneStyle.paddingTop, paddingRight: styleVal.noneStyle.paddingRight, paddingBottom: styleVal.noneStyle.paddingBottom, paddingLeft: styleVal.noneStyle.paddingLeft
      }"
      @blur.stop="updateItem($event, i)"
      @mouseover="overHandle($event)"
      @mouseleave="leaveHandle($event)"
      @focus="focusHandle($event)"
    >
      {{item}}
      <i
        class="fa fa-trash float-right"
        @click="$store.state.activeWidget.items.splice(i,1)"
        contenteditable="false"
        v-if="$store.state.isEdit"
      ></i>
    </li>
    <tool-bar :uuid="val.uuid"></tool-bar>
  </ol>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'list-comp'
export default {
  name: comp,
  setting: {
    title: 'List',
    icon: 'Asset-2644x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    unordered: 1,
    items: ['Apple', 'Pear', 'Peach', 'Banana'],
    class: [],
    noneStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '100px',
      minHeight: '50px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '20px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: 'unset',
      fontKerning: 'normal',
      fontWeight: 500,
      fontStyle: 'normal',
      fontColor: '#000000',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: 'unset',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '1px',
      borderRightWidth: '1px',
      borderBottomWidth: '1px',
      borderLeftWidth: '1px',
      borderStyle: 'solid',
      borderColor: '#cccccc',
      borderTopLeftRadius: '1px',
      borderTopRightRadius: '1px',
      borderBottomLeftRadius: '1px',
      borderBottomRightRadius: '1px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: 'unset',
      transitionDuration: 0,
      transitionTimingFunction: 'ease',
      transform: 'unset',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 'auto',
      textTransform: 'lowercase',
      columnCount: 'auto'
    },
    hoverStyle: {},
    focusStyle: {}
  },
  data () {
    return {
      over: false
    }
  },
  props: ['val'],
  computed: {
    id () {
      return this.$store.state.uuid
    },
    styleVal () {
      let style = this.$store.state.classes.find(i => {
        return i.name === this.val.class[0]
      })
      if (style !== undefined) {
        let noneStyle = Object.assign({}, this.val.noneStyle, style.noneStyle)
        let hoverStyle = Object.assign(
          {},
          this.val.hoverStyle,
          style.hoverStyle
        )
        let focusStyle = Object.assign(
          {},
          this.val.focusStyle,
          style.focusStyle
        )
        let data = {
          noneStyle: noneStyle,
          hoverStyle: hoverStyle,
          focusStyle: focusStyle
        }
        return data
      } else {
        return this.val
      }
    }
  },
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', { item: data.data, after: this.val })
      }
    },
    updateItem (e, i) {
      let id = this.$store.state.widgets.findIndex(
        i => i.uuid === this.val.uuid
      )
      this.$store.state.widgets[id][i] = e.target.innerText
      this.leaveHandle(e)
    },
    overHandle () {
      let element = document.getElementById(this.val.uuid)
      let hoverItems = Object.keys(this.styleVal.hoverStyle)
      hoverItems.forEach((i, j) => {
        element.style[i] = this.styleVal.hoverStyle[i]
      })
    },
    leaveHandle () {
      let element = document.getElementById(this.val.uuid)
      let noneItems = Object.keys(this.styleVal.noneStyle)
      noneItems.forEach((i, j) => {
        element.style[i] = this.styleVal.noneStyle[i]
      })
    },
    focusHandle () {
      let element = document.getElementById(this.val.uuid)
      let focusItems = Object.keys(this.styleVal.focusHandle)
      focusItems.forEach((i, j) => {
        element.style[i] = this.styleVal.focusStyle[i]
      })
    },
    blurHandle () {
      this.leaveHandle()
    }
  },
  components: {
    toolBar
  }
}
</script>

<style>
.main-creator ul > li:focus,
.main-creator ul > li:active,
.main-creator ul > li:focus-within,
.main-creator ul > li:hover,
.main-creator ul > li:visited,
.main-creator ol > li:focus,
.main-creator ol > li:active,
.main-creator ol > li:focus-within,
.main-creator ol > li:hover,
.main-creator ol > li:visited {
  border: 1px solid #009eef;
  border-radius: 5px;
}
.main-creator ul > li,
.main-creator ol > li {
  margin: 5px;
}
</style>
