<template>
  <div
    :id="val.uuid"
    :style="{width: styleVal.noneStyle.width, height: styleVal.noneStyle.height, minWidth: styleVal.noneStyle.minWidth, minHeight: styleVal.noneStyle.minHeight,
        maxWidth: styleVal.noneStyle.maxWidth, maxHeight: styleVal.noneStyle.maxHeight, position: styleVal.noneStyle.position,top: styleVal.noneStyle.top, left: styleVal.noneStyle.left, bottom: styleVal.noneStyle.bottom, right: styleVal.noneStyle.right,
        display: styleVal.noneStyle.display,marginTop: styleVal.noneStyle.marginTop, marginRight: styleVal.noneStyle.marginRight, marginBottom: styleVal.noneStyle.marginBottom,
        marginLeft: styleVal.noneStyle.marginLeft, zIndex: styleVal.noneStyle.zIndex, float: styleVal.noneStyle.float, clear: styleVal.noneStyle.clear}"
    :class="[{over: over, 'comp': this.$store.state.isEdit}, val.class[0]]"
    @dragover.prevent.stop="over = true"
    @dragleave.prevent.stop="over = false"
    @drop.prevent.stop="drop($event)"
  >
    <input
      type="text"
      class="sub-content"
      :style="{width: '100%', height: '100%', minWidth: styleVal.noneStyle.minWidth, minHeight: styleVal.noneStyle.minHeight,
            paddingTop: styleVal.noneStyle.paddingTop,paddingRight: styleVal.noneStyle.paddingRight, paddingBottom: styleVal.noneStyle.paddingBottom,
            paddingLeft: styleVal.noneStyle.paddingLeft,overflow: styleVal.noneStyle.overflow, fontFamily: styleVal.noneStyle.fontFamily, fontKerning: styleVal.noneStyle.fontKerning,
            fontWeight: styleVal.noneStyle.fontWeight, fontColor: styleVal.noneStyle.fontColor, fontSize: styleVal.noneStyle.fontSize,
            lineHeight: styleVal.noneStyle.lineHeight, textIndent: styleVal.noneStyle.textIndent, textAlign: styleVal.noneStyle.textAlign,
            textDecoration: styleVal.noneStyle.textDecoration, backgroundImage:'url(' + styleVal.noneStyle.backgroundImage + ')',
            backgroundColor: styleVal.noneStyle.backgroundColor, direction: styleVal.noneStyle.direction, textTransform: styleVal.noneStyle.textTransform,
            borderColor: styleVal.noneStyle.borderColor, borderStyle: styleVal.noneStyle.borderStyle, fontStyle: styleVal.noneStyle.fontStyle,
            borderTopWidth: styleVal.noneStyle.borderTopWidth, borderRightWidth: styleVal.noneStyle.borderRightWidth,
            borderBottomWidth: styleVal.noneStyle.borderBottomWidth, borderLeftWidth: styleVal.noneStyle.borderLeftWidth,
            borderTopLeftRadius: styleVal.noneStyle.borderTopLeftRadius, borderTopRightRadius: styleVal.noneStyle.borderTopRightRadius,
            borderBottomLeftRadius: styleVal.noneStyle.borderBottomLeftRadius, borderBottomRightRadius: styleVal.noneStyle.borderBottomRightRadius,
            transitionDuration: val.noneStyle.transitionDuration, transitionTimingFunction: val.noneStyle.transitionTimingFunction,
            boxShadow: styleVal.noneStyle.boxShadow, textShadow: styleVal.noneStyle.textShadow, transition: styleVal.noneStyle.transition, columnCount: styleVal.noneStyle.columnCount,
            transform: styleVal.noneStyle.transform, opacity: styleVal.noneStyle.opacity, cursor: styleVal.noneStyle.cursor
        }"
      placeholder="This is a text"
      @mouseover="overHandle()"
      @mouseleave="leaveHandle()"
      @focus="focusHandle()"
      @blur="blurHandle()"
    >
    <tool-bar :uuid="val.uuid" v-if="this.$store.state.isEdit"></tool-bar>
  </div>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'input-comp'
export default {
  name: comp,
  setting: {
    title: 'Input',
    icon: 'Asset-2504x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    class: [],
    noneStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '250px',
      minHeight: '40px',
      maxWidth: '100%',
      maxHeight: '100%',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'inline-block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      fontStyle: 'normal',
      color: '#000000',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '1px',
      borderRightWidth: '1px',
      borderBottomWidth: '1px',
      borderLeftWidth: '1px',
      borderStyle: 'solid',
      borderColor: '#ced4da',
      borderTopLeftRadius: '5px',
      borderTopRightRadius: '5px',
      borderBottomLeftRadius: '5px',
      borderBottomRightRadius: '5px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: 'unset',
      transitionDuration: 0,
      transitionTimingFunction: 'ease',
      transform: 'unset',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 'auto',
      textTransform: 'lowercase',
      columnCount: 'auto'
    },
    hoverStyle: {},
    focusStyle: {}
  },
  data () {
    return {
      over: false
    }
  },
  props: ['val'],
  computed: {
    id () {
      return this.$store.state.uuid
    },
    styleVal () {
      let style = this.$store.state.classes.find(i => {
        return i.name === this.val.class[0]
      })
      if (style !== undefined) {
        let noneStyle = Object.assign({}, this.val.noneStyle, style.noneStyle)
        let hoverStyle = Object.assign(
          {},
          this.val.hoverStyle,
          style.hoverStyle
        )
        let focusStyle = Object.assign(
          {},
          this.val.focusStyle,
          style.focusStyle
        )
        let data = {
          noneStyle: noneStyle,
          hoverStyle: hoverStyle,
          focusStyle: focusStyle
        }
        return data
      } else {
        return this.val
      }
    }
  },
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', { item: data.data, after: this.val })
      }
    },
    overHandle () {
      let element = document.getElementById(this.val.uuid).querySelector('input')
      let hoverItems = Object.keys(this.styleVal.hoverStyle)
      hoverItems.forEach((i, j) => {
        if (
          i !== 'marginTop' &&
          i !== 'marginLeft' &&
          i !== 'marginRight' &&
          i !== 'marginBottom'
        ) {
          element.style[i] = this.styleVal.hoverStyle[i]
        }
      })
    },
    leaveHandle () {
      let element = document.getElementById(this.val.uuid).querySelector('input')
      let noneItems = Object.keys(this.styleVal.noneStyle)
      noneItems.forEach((i, j) => {
        if (
          i !== 'marginTop' &&
          i !== 'marginLeft' &&
          i !== 'marginRight' &&
          i !== 'marginBottom'
        ) {
          element.style[i] = this.styleVal.hoverStyle[i]
        }
      })
    },
    focusHandle () {
      let element = document.getElementById(this.val.uuid).querySelector('input')
      let focusItems = Object.keys(this.styleVal.focusHandle)
      focusItems.forEach((i, j) => {
        if (
          i !== 'marginTop' &&
          i !== 'marginLeft' &&
          i !== 'marginRight' &&
          i !== 'marginBottom'
        ) {
          element.style[i] = this.styleVal.hoverStyle[i]
        }
      })
    },
    blurHandle () {
      this.leaveHandle()
    }
  },
  components: {
    toolBar
  }
}
</script>
