<template>
  <div class="media-drawer" v-if="$store.state.showMediaDrawer">
    <div class="media-tool-bar">
      <div class="w-row">
        <div class="w-col w-col-4">
          <div>
            <a
              href="#"
              class="slide-name-close-bnt w-inline-block"
              @click="$store.state.showMediaDrawer = 0"
            >
              <div class="cabinate-title">Media</div>
              <img src="@/assets/images/x-close-icon.svg" class="close-invert-bnt">
            </a>
          </div>
        </div>
        <div class="w-clearfix w-col w-col-8">
          <div class="add-new-page w-clearfix">
            <div class="content-tool-bar">
              <div class="tool-bar-instructions">Content Edit:</div>
              <a class="symbol-button w-inline-block">
                <img src="@/assets/images/copy.svg" class="symbol-icon">
              </a>
              <a class="symbol-button w-inline-block">
                <img src="@/assets/images/Asset-654x.png">
              </a>
            </div>
            <input style="display: none" type="file" ref="mediaFile" @change="uploadMediaHandle()">
            <a class="add-new-bnt w-inline-block" @click="$refs.mediaFile.click()">
              <img src="@/assets/images/Asset-604x.png" width="14">
              <div class="add-more-text">Upload Media</div>
            </a>
            <a href="#" class="add-new-bnt new-folder w-inline-block">
              <img src="@/assets/images/Asset-604x.png" width="14">
              <div class="add-more-text">New Folder</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="w-row">
        <div class="w-col w-col-9">
          <div class="media-selction">
            <a
              class="media-single w-inline-block"
              v-for="(mediaItem, index) in mediaData"
              :key="index"
            >
              <img :src="mediaItem.image_path" class="media-image-signle">
              <div class="media-name-signel">
                <div class="preview-pagen-title">{{mediaItem.image_name.split("-")[1]}}</div>
              </div>
              <div class="media-select-tool">
                <div class="w-form">
                  <form>
                    <div class="checkbox-field w-clearfix w-checkbox">
                      <input type="checkbox" class="checkbox-2 w-checkbox-input">
                      <label
                        for="checkbox-4"
                        class="checkbox-label w-form-label"
                        @click="deleteMedia(mediaItem.id)"
                      >Delete</label>
                    </div>
                  </form>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="preview-pane">
            <div class="preview-image-pane">
              <img
                src="@/assets/images/Asset-774x.png"
                width="50"
                srcset="@/assets/images/Asset-774x-p-500.png 500w, @/assets/images/Asset-774x.png 723w"
                sizes="100vw"
              >
              <div>Select anassets/ge</div>
            </div>
            <a href="#" class="preview-pane-download w-inline-block">
              <img src="@/assets/images/download.svg" width="15" class="symbol-icon">
              <div class="downlad-tag">Download</div>
            </a>
            <div class="preview-pane-details w-clearfix">
              <div class="preview-pagen-title">Created</div>
              <div class="preview-pagen-title stat">June 10th, 2018</div>
            </div>
            <div class="preview-pane-details w-clearfix">
              <div class="preview-pagen-title">Modified</div>
              <div class="preview-pagen-title stat">July 22, 2018</div>
            </div>
            <div class="preview-pane-details w-clearfix">
              <div class="preview-pagen-title">Filesize</div>
              <div class="preview-pagen-title stat">243 KB</div>
            </div>
            <div class="preview-pane-details w-clearfix">
              <div class="preview-pagen-title">Width</div>
              <div class="preview-pagen-title stat">324</div>
            </div>
            <div class="preview-pane-details w-clearfix">
              <div class="preview-pagen-title">Height</div>
              <div class="preview-pagen-title stat">600</div>
            </div>
            <div class="preview-pane-details w-clearfix">
              <div class="preview-pagen-title">File Name</div>
              <div class="preview-pagen-title stat">Junedel.pgm</div>
            </div>
            <div class="preview-pane-details w-clearfix">
              <div class="preview-pagen-title">Alt Text</div>
              <div class="preview-pagen-title stat">June-Name</div>
            </div>
            <div class="preview-pane-details w-clearfix">
              <div class="preview-pagen-title">Author</div>
              <div class="preview-pagen-title stat">Tayler Od</div>
              <img src="@/assets/images/face21.jpg" class="author-file-user">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      mediaData: []
    }
  },
  created () {
    this.$store.dispatch('getMediaHandle').then(res => {
      this.mediaData = res
    })
  },
  methods: {
    uploadMediaHandle (e) {
      let file = this.$refs.mediaFile.files[0]
      let formData = new FormData()
      formData.append('mediaFile', file)
      this.$store.dispatch('uploadMediaHandle', formData).then(
        res => {
          this.mediaData.push(res[0])
        },
        err => {
          console.log(err)
        }
      )
    },
    deleteMedia (e) {
      this.$store.dispatch('deleteMediaHandle', { id: e }).then(res => {
        let idx = this.mediaData.findIndex(i => i.id === e)
        this.mediaData.splice(idx, 1)
      })
    }
  }
}
</script>
