<template>
  <div class="toolbar" v-if="uuid === activeWidget.uuid">
    <button draggable="true" @dragstart="widgetMove($event)" class="tooltip">
      <i class="fas fa-arrows-alt"></i>
      <div class="toolbar-tooltip">
        <div>Move</div>
      </div>
    </button>
    <button draggable="true" @dragstart="widgetSort($event)" class="tooltip">
      <i class="fas fa-layer-group"></i>
      <div class="toolbar-tooltip">
        <div>Sort</div>
      </div>
    </button>
    <button class="tooltip" @click="codeEditorHandle()">
      <i class="fas fa-code"></i>
      <div class="toolbar-tooltip">
        <div>Code</div>
      </div>
    </button>
    <button @click="widgetClone()" class="tooltip">
      <i class="fa fa-clone"></i>
      <div class="toolbar-tooltip">
        <div>Clone</div>
      </div>
    </button>
    <button @click="changeTab()" class="tooltip">
      <i class="fa fa-list"></i>
      <ul class="changeTab-container">
        <li v-for="(item, i) in activeWidget.tabList" :key="i">
          <p contenteditable="true">{{item}}</p>
          <i class="fa fa-plus"></i>
          <i class="fa fa-trash"></i>
        </li>
      </ul>
    </button>
    <button @click="widgetRemove()" class="tooltip">
      <i class="fa fa-trash"></i>
      <div class="toolbar-tooltip">
        <div>Delete</div>
      </div>
    </button>
    <code-editor/>
  </div>
</template>

<script>
import eventBus from '../../../../event-bus.js'
import codeEditor from '../../../modal/code-editor.vue'
export default {
  data () {
    return {
      openCode: 0
    }
  },
  props: ['uuid'],
  computed: {
    activeWidget () {
      return this.$store.state.activeWidget
    }
  },
  components: {
    codeEditor
  },
  methods: {
    widgetMove (e) {
      let item = { data: this.activeWidget, state: 1 }
      e.dataTransfer.setData('item', JSON.stringify(item))
    },
    widgetSort (e) {
      let item = { data: this.activeWidget, state: 1, isSort: 1 }
      e.dataTransfer.setData('item', JSON.stringify(item))
    },
    widgetClone () {
      this.$store.commit('clone')
    },
    widgetRemove () {
      this.$store.commit('remove')
    },
    codeEditorHandle () {
      let htmlCode = ''
      if (this.openCode) {
        this.openCode = 0
      } else {
        this.openCode = 1
        htmlCode = document.getElementById(this.activeWidget.uuid).outerHTML
        htmlCode =
          htmlCode
            .replace(/style=".*?"/g, '')
            .replace(/data-[^=]*=".*?"/g, '')
            .replace(/<!-.*?->/g, '')
            .split('<div class="toolbar"')[0] + '</div>'
      }
      let payload = { openCode: this.openCode, htmlCode: htmlCode }
      eventBus.$emit('codeHandler', payload)
    }
  }
}
</script>

<style>
.changeTab-container {
  display: none;
  min-width: 200px;
  position: absolute;
  top: 40px;
  background-color: #ffffff;
  color: #000000;
  list-style-type: none;
}
.changeTab-container li {
  position: relative;
}
.changeTab-container li > span {
  padding: 5px;
}
.changeTab-container i {
  position: absolute;
  right: 0px;
  top: 0px;
}
</style>
