<template>
  <div id="app">
    <pulse-loader :loading="this.$store.state.spinner" :color="'#ffffff'" :size="'20px'"></pulse-loader>
    <app-store></app-store>
    <app-header></app-header>
    <router-view></router-view>
    <app-bottom-toolbar></app-bottom-toolbar>
    <app-chat-modal></app-chat-modal>
    <app-export-modal v-if="$route.path.search('/preview') !== -1"></app-export-modal>
    <app-coming-soon-modal></app-coming-soon-modal>
  </div>
</template>
<script>
import './assets/css/components.css'
import './assets/css/normalize.css'
import './assets/css/pixelcreatorbuilder.css'
import appStore from './components/app-store/index.vue'
import appHeader from './components/app-header/index.vue'
import appBottomToolbar from './components/app-bottom-toolbar/index.vue'
import appChatModal from './components/modal/app-chat-modal.vue'
import appExportModal from './components/modal/app-export-modal.vue'
import appComingSoonModal from './components/modal/app-coming-soon-modal.vue'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import eventBus from './event-bus.js'
// import widgets from './components/widgets'
export default {
  data () {
    return {}
  },
  created () {},
  mounted () {},
  components: {
    appStore,
    appHeader,
    appBottomToolbar,
    appChatModal,
    appExportModal,
    appComingSoonModal,
    PulseLoader
  }
}
</script>

<style>
.v-spinner {
  position: absolute;
  height: 100%;
  display: flex;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 10000;
  background-color: #333333;
  align-items: center;
  text-align: center;
  padding-left: calc(50% - 30px);
}
</style>
