<template>
  <div class="app-nav-left w-clearfix">
    <a class="app-tool-bar-link-left active w-inline-block" @click="toCreator()">
      <div class="active-state-text">Designer</div>
      <div class="notification-state"></div>
    </a>
    <a
      class="app-tool-bar-link-left center resize w-inline-block"
      style="padding:4px;"
      @click="$store.state.showComingSoonModal = 1"
    >
      <div class="active-state-text">Code</div>
      <div class="notification-state"></div>
    </a>
    <a
      href="#"
      class="app-tool-bar-link-left right w-inline-block"
      @click="$store.state.showComingSoonModal = 1"
    >
      <div class="active-state-text">Interactions</div>
    </a>
  </div>
</template>
<script>
export default {
  methods: {
    toCreator () {
      this.$store.state.isEdit = 1
      this.$store.state.spinner = true
      setTimeout(() => {
        this.$store.state.spinner = false
        document.getElementById('app').style.backgroundColor = 'transparent'
        this.$router.push('/creator')
      }, 1500)
    }
  }
}
</script>
<style>
.app-nav-left {
  max-width: 40vw;
  margin-right: -9vw;
}
.app-tool-bar-link-left {
  max-width: 5vw;
  font-size: 0.6vw;
}
</style>
