<template>
  <div>
    <div class="app-menu-container w-clearfix">
      <a
        href="#"
        class="add-bnt save1 w-inline-block tooltip"
        @click="$store.state.showExportModal = 1"
      >
        <img
          src="@/assets/images/Asset-404x.png"
          width="15"
          srcset="@/assets/images/Asset-404x-p-500.png 500w, @/assets/images/Asset-404x.png 750w"
          sizes="(max-width: 767px) 100vw, 20.73750114440918px"
          class="borader-select"
        >
        <div class="menu-note tooltip-down-text">
          <div>Export</div>
        </div>
      </a>
      <div class="app-menu-container w-clearfix">
        <div class="text-block-14">Module</div>
      </div>
    </div>
    <div class="viewingOpts">
      <div class="app-menu-container w-clearfix" style="margin-right: 20px;">
        <div class="text-block-14">{{viewOptions.label}}</div>
        <a
          class="add-bnt save1 w-inline-block tooltip"
          v-for="(item, j) in viewOptions.content"
          :key="j"
          @click="viewOptionsHandle(j)"
        >
          <img :src="require(`@/assets/images/${item.img}`)" width="14" :class="item.class">
          <div class="menu-note tooltip-down-text">
            <div>{{item.title}}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import eventBus from "../../event-bus.js";
export default {
  data() {
    return {
      viewOptions: {
        label: "Previews",
        content: [
          {
            title: "Previews",
            img: "Asset-114x.png",
            class: "borader-select long"
          },
          {
            title: "Desktop View",
            img: "Asset-344x.png",
            class: "borader-select"
          },
          {
            title: "Tablet View",
            img: "Asset-354x.png",
            class: "borader-select"
          },
          {
            title: "Phone View",
            img: "Asset-364x.png",
            class: "borader-select phone-rotate"
          },
          {
            title: "Phone View",
            img: "Asset-364x.png",
            class: "borader-select"
          }
        ]
      }
    };
  },
  methods: {
    viewOptionsHandle(mode) {
      this.$store.state.isEdit = 0;
      this.$store.commit("select", { uuid: -1 });
      this.$store.state.spinner = true;
      setTimeout(() => {
        this.$store.state.spinner = false;
        /** ******************* start html **********************/
        let content = document.querySelector(".main-creator").innerHTML;
        content = content.replace(/style=".*?"/g, "");
        content = content.replace(/data-[^=]*=".*?"/g, "");
        content = content.replace(/<!-.*?->/g, "");
        let html = "";
        html = `<html>
                        <head>
                            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                            <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous'>
                            <link href='http://localhost:4000/src/style.css' rel='stylesheet' type='text/css'/> 
                            <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"><\/script>
                            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"><\/script>
                        </head>
                        <body>
                            <div id='app'>${content}</div>
                            <script type='text/javascript' src='http://localhost:4000/src/main.js'><\/script>     
                        </body>
                    </html>`;
        /** ********************* end html **********************/
        /** ******************* start style *********************/
        let css = "";
        css += `@media screen and (max-width: 500px) {.col-md-1{width:100%;}.col-md-2{width: 100%;}.col-md-3{width: 100%;}.col-md-4{width: 100%;}.col-md-5{width: 100%;}.col-md-6{width: 100%;}.col-md-7{width: 100%;}.col-md-8{width: 100%;}.col-md-9{width: 100%;}.col-md-10{width: 100%;}.col-md-11{width: 100%;}.col-md-12{width: 100%;}}.form-control{display: block;width: 100%;padding: .375rem .75rem;font-size: 1em;line-height: 1.5;color: #495057;background-color: #fff;background-clip: padding-box;border: 1px solid #ced4da;border-radius: .25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;margin-bottom: 20px;}.action-btn{float: right;}.heading1 {font-size: 2em;}.heading2 {font-size: 1.5em;}.heading3 {font-size: 1.17em;}.heading4 {font-size: 1em;}.heading5 {font-size: .83em;}.heading6 {font-size: .67em;}.full-size{width: 100%; height: 100%;}.dropdown-menu{position: absolute;top: 100%;left: 0;z-index: 1000;display: none;float: left;min-width: 10rem;padding: .5rem 0;margin: .125rem 0 0;font-size: 15px;color: #212529;text-align: left;list-style: none;background-color: #fff;background-clip: padding-box;border: 1px solid rgba(0,0,0,.15);border-radius: .25rem;}.dropdown-item{min-width: 100px; display: block;width: 100%;padding: 8px 20px;clear: both;font-weight: 400;color: #212529;text-align: inherit;white-space: nowrap;background-color: transparent;border: 0;text-decoration: none !important;}.dropdown-item:hover{background-color: #007bff;color:white;}.tab-panel{display: none}.tab-panel.active{display:block}`;
        this.$store.state.widgets.forEach(i => {
          if (
            i.type === "two-column-comp" ||
            i.type === "three-column-comp" ||
            i.type === "two-seven-column-comp"
          ) {
            let keys = Object.keys(i.noneStyle);
            css += "#" + i.uuid + " {\n";
            keys.forEach(j => {
              let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
              css += key.toLowerCase() + ": " + i.noneStyle[j] + ";\n";
            });
            css += "}\n#" + i.uuid + " .sub-content {\n";
            keys.forEach(j => {
              if (
                j === "minHeight" ||
                j === "borderColor" ||
                j === "borderStyle" ||
                j === "borderTopWidth" ||
                j === "borderLeftWidth" ||
                j === "borderBottomWidth" ||
                j === "borderRightWidth"
              ) {
                let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
                css += key.toLowerCase() + ": " + i.noneStyle[j] + ";\n";
              }
            });
            css += "}\n";
            keys = Object.keys(i.hoverStyle);
            css += "#" + i.uuid + ":hover {\n";
            keys.forEach(j => {
              let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
              css += key.toLowerCase() + ": " + i.hoverStyle[j] + ";\n";
            });
            css += "}\n#" + i.uuid + ":hover .sub-content {\n";
            keys.forEach(j => {
              if (
                j === "minHeight" ||
                j === "borderColor" ||
                j === "borderStyle" ||
                j === "borderTopWidth" ||
                j === "borderLeftWidth" ||
                j === "borderBottomWidth" ||
                j === "borderRightWidth"
              ) {
                let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
                css += key.toLowerCase() + ": " + i.hoverStyle[j] + ";\n";
              }
            });
            css += "}\n";
            keys = Object.keys(i.focusStyle);
            css += "#" + i.uuid + ":focus {\n";
            keys.forEach(j => {
              let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
              css += key.toLowerCase() + ": " + i.focusStyle[j] + ";\n";
            });
            css += "}\n#" + i.uuid + ":focus .sub-content {\n";
            keys.forEach(j => {
              if (
                j === "minHeight" ||
                j === "borderColor" ||
                j === "borderStyle" ||
                j === "borderTopWidth" ||
                j === "borderLeftWidth" ||
                j === "borderBottomWidth" ||
                j === "borderRightWidth"
              ) {
                let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
                css += key.toLowerCase() + ": " + i.noneStyle[j] + ";\n";
              }
            });
            css += "}";
          } else if (i.type === "list-comp") {
            let keys = Object.keys(i.noneStyle);
            css += "#" + i.uuid + " {\n";
            keys.forEach(j => {
              let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
              css += key.toLowerCase() + ": " + i.noneStyle[j] + ";\n";
            });
            css += "}\n#" + i.uuid + " .sub-content {\n";
            keys.forEach(j => {
              if (
                j === "paddingTop" ||
                j === "paddingLeft" ||
                j === "paddingBottom" ||
                j === "paddingRight"
              ) {
                let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
                css += key.toLowerCase() + ": " + i.noneStyle[j] + ";\n";
              }
            });
            css += "}\n";
            keys = Object.keys(i.hoverStyle);
            css += "#" + i.uuid + " {\n";
            keys.forEach(j => {
              let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
              css += key.toLowerCase() + ": " + i.hoverStyle[j] + ";\n";
            });
            css += "}\n#" + i.uuid + " .sub-content {\n";
            keys.forEach(j => {
              if (
                j === "paddingTop" ||
                j === "paddingLeft" ||
                j === "paddingBottom" ||
                j === "paddingRight"
              ) {
                let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
                css += key.toLowerCase() + ": " + i.hoverStyle[j] + ";\n";
              }
            });
            css += "}\n";
            keys = Object.keys(i.focusStyle);
            css += "#" + i.uuid + " {\n";
            keys.forEach(j => {
              let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
              css += key.toLowerCase() + ": " + i.focusStyle[j] + ";\n";
            });
            css += "}\n#" + i.uuid + " .sub-content {\n";
            keys.forEach(j => {
              if (
                j === "paddingTop" ||
                j === "paddingLeft" ||
                j === "paddingBottom" ||
                j === "paddingRight"
              ) {
                let key = j.replace(/([a-z])(A-Z)/g, "$1-$2");
                css += key.toLowerCase() + ": " + i.focusStyle[j] + ";\n";
              }
            });
            css += "}\n";
          } else if (
            i.type === "textarea-comp" ||
            i.type === "selector-comp" ||
            i.type === "input-comp" ||
            i.type === "image-comp"
          ) {
            let keys = Object.keys(i.noneStyle);
            let avaliableItems = [
              "width",
              "height",
              "verticalAlign",
              "minWidth",
              "minHeight",
              "maxWidth",
              "maxHeight",
              "position",
              "top",
              "right",
              "bottom",
              "left",
              "display",
              "float",
              "clear",
              "marginTop",
              "marginRight",
              "marginBottom",
              "marginLeft",
              "zIndex"
            ];
            css += "#" + i.uuid + " {\n";
            keys.forEach(j => {
              let state = 0;
              avaliableItems.forEach(k => {
                if (k === j) {
                  state++;
                }
              });
              if (state) {
                let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
                css += key.toLowerCase() + ": " + i.noneStyle[j] + ";\n";
              }
            });
            css += "}\n#" + i.uuid + " .sub-content {\n";
            keys.forEach(j => {
              if (
                (j !== "marginTop" &&
                  j !== "marginLeft" &&
                  j !== "marginRight" &&
                  j !== "marginBottom" &&
                  j !== "width") ||
                j !== "height"
              ) {
                let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
                css += key.toLowerCase() + ": " + i.noneStyle[j] + ";\n";
              }
            });
            css += "}\n";
            keys = Object.keys(i.hoverStyle);
            css += "#" + i.uuid + ":hover {\n";
            keys.forEach(j => {
              let state = 0;
              avaliableItems.forEach(k => {
                if (k === j) {
                  state++;
                }
              });
              if (!state) {
                let key = j.replace(/([a-z])(A-Z)/g, "$1-$2");
                css += key.toLowerCase() + ": " + i.hoverStyle[j] + ";\n";
              }
            });
            css += "}\n#" + i.uuid + ":hover .sub-content {\n";
            keys.forEach(j => {
              if (
                (j !== "marginTop" &&
                  j !== "marginLeft" &&
                  j !== "marginRight" &&
                  j !== "marginBottom" &&
                  j !== "width") ||
                j !== "height"
              ) {
                let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
                css += key.toLowerCase() + ": " + i.hoverStyle[j] + ";\n";
              }
            });
            css += "}\n";
            keys = Object.keys(i.focusStyle);
            css += "#" + i.uuid + ":focus {\n";
            keys.forEach(j => {
              let state = 0;
              avaliableItems.forEach(k => {
                if (k === j) {
                  state++;
                }
              });
              if (!state) {
                let key = j.replace(/([a-z])(A-Z)/g, "$1-$2");
                css += key.toLowerCase() + ": " + i.focusStyle[j] + ";\n";
              }
            });
            css += "}\n#" + i.uuid + ":focus .sub-content {\n";
            keys.forEach(j => {
              if (
                (j !== "marginTop" &&
                  j !== "marginLeft" &&
                  j !== "marginRight" &&
                  j !== "marginBottom" &&
                  j !== "width") ||
                j !== "height"
              ) {
                let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
                css += key.toLowerCase() + ": " + i.focusStyle[j] + ";\n";
              }
            });
            css += "}\n";
          } else {
            let keys = Object.keys(i.noneStyle);
            css += "#" + i.uuid + " {\n";
            keys.forEach(j => {
              let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
              css += key.toLowerCase() + ": " + i.noneStyle[j] + ";\n";
            });
            css += "}\n";
            css += "#" + i.uuid + ":hover {\n";
            keys = Object.keys(i.hoverStyle);
            keys.forEach(j => {
              let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
              css += "   " + key.toLowerCase() + ": " + i.hoverStyle[j] + ";\n";
            });
            css += "}\n";
            css += "#" + i.uuid + ":focus {\n";
            keys = Object.keys(i.focusStyle);
            keys.forEach(j => {
              let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
              css += "   " + key.toLowerCase() + ": " + i.focusStyle[j] + ";\n";
            });
            css += "}\n";
          }
        });
        this.$store.state.classes.forEach(i => {
          // let styles = JSON.parse(JSON.stringify(i));
          let keys = Object.keys(i.noneStyle);
          css += "." + i.name + "{";
          keys.forEach(j => {
            let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
            css += key.toLowerCase() + ": " + i.noneStyle[j] + " !important;\n";
          });
          css += '}\n'
          keys = Object.keys(i.hoverStyle);
          css += "." + i.name + ":hover{\n";
          keys.forEach(j => {
            let key = j.replace(/([a-z])([A-Z])/g, "$1-$2");
            css +=
              key.toLowerCase() + ": " + i.hoverStyle[j] + " !important;\n";
          });
          css += "}";
          keys = Object.keys(i.focusStyle);
          css += "." + i.name + ":focus{\n";
          keys.forEach(j => {
            let key = j.replace(/([a-z])(A-Z)/g, "$1-$2");
            css +=
              key.toLowerCase() + ": " + i.focusStyle[i] + " !important;\n";
          });
          css += "}";
        });
        /** ******************** end style ********************/
        /** **************** start javascript *****************/
        let js = "";
        let data = JSON.stringify(this.$store.state.widgets);
        js += `$(document).ready(function(){
                    var data = ${data}
                    $('button').click(function(){
                        var id = $(this).attr('id')
                        var json = data.find(i => i.uuid === id)
                        var type = json.type
                        if (type !== undefined) {
                            if (type === 'button-comp') {
                                if (window.top !== window.self) {
                                    let href = ''
                                    if (json.href.search('http') === -1) {
                                        href = window.location.ancestorOrigins[0] + '/preview/' +json.href
                                    } else {
                                        href = json.href 
                                    }
                                    window.top.location.href = href;
                                } else {
                                    window.location.href = json.href
                                }
                            } else if (type === 'dropdown-comp') {
                                var display = $(this).find('.dropdown-menu').css('display');
                                if (display === 'none') {
                                    $(this).find('.dropdown-menu').css('display', 'block');
                                } else {
                                    $(this).find('.dropdown-menu').css('display', 'none');
                                }
                            }
                        }
                    })
                    $('.custom-tab li').click(function(){
                        var id = $(this).parents('.tab-module').attr('id')
                        var index = $(this).index()
                        $('#' + id + ' li').removeClass('active')
                        $(this).addClass('active')
                        $('#' + id + ' .tab-panel').hide()
                        $('#' + id + ' .tab-panel').eq(index).show()
                    })
                })`;
        /** ****************** end javascript ********************/
        let payload = {};
        if (this.$route.path === "/creator") {
          payload = { type: 1, html: html, css: css, js: js };
        } else {
          payload = { type: 0, html: html, css: css, js: js };
        }
        this.$store.dispatch("fileWrite", payload).then(
          res => {
            if (mode === 1) {
              //   preivew
              this.$store.state.previewMode = 1;
            } else if (mode === 2) {
              //   desktop previewe
              this.$store.state.previewMode = 2;
            } else if (mode === 3) {
              //   tablet preview
              this.$store.state.previewMode = 3;
            } else if (mode === 4) {
              //   phone preview
              this.$store.state.previewMode = 4;
            } else {
              //   phone preview
              this.$store.state.previewMode = 5;
            }
            eventBus.$emit("previewHandle");
            let route = this.$router.resolve({ path: "/preview" });
            if (this.$route.path === "/creator") {
              let html = document.querySelector(".main-creator").innerHTML;
              this.$store.state.htmlCode = html;
              window.open(route.href, "_blank");
            }
            this.$store.state.isEdit = 1;
            // this.$router.push('/preview')
          },
          err => {}
        );
      }, 1500);
    }
  }
};
</script>

<style>
.viewingOpts {
  margin-left: -7vw !important;
}
.app-menu-container {
  margin-left: -0.5vw;
  margin-right: -0.5vw;
}
</style>
