<template>
  <nav class="navbar navbar-expand-lg">
    <div data-collapse="medium" data-animation="default" data-duration="400" class="app-nav w-nav">
      <a
        href="#"
        class="brand w-nav-brand"
        @click="$store.state.showLogoMenu = !$store.state.showLogoMenu"
      >
        <img
          src="@/assets/images/pixel-creator-logo-fav-lg-2-fav-big.png"
          width="35"
          srcset="@/assets/images/pixel-creator-logo-fav-lg-2-fav-big-p-500.png 500w, @/assets/images/pixel-creator-logo-fav-lg-2-fav-big.png 970w"
          sizes="35px"
          class="sm-logo1"
        >
      </a>
      <!--LOGO MENU COMPONENT-->
      <app-logo-nav-bar></app-logo-nav-bar>
      <!--LEFT BUTTONS-->
      <app-left-buttons></app-left-buttons>
      <nav role="navigation" class="app-menu w-clearfix w-nav-menu">
        <!--PUBLISHED §BUTTON-->
        <app-publishing-and-online-indicator></app-publishing-and-online-indicator>
        <!--VIEWING BUTTONS-->
        <app-viewing-options></app-viewing-options>
        <!--PUBLOISHING MENU-->
        <app-publishing-menu></app-publishing-menu>
      </nav>
      <div class="container-3 w-container"></div>
    </div>
  </nav>
</template>
<script>
import appLogoNavBar from './app-logo-nav-bar.vue'
import appLeftButtons from './app-left-buttons.vue'
import appPublishingAndOnlineIndicator from './app-publishing-and-online-indicator.vue'
import appViewingOptions from './app-viewing-options.vue'
import appPublishingMenu from './app-publishing-menu.vue'
export default {
  components: {
    appLogoNavBar,
    appLeftButtons,
    appPublishingAndOnlineIndicator,
    appViewingOptions,
    appPublishingMenu
  }
}
</script>
<style>
.app-menu {
  max-width: 60vw;
}
</style>
